<p *ngIf="maxNotes" [ngClass]="headerClass">
  {{title}}<span *ngIf="headerClass === 'label'">:</span>
</p>

<div
  class="noteInput"
  *ngIf="(editEnabled$ | async) && showSave"
  [ngClass]="{'disabled-note': isAnyNoteEditing()}">

  <!-- Conditionally render textarea based on isAnyNoteEditing() -->
  <textarea
    #textarea
    class="inputStyling"
    *ngIf="!isAnyNoteEditing()"
    [(ngModel)]="note.note"
    [maxlength]="maxLength">
  </textarea>
  <textarea
    #textarea
    class="inputStyling"
    *ngIf="isAnyNoteEditing()"
    disabled>
  </textarea>

  <span class="notesOps">
    <label class="checkboxContainer">
      <!-- This is intentionally an html checkbox.  mat-checkbox behaves strangely here when notes are expanded to the full dialog view. -->
      <!-- Conditionally render checkbox based on isAnyNoteEditing() -->
      <input
        type="checkbox"
        class="internal-only"
        id="internalOnly"
        *ngIf="!isAnyNoteEditing()"
        [(ngModel)]="note.internalOnly">
      <input
        type="checkbox"
        class="internal-only"
        id="internalOnly"
        *ngIf="isAnyNoteEditing()"
        disabled>
        <p class="checkbox tooltipCheckBox">
            <span class="tooltiptext">{{ internalOnlyTip }}</span>
            Internal Only
        </p>
    </label>
    <button
      class="saveButton"
      [disabled]="!note.note || isAnyNoteEditing()"
      (click)="save()">
      <span class="material-symbols-outlined">save</span>Save
    </button>
  </span>
</div>

<div class="noteList" *ngFor="let note of notes; let i=index">
  <ng-container *ngIf="note && !note.editing">
    <div *ngIf="note" [ngClass]="{'disabled-note': isAnyNoteEditing() && !note.editing}">
      <div class="noteLabel">
        <div class="note-header">
          <div>
            <span>{{note.createdDate | date:'MMM dd, YYYY hh:mm a'}} | {{note.createdBy}}</span>
            <span *ngIf="!maxNotes || note.category!=type"> | {{note.category}}</span>
            <span *ngIf="note.internalOnly"> - Internal</span>
            <span *ngIf="audit"> | {{note[this.type + "Id"]}}</span>
          </div>
          <div *ngIf="showHeaderButtons" class="label-buttons">
            <span *ngIf="!isExpanded(noteText) && (note.note.length > 250 || note.note.split('\n').length > 3)" (click)="showFull(noteText)" title="Show More" class="material-symbols-outlined">
              expand_more
            </span>
            <span *ngIf="isExpanded(noteText)" (click)="showFull(noteText)" title="Show Less" class="material-symbols-outlined">
              expand_less
            </span>
            <span *ngIf="note.editable && !note.editing" title="Edit" class="material-symbols-outlined" (click)="edit(note)">
              edit
            </span>
            <span title="Copy to Clipboard" class="material-symbols-outlined" (click)="onCopyToClipboardClicked(note.note)">
              content_copy
            </span>
          </div>
        </div>
        <div *ngIf="note.editedBy || note.editedDate" class="note-sub-header">
          <div>
            <span>edited by {{note.editedBy}} | {{note.editedDate | date:'MMM dd, YYYY hh:mm a'}}</span>
          </div>
        </div>
      </div>
      <div class="noteText" #noteText [title]="getTooltip(i)" [innerText]="note.note"></div>
    </div>
  </ng-container>

  <ng-container *ngIf="note && note.editing">
    <div class="noteLabel">
      <div class="note-header">
        <div>
          <span>{{note.createdDate | date:'MMM dd, YYYY hh:mm a'}} | {{note.createdBy}}</span>
          <span *ngIf="!maxNotes || note.category!=type"> | {{note.category}}</span>
          <span *ngIf="note.internalOnly"> - Internal</span>
          <span *ngIf="audit"> | {{note[this.type + "Id"]}}</span>
        </div>
        <div *ngIf="showHeaderButtons" class="label-buttons">
          <span *ngIf="note.editable && note.editing" title="Save" class="material-symbols-outlined" (click)="save()">
            save
          </span>
          <span *ngIf="note.editable && note.editing" title="Cancel" class="material-symbols-outlined" (click)="cancelEdit()">
            close
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="note.editing" class="noteInput">
      <textarea #textarea class="inputStyling" [(ngModel)]="note.note" [maxlength]="maxLength"></textarea>
      <span class="notesOps">
        <label class="checkboxContainer">
          <!-- This is intentionally an html checkbox.  mat-checkbox behaves strangely here when notes are expanded to the full dialog view. -->
          <input type="checkbox" class="internal-only" id="internalOnly" [(ngModel)]="note.internalOnly">
          <p class="checkbox tooltipCheckBox">
              <span class="tooltiptext">{{ internalOnlyTip }}</span>
              Internal Only
          </p>
        </label>
      </span>
    </div>
  </ng-container>
</div>

<!-- Loading Spinner -->
<div *ngIf="isLoading" class="lds-ring">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<div *ngIf="maxNotes != undefined">
  <span class="v-link" (click)="openDialog()">Read More</span>
</div>
<div *ngIf="showExpand && !isLoading">
  <button class="material-symbols-outlined load-more-notes-button" (click)="getNotes()">
    expand_more
  </button>
</div>
<dialog #noteDialog class="dialog">
  <header>
    <h2>{{title}}</h2>
    <button class="material-symbols-outlined closeButton" (click)="closeDialog()">close</button>
  </header>
  <app-note *ngIf="showDialog"
            [type]="type"
            [parentId]="parentId"
            [serviceName]="serviceName"
            [showSave]="showSave"
            [audit]="audit"
            [showHeaderButtons]="true">
  </app-note>
</dialog>

