.noteInput {
  display: flex;
  flex-direction: column;
  align-items: normal;
  padding-bottom: 20px;
  position: relative;

  .inputStyling {
    box-sizing: border-box;
    height: 71px;
    width: 100%;
    background: #EDEDED;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    padding: 4px;
    word-wrap: break-word;
    font-family: 'Roboto', 'sans-serif';
    resize: none;
    &:focus {
      outline: none;
    }
  }
  .dateNote {
    position: absolute;
    font-weight: 400;
    font-size:  11px;
    right: 3px;
    top: 71px;
  }
}

.noteList {
  margin-bottom: 21px;
  border: 2px solid #EDEDED;
  border-radius: 10px;
}

.label {
  // height: 14px;
  font-style: normal;
  font-weight: 500;
  color: #636363;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

.header {
  font-size: 13px;
  font-weight: 600;
  line-height: 26px;
  padding: 0 5px;
  border-radius: 5px;
  background-color: #EDEDED;
  margin-bottom: 5px;
}

.noteLabel {
  padding: .25em .5em;
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid #EDEDED;
  display: flex;
  flex-direction: column;
  .note-header {
    color: #3E3E3E;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .note-sub-header {
    display: flex;
    flex-direction: row;
    color: #3E3E3E;
    font-size: 10px;
    font-weight: 500;
    font-style: italic;
  }
}

.label-buttons {
  display: flex;
  gap: .2em;

  span {
    font-size: 18px;
    cursor: pointer;
    padding: .1em;
    color: white;
    background-color: #5DCADE;
    border-radius: 6px;
    &:hover {
      background-color: #3871C1;
    }
  }

}

.noteText {
  word-wrap: break-word;
  color: #272727;
  font-family: 'Roboto', 'sans-serif';
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 58px;
  padding: .25em .5em;
  &.opened {
    max-height: none;
    display: block;
  }
}

.checkboxContainer {
  display: flex;
  align-items: center;
  color: #3E3E3E;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
}

.readMore {
  color:#3871C1;
  font-family: 'Roboto', 'sans-serif';
  font-size: 13px;
  font-weight: 800;
  text-decoration: none;
}

.readMore:hover {
  color: #5DCADE;
}

.notesOps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-top: 15px;
  .checkbox {
    margin-left: 8px;
    margin-top: 10px;
  }
}
.saveButton {
  display: flex;
  align-items: center;
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
  font-size: 13px;
  color: white;
  background-color: #5DCADE;
  gap: 8px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  border:none;
  border-radius: 6px;
}

.saveButton:hover {
  background: #3871C1;
}

.internal-only {
  border: 1px solid red;
  height: 24px;
}

.dialog {
  border: solid 1px;
  width: 50%;
  height: 90%;
  border-radius:6px;
  border-color:#5A5A5A;
  ::backdrop {
    background-color: #d2cbff;
    //opacity: 0.8;
  }
  header {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    h2 {
      margin-block: 0px;
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
    }
    .closeButton {
      border: none;
      background-color: transparent;
    }

    .closeButton:hover {
      background-color: #3871C1;
      color: white;
      border-radius: 6px;
    }
  }
}

.load-more-notes-button {
  display: flex;
  margin: auto;
  background-color: #5DCADE;
  border: none;
  border-radius: 5px;
  &:hover {
    background-color: #3871C1;
  }
}

.lds-ring {
  margin: auto;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #5DCADE;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #5DCADE transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.disabled-note {
  opacity: 0.5; /* Makes the note appear greyed out */
  pointer-events: none; /* Disables interaction */
}
