::ng-deep .link-service-table .abstract-table {
  height: 400px !important;
  max-height: calc(100vh - 21em) !important;
  padding: 0 .5em !important;
}

.link-service-table {
  margin-left: -1.9em;
  margin-right: -.9em;

  ::ng-deep {
    .tWrap__head {
      flex: 0 0 55px !important; 
    }
    .mdc-checkbox {
      padding: 0 !important;
      left: 10px;
      bottom: 10px;
    }
  }
}

header {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  h2 {
    margin-block: 0px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
  }
  .closeButton {
    border: none;
    background-color: transparent;
  }

  .closeButton:hover {
    background-color: #3871C1;
    color: white;
    border-radius: 6px;
  }
}

.table-actions {
  display: flex;
  gap: 1em;
  padding: .5em 0;
  justify-content: center;

  input {
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    padding: .4em;
    font-size: 14px;
    font-family: inherit;
  }

  button:not(.material-symbols-outlined) {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 13px;
    height: 30px;
    border:none;
    border-radius: 6px;
    display: flex;
    align-items: center;
  }
  
  button:enabled:not(.material-symbols-outlined) {
    cursor: pointer;
    color: white;
    background-color: #5DCADE;
  
    &:hover {
      background: #3871C1;
    }
  }
}