<form #serviceForm="ngForm" class="form">
  <div class="col">
    <!-- Provider Info -->
    <div class="header">
      <p>Provider Information</p>
      <ng-container *ngIf="editEnabled$ | async">
                <span class="material-symbols-outlined" *ngIf="!editingServiceProvider"
                      (click)="oes.toggleEditFlag('editingServiceProvider')">
                    border_color
                </span>
        <span class="material-symbols-outlined" *ngIf="editingServiceProvider" (click)="onSaveClicked()">
                    save
                </span>
      </ng-container>
    </div>
    <div class="content">
      <div class="field">
        <p class="tooltip">
          <span class="tooltiptext">{{ tooltips.providerTooltip }}</span>
          Provider
        </p>
        <vtk-select [(ngModel)]="service.provider" [name]="'provider'" [disabled]="!editingServiceProvider"
                    [isReadOnly]="!(isReadOnly$ | async)" [options]="providerOpts"></vtk-select>
      </div>
      <div class="field">
        <p class="tooltip">
          <span class="tooltiptext">{{ tooltips.accountNumberBanTooltip }}</span>
          Account Number / BAN
        </p>
        <input [(ngModel)]="service.accountNumber" name="accountNumber"
               [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p class="tooltip">
          <span class="tooltiptext">{{ tooltips.providerOrderNumberTooltip }}</span>
          Provider Order #
        </p>
        <input [(ngModel)]="service.providerOrderNum" name="providerOrderNum" [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p class="tooltip">
          <span class="tooltiptext">{{ tooltips.billCycleTooltip }}</span>
          Bill Cycle
        </p>
        <input type="number" min="1" max="31" step="1" [(ngModel)]="service.billCycle" name="billCycle"
               [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p class="tooltip">
          <span class="tooltiptext">{{ tooltips.accountPasscodeTooltip }}</span>
          Account Passcode
        </p>
        <input [(ngModel)]="service.accountPasscode" name="accountPasscode" [disabled]="!editingServiceProvider">
      </div>
    </div>

    <!-- Provider Info -->
    <div class="header">
      <p>Engineering-IAM Details</p>
      <ng-container *ngIf="editEnabled$ | async">
                <span class="material-symbols-outlined" *ngIf="!editingEngineeringIAMDetails"
                      (click)="oes.toggleEditFlag('editingEngineeringIAMDetails')">
                    border_color
                </span>
        <span class="material-symbols-outlined" *ngIf="editingEngineeringIAMDetails" (click)="onSaveClicked()">
                    save
                </span>
      </ng-container>
    </div>

    <!-- Microsoft Licensing	new	Free Text
-->
    <div class="content">
      <div class="field">
        <p class="tooltip">
          <span class="tooltiptext">{{ tooltips.microsoftLicensingTooltip }}</span>
          Microsoft Licensing
        </p>
        <input [(ngModel)]="service.microsoftLicensing" name="microsoftLicensing"
               [disabled]="!editingEngineeringIAMDetails">
      </div>

      <div class="field">
        <p class="tooltip">
          <span class="tooltiptext">{{ tooltips.numberOfUsersTooltip }}</span>
          Number of Users
        </p>
        <input type="number" min="1" max="100000" step="1" [(ngModel)]="service.numberOfUsers" name="numberOfUsers"
               [disabled]="!editingEngineeringIAMDetails">
      </div>

      <div class="field">
        <p class="tooltip">
          <span class="tooltiptext">{{ tooltips.numberOfEndpointsTooltip }}</span>
          Number of Endpoints/Devices
        </p>
        <input type="number" min="1" max="100000" step="1" [(ngModel)]="service.numberOfEndpoints" name="numberOfIPs"
               [disabled]="!editingEngineeringIAMDetails">
      </div>
      <div class="field textarea">
        <p class="tooltip">
          <span class="tooltiptext">{{ tooltips.otherTechNotesTooltip }}</span>
          Other Technical Notes
        </p>
        <textarea [(ngModel)]="service.technicalNotes" maxlength="500" name="technicalNotes"
                  [disabled]="!editingEngineeringIAMDetails" rows="5"></textarea>
      </div>
    </div>
  </div>

  <div class="col">
    <app-note #note *ngIf="this.service.id && !(isLoading$ | async)"
              type="service"
              [parentId]="service.id.toString()"
              [maxNotes]="2"
              [serviceName]="service.type"
              [showSave]="true"
              [headerClass]="'header'">
    </app-note>
    <br>
    <div *ngIf="!(isInventory$ | async)">
      <app-jeops *ngIf="this.service.id" type="service"
                 [parentId]="service.id"
                 [orderId]="service.orderId"
                 [companyId]="companyId"
                 [maxJeops]="5"
                 [headerClass]="'header'">
      </app-jeops>
    </div>
  </div>
</form>
