<form #serviceForm="ngForm" class="form">
  <div class="col">
    <!-- Provider Info -->
    <div class="header">
      <p>Provider Information</p>
      <ng-container *ngIf="editEnabled$ | async">
        <span class="material-symbols-outlined" *ngIf="!editingServiceProvider"
              (click)="oes.toggleEditFlag('editingServiceProvider')">
          border_color
        </span>
        <span class="material-symbols-outlined" *ngIf="editingServiceProvider" (click)="onSaveClicked()">
          save
        </span>
      </ng-container>
    </div>
    <div class="content">
      <div class="field">
        <p class="tooltip">
          <span class="tooltiptext">{{ tooltips.providerTooltip }}</span>
          Provider
        </p>
        <vtk-select [(ngModel)]="service.provider" [name]="'Provider'" [disabled]="!editingServiceProvider"
                    [isReadOnly]="!!(isReadOnly$ | async)" [options]="providerOpts"></vtk-select>
      </div>
      <div class="field">
        <p *ngIf="service.orderType != 'Disconnect'">Provider Order #</p>
        <p *ngIf="service.orderType == 'Disconnect'">Provider Disconnect Order #</p>
        <input [(ngModel)]="service.providerOrderNum" name="providerOrderNum" [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p>Account Number / BAN</p>
        <input [(ngModel)]="service.accountNumber" name="accountNumber"
               [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p>Account Passcode</p>
        <input [(ngModel)]="service.accountPasscode" name="accountPasscode" [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p>Summary Bill</p>
        <input [(ngModel)]="service.summaryBill" name="summaryBill"
               [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p>Bill Cycle</p>
        <input type="number" min="1" max="31" step="1" [(ngModel)]="service.billCycle" name="billCycle" [disabled]="!editingServiceProvider">
      </div>
    </div>
    <!-- Circuit Details -->
    <div class="header">
      <p>Circuit Details</p>
      <ng-container *ngIf="editEnabled$ | async">
        <span class="material-symbols-outlined" *ngIf="!editingServiceCircuit"
              (click)="oes.toggleEditFlag('editingServiceCircuit')">
          border_color
        </span>
        <span class="material-symbols-outlined" *ngIf="editingServiceCircuit" (click)="onSaveClicked()">
          save
        </span>
      </ng-container>
    </div>
    <div class="content">
      <div class="field">
        <p>OSP Construction Interval Estimate</p>
        <vtk-select [(ngModel)]="service.ospConstIntervalEst" [name]="'ospConstIntervalEst'" [disabled]="!editingServiceCircuit" [isReadOnly]="!!(isReadOnly$ | async)" [options]="constructionIntervalOpts"></vtk-select>
      </div>
      <div class="field">
        <p>Inside Wiring Required</p>
        <vtk-select [(ngModel)]="service.insideWiringRequired" [name]="'insideWiringRequired'" [disabled]="!editingServiceCircuit" [isReadOnly]="!!(isReadOnly$ | async)" [options]="yesNoOpts"></vtk-select>
      </div>
      <div class="field">
        <p>Provider Circuit ID</p>
        <input [(ngModel)]="service.providerCircuitId" name="providerCircuitId" [disabled]="!editingServiceCircuit">
      </div>
      <div class="field">
        <p>DMARC</p>
        <input [(ngModel)]="service.dmarc" name="dmarc" [disabled]="!editingServiceCircuit">
      </div>
      <div class="field">
        <p>Location Hours</p>
        <input [(ngModel)]="service.locationHours" name="locationHours" [disabled]="!editingServiceCircuit">
      </div>
      <hr>
      <div class="field">
        <p>Product Speed</p>
        <input [(ngModel)]="service.speed" name="speed" [disabled]="true">
      </div>
      <div class="field">
        <p>Download Speed</p>
        <vtk-select [ngModel]="service.downloadSpeed" (ngModelChange)="service.setDownloadSpeed($event)" [name]="'downloadSpeed'" [disabled]="!editingServiceCircuit" [isReadOnly]="!!(isReadOnly$ | async)" [options]="speedOpts"></vtk-select>
      </div>
      <div class="field">
        <p>Upload Speed</p>
        <vtk-select [ngModel]="service.uploadSpeed" (ngModelChange)="service.setUploadSpeed($event)" [name]="'uploadSpeed'" [disabled]="!editingServiceCircuit" [isReadOnly]="!!(isReadOnly$ | async)" [options]="speedOpts"></vtk-select>
      </div>
      <div class="field">
        <p>Media Type</p>
        <vtk-select [(ngModel)]="service.mediaType" [name]="'mediaType'" [disabled]="!editingServiceCircuit" [isReadOnly]="!!(isReadOnly$ | async)" [options]="mediaTypeOpts"></vtk-select>
      </div>
      <div class="field">
        <p>Net Status</p>
        <vtk-select [(ngModel)]="service.netStatus" [name]="'netStatus'" [disabled]="!editingServiceCircuit" [isReadOnly]="!!(isReadOnly$ | async)" [options]="netStatusOpts"></vtk-select>
      </div>
      <div class="field">
        <p>Building Status</p>
        <vtk-select [(ngModel)]="service.buildingStatus" [name]="'buildingStatus'" [disabled]="!editingServiceCircuit" [isReadOnly]="!!(isReadOnly$ | async)" [options]="buildingStatusOpts"></vtk-select>
      </div>
      <div class="field">
        <p>Product Install Interval</p>
        <vtk-select [(ngModel)]="service.productInstallInterval" [name]="'productInstallInterval'" [disabled]="!editingServiceCircuit" [isReadOnly]="!!(isReadOnly$ | async)" [options]="installIntervalOpts"></vtk-select>
      </div>
      <div class="field">
        <p>Additional IP Block Required</p>
        <vtk-select [(ngModel)]="service.additionalIpBlockRequired" [name]="'additionalIpBlockRequired'" [disabled]="!editingServiceCircuit" [isReadOnly]="!!(isReadOnly$ | async)" [options]="yesNoOpts"></vtk-select>
      </div>
    </div>
  </div>
  <div class="col">
    <!-- Provider Equipment -->
    <div class="header">
      <p>Provider Equipment</p>
      <ng-container *ngIf="editEnabled$ | async">
        <span class="material-symbols-outlined" *ngIf="!editingServiceEquipment"
              (click)="oes.toggleEditFlag('editingServiceEquipment')">
          border_color
        </span>
        <span class="material-symbols-outlined" *ngIf="editingServiceEquipment" (click)="onSaveClicked()">
          save
        </span>
      </ng-container>
    </div>
    <div class="content">
      <div class="field">
        <p>Modem</p>
        <input [(ngModel)]="service.modemMake" name="modemMake" [disabled]="!editingServiceEquipment"/>
      </div>
      <div class="field">
        <p>Modem MAC</p>
        <input [(ngModel)]="service.macAddress" name="macAddress" [disabled]="!editingServiceEquipment"/>
      </div>
    </div>
    <!-- Network Info -->
    <div class="header">
      <p>Network Information</p>
      <ng-container *ngIf="editEnabled$ | async">
        <span class="material-symbols-outlined" *ngIf="!editingServiceNetwork"
              (click)="oes.toggleEditFlag('editingServiceNetwork')">
          border_color
        </span>
        <span class="material-symbols-outlined" *ngIf="editingServiceNetwork" (click)="onSaveClicked()">
          save
        </span>
      </ng-container>
    </div>
    <div class="content">
      <div class="field">
        <p>Network Protocol</p>
        <vtk-select [ngModel]="service.networkProtocol" (ngModelChange)="onNetworkProtocolChanged($event)" [name]="'networkProtocol'" [disabled]="!editingServiceNetwork" [isReadOnly]="!!(isReadOnly$ | async)" [options]="networkProtocolOpts"></vtk-select>
      </div>
      <ng-container *ngIf="service.networkProtocol == 'PPPoE'">
        <div class="field">
          <p>PPPoE Username</p>
          <input [(ngModel)]="service.pppoeUsername" name="pppoeUsername" [disabled]="!editingServiceNetwork">
        </div>
        <div class="field">
          <p>PPPoE Password</p>
          <input [(ngModel)]="service.pppoePassword" name="pppoePassword" [disabled]="!editingServiceNetwork">
        </div>
      </ng-container>
    </div>
    <!-- IP Info -->
    <ng-container *ngIf="service.networkProtocol == 'Static'">
      <div class="header">
        <p>IP Information</p>
      </div>
      <div class="content">
        <div class="field">
          <p>IP Format</p>
          <div class="radio-options">
            <input type="radio" [ngModel]="service.ipFormat" (ngModelChange)="onIpFormatChanged($event)" name="ipFormat"
                 value="IPv4" [ngStyle]="!editingServiceNetwork ? {'pointer-events': 'none', 'accent-color': '#3E3E3E'} : {}">
            <p>IPv4</p>
            <input type="radio" [ngModel]="service.ipFormat" (ngModelChange)="onIpFormatChanged($event)" name="ipFormat"
                  value="IPv6" [ngStyle]="!editingServiceNetwork ? {'pointer-events': 'none', 'accent-color': '#3E3E3E'} : {}">
            <p>IPv6</p>
          </div>
        </div>

        <ng-container *ngIf="service.ipFormat == 'IPv4' || service.ipFormat == 'IPv6'">
          <div class="field">
            <p>WAN Block</p>
            <vtk-select [ngModel]="service.additionalIpBlock" (ngModelChange)="onWanBlockChanged($event)" name="additionalIpBlock" [disabled]="!editingServiceNetwork" [isReadOnly]="!!(isReadOnly$ | async)" [options]="ipBlockOpts"></vtk-select>
          </div>
          <div class="field">
            <p>WAN IPs</p>
            <input [(ngModel)]="service.wanIps" name="wanIps" [disabled]="!editingServiceNetwork">
          </div>
          <div class="field">
            <p>WAN Gateway</p>
            <input [(ngModel)]="service.wanGateway" name="wanGateway" [disabled]="!editingServiceNetwork"
                   appIpAddress={{service.ipFormat}}>
          </div>
          <div class="field">
            <p>WAN Subnet</p>
            <input [(ngModel)]="service.wanSubnet" name="wanSubnet" [disabled]="!editingServiceNetwork"
                   appIpAddress={{service.ipFormat}}>
          </div>
          <hr>
          <div class="field">
            <p>LAN Block</p>
            <vtk-select [ngModel]="service.lanBlock" (ngModelChange)="onLanBlockChanged($event)" name="lanBlock" [disabled]="!editingServiceNetwork" [isReadOnly]="!!(isReadOnly$ | async)" [options]="ipBlockOpts"></vtk-select>
          </div>
          <ng-container *ngIf="service.lanBlock != 'No'">
            <div class="field">
              <p>LAN IPs</p>
              <input [(ngModel)]="service.lanIps" name="lanIps" [disabled]="!editingServiceNetwork">
            </div>
            <div class="field">
              <p>LAN Gateway</p>
              <input [(ngModel)]="service.lanGateway" name="lanGateway" [disabled]="!editingServiceNetwork"
                     appIpAddress={{service.ipFormat}}>
            </div>
            <div class="field">
              <p>LAN Subnet</p>
              <input [(ngModel)]="service.lanSubnet" name="lanSubnet" [disabled]="!editingServiceNetwork"
                     appIpAddress={{service.ipFormat}}>
            </div>
          </ng-container>
          <div class="field">
            <p>DNS1</p>
            <input [(ngModel)]="service.dns1" name="dns1" [disabled]="!editingServiceNetwork"
                   appIpAddress={{service.ipFormat}}>
          </div>
          <div class="field">
            <p>DNS2</p>
            <input [(ngModel)]="service.dns2" name="dns2" [disabled]="!editingServiceNetwork"
                   appIpAddress={{service.ipFormat}}>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <div class="header">
      <p>Service Prioritization</p>
      <ng-container *ngIf="editEnabled$ | async">
        <span class="material-symbols-outlined" *ngIf="!editingServicePrioritization" (click)="oes.toggleEditFlag('editingServicePrioritization')">
          border_color
        </span>
        <span class="material-symbols-outlined" *ngIf="editingServicePrioritization" (click)="onSaveClicked()">
          save
        </span>
      </ng-container>
    </div>
    <div class="content">
      <div class="check-row">
        <div class="field">
          <mat-checkbox [(ngModel)]="service.expediteOrder" name="expediteOrder" [disabled]="!editingServicePrioritization" ></mat-checkbox>
          <p>Expedite Order</p>
        </div>
      </div>
      <div class="field">
        <p>TSP Code</p>
        <input [(ngModel)]="service.tspCode" name="tspCode" [disabled]="!editingServicePrioritization">
      </div>
      <div class="field">
        <p>
          TSP Code Expiration Date
        </p>
        <app-datepicker [(date)]="service.tspCodeExpirationDate" name="tspCodeExpirationDate"
                        [disabled]="!editingServicePrioritization"></app-datepicker>
      </div>
    </div>
  </div>
  <div class="col">
    <app-note #note *ngIf="this.service.id && !(isLoading$ | async)"
              type="service"
              [parentId]="service.id.toString()"
              [maxNotes]="2"
              [serviceName]="service.type"
              [showSave]="true"
              [headerClass]="'header'">
    </app-note>
    <br>
    <div *ngIf="!(isInventory$ | async)">
    <app-jeops *ngIf="this.service.id" type="service"
               [parentId]="service.id"
               [orderId]="service.orderId"
               [companyId]="companyId"
               [maxJeops]="5"
               [headerClass]="'header'">
    </app-jeops>
  </div>
  </div>
</form>
