<div class="header" mat-dialog-title>
  <h2>
    Account Onboarding Tasks Manager
  </h2>
  <mat-icon (click)="onCloseClicked()">
    close
  </mat-icon>
</div>
<div class="dialog-container">

  <ng-container *ngIf="!selectedTaskGroup">
    <div class="header-buttons">
      <button (click)="onAddTaskGroupClicked()">Configure New Task Group</button>
    </div>
    <app-task-group-table #table class="task-table"
      [columns]="(columns$ | async) || []"
      [tableData]="(tableData$ | async) || []"
      [tableTotal]="(tableTotal$ | async)"
      [searchCriteria]="(searchCriteria$ | async)"
      (rowDblClick)="onTaskGroupDblClicked($event)"
      (changeSortClicked)="onChangeSortClicked($event)"
      (pageClicked)="onFilterChanged($event, 'offset')">
    </app-task-group-table>
  </ng-container>

  <form #form="ngForm" *ngIf="selectedTaskGroup">
    <div class="body">
      <div>
        <div class="columns">
          <div class="column">
            <mat-form-field>
              <mat-label>Task Group Name</mat-label>
              <input matInput type="text" class="new-template-input" [(ngModel)]="selectedTaskGroup.name" [required]="true" name="name" placeholder="Provide a name for the group of tasks..."/>
            </mat-form-field>
          </div>
          <div class="column">
            <mat-checkbox class="cust-checkbox" [(ngModel)]="selectedTaskGroup.default" name="default">
              Default Onboarding Task Group
              <mat-icon matTooltip="This will automatically generate this set of tasks for any NEW Master Customers" aria-label="Info icon" class="material-symbols-outlined">info</mat-icon>
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="selectedTaskGroup.active" name="active">Active</mat-checkbox>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <h2>Available Tasks</h2>
            <div id="sourceList1" class="task-list">
              <div *ngFor="let item of sourceTasks" class="task-box" [class.inactive]="!item.active" [draggable]="isDraggable(item)"
              (dragstart)="onLeftDragStart($event, item)">
                {{ item.value }}
              </div>
            </div>
          </div>

          <div id="targetList2out" class="column" (drop)="onDrop($event)" (dragover)="onParentDragOver($event)" (dragleave)="onDragLeave($event)" (dragenter)="onDragEnter($event)" (dragend)="onDragEnd($event)">
            <h2>Assigned Tasks</h2>
            <div #rightList id="target-list" class="task-list">
              <div id="targetList2x" *ngFor="let item of targetTasks; let i = index" class="task-box" draggable="true"
              (dragstart)="onRightDragStart($event, item)"  (dragover)="onChildDragOver($event, item)">
                {{i+1}}: {{ item.value }}
              </div>
              <div #placeholder [ngStyle]="placeholderStyles"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <ng-container *ngIf="selectedTaskGroup">
        <button (click)="onDeleteClicked(selectedTaskGroup)" [disabled]="!selectedTaskGroup">
          <span class="material-symbols-outlined">delete</span>Delete
        </button>
        <button (click)="onSaveClicked(selectedTaskGroup)" [disabled]="!selectedTaskGroup || form.invalid">
          <span class="material-symbols-outlined">save</span>Save
        </button>
      </ng-container>
      <button (click)="onCancelClicked()">Cancel</button>
    </div>
  </form>
</div>
