.cost-history-table {
  margin-left: -1.9em;
  margin-right: -.9em;
}

header {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  h2 {
    margin-block: 0px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
  }
  .closeButton {
    border: none;
    background-color: transparent;
  }

  .closeButton:hover {
    background-color: #3871C1;
    color: white;
    border-radius: 6px;
  }
}

.table-actions {
  display: flex;
  gap: 1em;
  padding: .5em 0;
}

.meta-counts {
  display: flex;
  gap: 2em;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  font-family: Roboto, sans-serif;

  .meta-count {
    display: flex;
    gap: .5em;

    .material-symbols-outlined {
      font-size: 14px;
      line-height: unset;
    }
    .red {
      color:#FC4242;
    }
    .green {
      color: #31A240;
    }
  }
}

.table-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  .loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
  }
}