<div>
  <header class="header">
    <h2 mat-dialog-title>Cost History</h2>
    <button class="material-symbols-outlined closeButton" (click)="onClose()">close</button>
  </header>
  <div class="table-actions" *ngIf="(searchCriteria$ | async) as searchCriteria">
    <app-dropdown
      [placeholder]="'Cost Type'"
      [selected]="searchCriteria.costType"
      [options]="costTypeOpts"
      (onSelectedChanged)="onFilterChanged($event, 'costType')">
    </app-dropdown>
    <app-dropdown *ngIf="data.type == 'location'"
      [placeholder]="'Service ID'"
      [selected]="searchCriteria.serviceId"
      [options]="(serviceIdOpts$ | async) || []"
      (onSelectedChanged)="onFilterChanged($event, 'serviceId')">
    </app-dropdown>
    <div class="meta-counts" *ngIf="data.type == 'service' && (meta$ | async) as meta">
      <div class="meta-count">
        <p>MRC Change This Year: </p>
        <span class="material-symbols-outlined green" *ngIf="meta.costChangeThisYear >= 0">
          arrow_upward
        </span>
        <span class="material-symbols-outlined red" *ngIf="meta.costChangeThisYear < 0">
          arrow_downward
        </span>
        <p [ngStyle]="meta.costChangeThisYear >= 0 ? {color: '#31A240'} : {color: '#FC4242'}">{{meta.costChangeThisYear | currency}}</p>
      </div>
      <div class="meta-count">
        <p>MRC Change - Lifetime: </p>
        <span class="material-symbols-outlined green" *ngIf="meta.costChangeLifetime >= 0">
          arrow_upward
        </span>
        <span class="material-symbols-outlined red" *ngIf="meta.costChangeLifetime < 0">
          arrow_downward
        </span>
        <p [ngStyle]="meta.costChangeThisYear >= 0 ? {color: '#31A240'} : {color: '#FC4242'}">{{meta.costChangeLifetime | currency}}</p>
      </div>
    </div>
  </div>
  
  <div class="table-wrapper">
    <div class="loader" *ngIf="(isLoading$ | async)">
      <mat-spinner></mat-spinner>
    </div>
    <app-cost-history-table class="cost-history-table"
      [columns]="(columns$ | async) || []"
      [tableData]="(tableData$ | async) || []"
      [tableTotal]="(tableTotal$ | async)"
      [searchCriteria]="(searchCriteria$ | async)"
      (changeSortClicked)="onChangeSortClicked($event)"
      (pageClicked)="onFilterChanged($event, 'offset')">
    </app-cost-history-table>
  </div>
</div>