dialog {
  border: 1px solid #333333;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;

  p {
    margin: 0;
    padding: 0 0 .5em 0;
  }

  .message {
    white-space: pre-wrap;
  }

  .header {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }

  button {
    font-family: inherit;
    background-color: #F8F8F8;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    padding: .5em 1em;
    cursor: pointer;

    &:hover {
      background-color: #5DCADE;
      color: #FFFFFF;
    }
  }
}