.header-buttons {
  display: flex;
  padding: 1em 1em 0 2em;
  button {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 13px;
    height: 30px;
    border:none;
    border-radius: 6px;
    display: flex;
    align-items: center;
  }

  button:enabled {
    cursor: pointer;
    color: white;
    background-color: #5DCADE;

    &:hover {
      background: #3871C1;
    }
  }
}

.disputes-table {
  padding-top: 1em;
}

.button-col {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.buttons {
  justify-content: flex-end !important;
}
.datepicker-field p {
  cursor: pointer;
}
.datepicker-field app-datepicker {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.note-input {
  display: flex;
  flex-direction: column;
  align-items: normal;
  padding-bottom: 20px;
  position: relative;

  .input-styling {
    box-sizing: border-box;
    height: 71px;
    width: 100%;
    background: #EDEDED;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    padding: 4px;
    word-wrap: break-word;
    font-family: 'Roboto', 'sans-serif';
    resize: none;
    &:focus {
      outline: none;
    }
  }
  .date-note {
    position: absolute;
    font-weight: 400;
    font-size:  11px;
    right: 3px;
    top: 71px;
  }
}

.meta-data {
  display: flex;
  gap: 2em;
  font-size: 12px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  padding: 8px 24px 0;
  margin-bottom: -20px;
}