<input #input matInput
  [matDatepicker]="picker"
  [ngModel]="getDisplayDate()"
  (ngModelChange)="onDateSelected($event)"
  name={{name}}
  [disabled]="disabled"
  [max]="max"
  [min]="min"
  [required]="required"
  onkeypress="return false;"
  onkeydown="return false;"
  (click)="picker.open()">
<mat-datepicker #picker>
  <mat-datepicker-actions class="actions">
    <button mat-button *ngIf="date" (click)="onClear(); picker.close()">Clear</button>
    <button mat-raised-button matDatepickerApply>Apply</button>
  </mat-datepicker-actions>
</mat-datepicker>
