
<form #scheduleForm="ngForm" class="form">
  <!-- First Col -->
  <div class="col">
    <div class="content">
      <div class="field">
        <p>Dispatch Vendor</p>
        <select [ngModel]="schedule.vendor" (ngModelChange)="onDispatchVendorSelected($event)" name="vendor"
        [disabled]="!editEnabled" required>
          <option [ngValue]="null" disabled selected hidden>Select...</option>
          <option *ngFor="let opt of dispatchVendorOpts" value={{opt}}>{{opt}}</option>
        </select>
      </div>
      <ng-container *ngIf="isEndeavor()">
        <div class="field">
          <p>Order Type Sort 1</p>
          <select [title]="orderTypeSort1" [ngModel]="orderTypeSort1" (ngModelChange)="onSort1Selected($event)"
                  name="ftdiOrderTypeSort1" [disabled]="!editEnabled" required>
            <option [ngValue]="null" disabled selected hidden>Select...</option>
            <option *ngFor="let opt of sort1Opts" [ngValue]="opt">{{opt}}</option>
          </select>
        </div>
        <div class="field">
          <p>Order Type Sort 2</p>
          <select [title]="orderTypeSort2" [ngModel]="orderTypeSort2" (ngModelChange)="onSort2Selected($event)"
                  name="ftdiOrderTypeSort2" [disabled]="!editEnabled || !orderTypeSort1" required>
            <option [ngValue]="null" disabled selected hidden>Select...</option>
            <option *ngFor="let opt of sort2Opts" [ngValue]="opt">{{opt}}</option>
          </select>
        </div>
        <div class="field">
          <p>Order Type</p>
          <select [title]="getOrderTypeTitleText()" [ngModel]="schedule.ftdiOrderTypeId"
                  (ngModelChange)="onOrderTypeSelected($event)" name="ftdiOrderTypeId"
                  [disabled]="!editEnabled || !orderTypeSort2" required>
            <option [ngValue]="null" disabled selected hidden>Select...</option>
            <option *ngFor="let opt of orderTypeOpts" [ngValue]="opt.id">{{opt.orderType}}</option>
          </select>
        </div>
      </ng-container>
      <div class="header" *ngIf="isEndeavor()">Techincal Note</div>
      <div class="header" *ngIf="!isEndeavor()">Notes</div>
      <div class="field textarea">
        <textarea class="resizable" [(ngModel)]="schedule.technicalNote" name="technicalNote" rows="5"
                  maxlength="500" [disabled]="!editEnabled"></textarea>
      </div>
      <ng-container *ngIf="isEndeavor()">
        <div class="header">
          Description
        </div>
        <div class="field textarea">
          <textarea class="resizable" [(ngModel)]="schedule.description" name="description" rows="5" maxlength="500"
                    [disabled]="!editEnabled"></textarea>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Second Col -->
  <div class="col">
    <div class="content">
      <div class="field">
        <p >Requested Date</p>
        <app-datetimepicker #requestedDate [(date)]="schedule.requestedDate" name="requestedDate" [required]="true" [disabled]="!editEnabled && !editingRequestedDate"></app-datetimepicker>
      </div>
      <ng-container *ngIf="isEndeavor()">
        <div class="field">
          <p>Latest Requested Date</p>
          <app-datetimepicker *ngIf="editEnabled" [(date)]="schedule.latestRequestedDate" name="latestRequestedDate"></app-datetimepicker>
        </div>
        <div class="field">
          <p>Requested Days</p>
          <app-dropdown *ngIf="editEnabled$" [placeholder]="'Select...'" [options]="dayOpts"
                        (onSelectedChanged)="schedule.requestedDays=$event" [multiSelect]="true"
                        [selected]="schedule.requestedDays"></app-dropdown>
          <p *ngIf="!editEnabled$">{{schedule.requestedDays}}</p>
        </div>
        <ng-container *ngIf="this.getCustomFields().length > 0">
          <div class="header">
            <p>Custom Fields</p>
          </div>
          <div class="content">
            <div class="field" *ngFor="let customField of this.getCustomFields()">
              <p>{{customField.fieldName}}</p>
              <ng-container [ngSwitch]="customField.dataType">
                <mat-checkbox *ngSwitchCase="'Boolean'" [ngModel]="getCustomFieldValue(customField)"
                       name="{{customField.fieldName}}" (input)="onCustomFieldInput($event, customField)"
                       [disabled]="!editEnabled"></mat-checkbox>
                <ng-container *ngSwitchCase="'Date'">
                  <!-- hack for the "If Hard ETA needed, please specify ETA time" custom field -->
                  <div *ngIf="'If Hard ETA needed, please specify ETA time' == customField.fieldName; else dateField">
                    <select class="time" [ngModel]="hour" (ngModelChange)="onTimeChange($event, 'hour', customField)" name="hour" [disabled]="!editEnabled">
                      <option [ngValue]="null" disabled selected hidden></option>
                      <option *ngFor="let opt of hourOpts" [ngValue]="opt">{{opt}}</option>
                    </select>
                    <select class="time" [ngModel]="minute" (ngModelChange)="onTimeChange($event, 'minute', customField)" name="minute" [disabled]="!editEnabled">
                      <option [ngValue]="null" disabled selected hidden></option>
                      <option *ngFor="let opt of minOpts" [ngValue]="opt">{{opt}}</option>
                    </select>
                    <select class="time" [ngModel]="ampm" (ngModelChange)="onTimeChange($event, 'ampm', customField)" name="ampm" [disabled]="!editEnabled">
                      <option [ngValue]="null" disabled selected hidden></option>
                      <option *ngFor="let opt of amPmOpts" [ngValue]="opt">{{opt}}</option>
                    </select>
                  </div>
                  <!-- end of hack -->
                  <ng-template #dateField>
                    <input  type="date" [ngModel]="getCustomFieldValue(customField)"
                      name="{{customField.fieldName}}" (input)="onCustomFieldInput($event, customField)"
                      [disabled]="!editEnabled">
                  </ng-template>
                </ng-container>
                <select *ngSwitchCase="'List'" [ngModel]="getCustomFieldValue(customField)"
                        name="{{customField.fieldName}}" (input)="onCustomFieldInput($event, customField)"
                        [disabled]="!editEnabled">
                  <option [ngValue]="null" disabled selected hidden>Select...</option>
                  <option *ngFor="let opt of customField.values" value="{{opt.fieldValue}}">{{opt.fieldValue}}</option>
                </select>
                <input *ngSwitchDefault [ngModel]="getCustomFieldValue(customField)" name="{{customField.fieldName}}"
                       (input)="onCustomFieldInput($event, customField)" [disabled]="!editEnabled">
              </ng-container>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <!-- Third Col -->
  <div class="col button-col">
    <div class="content" *ngIf="isEndeavor()">
      <div class="header">
        <p>Equipment</p>
      </div>
      <ng-container *ngIf="editEnabled$">
        <div class="field">
          <p>Equipment</p>
          <select [(ngModel)]="equipmentType" name="equipment" [disabled]="!editEnabled || !schedule.ftdiOrderTypeId">
            <option [ngValue]="null" disabled selected hidden>Select...</option>
            <option *ngFor="let opt of getEquipmentOpts()" [ngValue]="opt">{{opt.equipmentType}}</option>
          </select>
        </div>
        <div class="field">
          <p>Equipment Quantity</p>
          <input type="number" [(ngModel)]="equipmentQuantity" name="equipmentQuantity"
                 [disabled]="!editEnabled || !schedule.ftdiOrderTypeId">
        </div>
        <div class="field">
          <button *ngIf="!editEnabled$" class="add-equipment-button" (click)="onAddEquipmentClicked()">
            Add Equipment
          </button>
        </div>
      </ng-container>
      <table class="equipment-table">
        <tbody>
        <tr *ngFor="let equip of schedule.equipment; let i = index">
          <td>{{equip.quantity}}</td>
          <td>{{equip.equipmentType}}</td>
          <td>
              <span *ngIf="editEnabled$" class="material-symbols-outlined" (click)="onDeleteEquipmentClicked(i)">
                delete
              </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="content" *ngIf="isEndeavor()">
      <div class="header">
        <p>FTDI Dispatches</p>
      </div>
      <table class="dispatch-table">
        <thead>
        <th>Status</th>
        <th>Vendor ID</th>
        <th>Order Type</th>
        <th>Error String</th>
        </thead>
        <tbody>
        <tr *ngFor="let dispatch of schedule.dispatches">
          <td>{{dispatch.status}}</td>
          <td>{{dispatch.vendorDispatchId}}</td>
          <td>{{dispatch.orderType}}</td>
          <td>{{dispatch.errorString}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="buttons" *ngIf="(editEnabled$ | async)">
      <button class="v-button" *ngIf="!schedule.id" (click)="onCancelClicked()">Cancel</button>
      <button class="v-button" (click)="onSaveClicked()" [disabled]="scheduleForm.invalid || !requestedDate.requiredFieldsPopulated()">
        <span class="material-symbols-outlined">
          save
        </span>
        Save
      </button>
      <button *ngIf="schedule.id && isEndeavor()" (click)="onPushClicked()"
              [disabled]="scheduleForm.invalid">Request Dispatch
      </button>
    </div>
  </div>
</form>

<app-loading-spinner *ngIf="isLoading && isEndeavor()"></app-loading-spinner>
