<form #serviceForm="ngForm" class="form">
  <div class="col">

    <!-- Provider Information -->
    <div class="header">
      <p>Provider Information</p>
      <ng-container *ngIf="editEnabled$ | async">
        <span class="material-symbols-outlined" *ngIf="!editingServiceProvider" (click)="oes.toggleEditFlag('editingServiceProvider')">
          border_color
        </span>
        <span class="material-symbols-outlined" *ngIf="editingServiceProvider" (click)="onSaveClicked()">
          save
        </span>
      </ng-container>
    </div>
    <div class="content">
      <div class="field">
        <p class="tooltip">
          <span class="tooltiptext">{{ tooltips.providerTooltip }}</span>
          Provider
        </p>
        <vtk-select [(ngModel)]="service.provider" name="provider" [disabled]="!editingServiceProvider"
                    [isReadOnly]="!!(isReadOnly$ | async)" [options]="providerOpts"></vtk-select>
      </div>
      <div class="field">
        <p>Provider Order #</p>
        <input [(ngModel)]="service.providerOrderNum" name="providerOrderNum" [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p>Account Number / BAN</p>
        <input [(ngModel)]="service.accountNumber" name="accountNumber"
               [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p>Account Passcode</p>
        <input [(ngModel)]="service.accountPasscode" name="accountPasscode" [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p>Summary Bill</p>
        <input [(ngModel)]="service.summaryBill" name="summaryBill"
               [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p>Bill Cycle</p>
        <input type="number" min="1" max="31" step="1" [(ngModel)]="service.billCycle" name="billCycle" [disabled]="!editingServiceProvider">
      </div>
    </div>

    <div class="header">
      <p>Circuit Details</p>
      <ng-container *ngIf="editEnabled$ | async">
        <span class="material-symbols-outlined" *ngIf="!editingServiceCircuit" (click)="oes.toggleEditFlag('editingServiceCircuit')">
          border_color
        </span>
        <span class="material-symbols-outlined" *ngIf="editingServiceCircuit" (click)="onSaveClicked()">
          save
        </span>
      </ng-container>
    </div>
    <div class="content">
      <div class="check-row">
        <div class="field">
          <mat-checkbox [(ngModel)]="service.hasOsp" name="hasOsp" [disabled]="!editingServiceCircuit"></mat-checkbox>
          <p>OSP Construction</p>
        </div>
      </div>
      <div class="field">
        <p>Inside Wiring Required</p>
        <vtk-select [(ngModel)]="service.insideWiringRequired" name="insideWiringRequired" [disabled]="!editingServiceCircuit" [isReadOnly]="!!(isReadOnly$ | async)" [options]="yesNoOpts"></vtk-select>
      </div>
      <hr>
      <div class="field">
        <p>Product Type</p>
        <vtk-select [(ngModel)]="service.productType" name="productType" [disabled]="!editingServiceCircuit" [isReadOnly]="!!(isReadOnly$ | async)" [options]="productTypeOpts"></vtk-select>
      </div>
      <div class="field">
        <p>Port Speed</p>
        <vtk-select [(ngModel)]="service.portSpeed" name="portSpeed" [disabled]="!editingServiceCircuit" [isReadOnly]="!!(isReadOnly$ | async)" [options]="speedOpts"></vtk-select>
      </div>
      <div class="field">
        <p>Access Speed</p>
        <vtk-select [(ngModel)]="service.accessSpeed" name="accessSpeed" [disabled]="!editingServiceCircuit" [isReadOnly]="!!(isReadOnly$ | async)" [options]="speedOpts"></vtk-select>
      </div>
      <div class="field">
        <p>EA Speed</p>
        <vtk-select [(ngModel)]="service.eaSpeed" name="eaSpeed" [disabled]="!editingServiceCircuit" [isReadOnly]="!!(isReadOnly$ | async)" [options]="speedOpts"></vtk-select>
      </div>
      <div class="field">
        <p>Trunk Group</p>
        <input [(ngModel)]="service.trunkGroup" name="trunkGroup" [disabled]="!editingServiceCircuit">
      </div>
      <hr>
      <div class="field">
        <p>MTU</p>
        <vtk-select [(ngModel)]="service.mtu" name="mtu" [disabled]="!editingServiceCircuit" [isReadOnly]="!!(isReadOnly$ | async)" [options]="mtuOpts"></vtk-select>
      </div>
      <div class="field">
        <p>MUX</p>
        <vtk-select [(ngModel)]="service.mux" name="mux" [disabled]="!editingServiceCircuit" [isReadOnly]="!!(isReadOnly$ | async)" [options]="muxOpts"></vtk-select>
      </div>
      <div class="field">
        <p>CE-VLAN for E-Line</p>
        <input [(ngModel)]="service.vlanForEline" name="vlanForEline" [disabled]="!editingServiceCircuit">
      </div>
      <div class="field">
        <p>VLAN Tagging</p>
        <input [(ngModel)]="service.vlanTagging" name="vlanTagging" [disabled]="!editingServiceCircuit">
      </div>
      <div class="field">
        <p>VLAN ID</p>
        <input [(ngModel)]="service.vlanId" name="vlanId" [disabled]="!editingServiceCircuit">
      </div>
      <div class="field">
        <p>Cable Category</p>
        <vtk-select [(ngModel)]="service.cableCategory" name="cableCategory" [disabled]="!editingServiceCircuit" [isReadOnly]="!!(isReadOnly$ | async)" [options]="cableCategoryOpts"></vtk-select>
      </div>
      <div class="field">
        <p>Cable Shielding</p>
        <input [(ngModel)]="service.cableShielding" name="cableShielding" [disabled]="!editingServiceCircuit">
      </div>
    </div>

  </div>

  <div class="col">

    <!-- IP Information -->
    <div class="header">
      <p>IP Information</p>
      <ng-container *ngIf="editEnabled$ | async">
        <span class="material-symbols-outlined" *ngIf="!editingServiceNetwork" (click)="oes.toggleEditFlag('editingServiceNetwork')">
          border_color
        </span>
        <span class="material-symbols-outlined" *ngIf="editingServiceNetwork" (click)="onSaveClicked()">
          save
        </span>
      </ng-container>
    </div>
    <div class="content">
      <div class="field">
        <p>IP Format</p>
        <div class="radio-options">
          <input type="radio" [ngModel]="service.ipFormat" (ngModelChange)="onIpFormatChanged($event)" name="ipFormat"
               value="IPv4" [ngStyle]="!editingServiceNetwork ? {'pointer-events': 'none', 'accent-color': '#3E3E3E'} : {}">
          <p>IPv4</p>
          <input type="radio" [ngModel]="service.ipFormat" (ngModelChange)="onIpFormatChanged($event)" name="ipFormat"
                value="IPv6" [ngStyle]="!editingServiceNetwork ? {'pointer-events': 'none', 'accent-color': '#3E3E3E'} : {}">
          <p>IPv6</p>
        </div>
      </div>

      <ng-container *ngIf="service.ipFormat == 'IPv4' || service.ipFormat == 'IPv6'">
        <div class="field">
          <p>WAN IPs</p>
          <input [(ngModel)]="service.wanIps" name="wanIps" [disabled]="!editingServiceNetwork">
        </div>
        <div class="field">
          <p>WAN Gateway</p>
          <input [(ngModel)]="service.wanGateway" name="wanGateway" [disabled]="!editingServiceNetwork"
                 appIpAddress={{service.ipFormat}}>
        </div>
        <div class="field">
          <p>WAN Subnet</p>
          <input [(ngModel)]="service.wanSubnet" name="wanSubnet" [disabled]="!editingServiceNetwork"
                 appIpAddress={{service.ipFormat}}>
        </div>
        <ng-container *ngIf="service.lanBlock != 'No'">
          <div class="field">
            <p>LAN IPs</p>
            <input [(ngModel)]="service.lanIps" name="lanIps" [disabled]="!editingServiceNetwork">
          </div>
          <div class="field">
            <p>LAN Gateway</p>
            <input [(ngModel)]="service.lanGateway" name="lanGateway" [disabled]="!editingServiceNetwork"
                   appIpAddress={{service.ipFormat}}>
          </div>
          <div class="field">
            <p>LAN Subnet</p>
            <input [(ngModel)]="service.lanSubnet" name="lanSubnet" [disabled]="!editingServiceNetwork"
                   appIpAddress={{service.ipFormat}}>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="header">
      <p>Service Prioritization</p>
      <ng-container *ngIf="editEnabled$ | async">
        <span class="material-symbols-outlined" *ngIf="!editingServicePrioritization" (click)="oes.toggleEditFlag('editingServicePrioritization')">
          border_color
        </span>
        <span class="material-symbols-outlined" *ngIf="editingServicePrioritization" (click)="onSaveClicked()">
          save
        </span>
      </ng-container>
    </div>
    <div class="content">
      <div class="check-row">
        <div class="field">
          <mat-checkbox [(ngModel)]="service.expediteOrder" name="expediteOrder" [disabled]="!editingServicePrioritization" ></mat-checkbox>
          <p>Expedite Order</p>
        </div>
      </div>
      <div class="field">
        <p>TSP Code</p>
        <input [(ngModel)]="service.tspCode" name="tspCode" [disabled]="!editingServicePrioritization">
      </div>
      <div class="field">
        <p>
          TSP Code Expiration Date
        </p>
        <app-datepicker [(date)]="service.tspCodeExpirationDate" name="tspCodeExpirationDate"
                        [disabled]="!editingServicePrioritization"></app-datepicker>
      </div>
    </div>
  </div>
  <div class="col">
    <app-note #note *ngIf="this.service.id && !(isLoading$ | async)"
              type="service"
              [parentId]="service.id.toString()"
              [maxNotes]="2"
              [serviceName]="service.type"
              [showSave]="true"
              [headerClass]="'header'">
    </app-note>
    <br>
    <div *ngIf="!(isInventory$ | async)">
    <app-jeops *ngIf="this.service.id" type="service"
               [parentId]="service.id"
               [orderId]="service.orderId"
               [companyId]="companyId"
               [maxJeops]="5"
               [headerClass]="'header'">
    </app-jeops>
  </div>
  </div>
</form>
