.meta-data {
  display: flex;
  gap: 2em;
  font-size: 12px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  padding: 8px 24px 0;
  margin-bottom: -20px;
}

.worklist-page .content-wrapper #previewPane.end-customer {
  max-width: unset;
  flex-grow: 1;
}

.preview-pane-subheader {
  text-align: center;
  p {
    font-weight: 500;;
    font-size: small;
  }
}
