<!-- Ordering -->
<div class="location-service-list">
  <div class="list-header">
    <p>Locations & Services</p>
    <div class="v-link" *ngIf="(editEnabled$ | async)" (click)="onAddClicked($event)">
      <span class="material-symbols-outlined add-icon" title="Add a Location or Service">
        add
      </span>
      Add
    </div>
    <div #newSelector class="new-selector" [ngStyle]="newSelectorStyle">
      <p (click)="onNewLocationClicked()">New Location</p>
      <p (click)="onNewServiceClicked()">New Service</p>
    </div>
  </div>
  <div class="list-body" *ngIf="!(isInventory$ | async)">
    <div class="list-item" *ngFor="let location of oes.order!.locations">
      <div class="location" [ngClass]="{'selected': isSelected(location), 'child-selected': isSelectedlocation(location) }" [ngStyle]="{'border-color': (getStatusColor(location) | async)}" (click)="onItemClicked(location)">
        <div>{{location.displayText}}</div>
        <span class="material-symbols-outlined" *ngIf="!location.displayServices && this.location.services && this.location.services.length > 0" (click)="expandClicked($event, location)">
          expand_more
        </span>
        <span class="material-symbols-outlined" *ngIf="location.displayServices && this.location.services && this.location.services.length > 0" (click)="expandClicked($event, location)">
          expand_less
        </span>
        <span class="material-symbols-outlined map-icon" *ngIf="location.address1 && (isSelectedlocation(location) || isSelected(location))" (click)="onMapIconClicked($event, location)">
          distance
        </span>
      </div>
      <ng-container *ngIf="location.displayServices">
        <div class="service"
          [ngClass]="{
            'selected': isSelected(service),
            'bundledParent': service.linkedBundledParent
          }"
          [ngStyle]="{'border-color': (getStatusColor(service) | async)}"
          *ngFor="let service of location.services" (click)="onItemClicked(service)">
          {{service.displayText}}
          <span *ngIf="service.isMacd">: </span>
          <span *ngIf="service.isMacd" [ngStyle]="{color: 'red'}">{{service.orderType}}</span>
          <span class="material-symbols-outlined link-icon" *ngIf="service.bundled">shop_two</span>
          <span class="material-symbols-outlined link-icon" *ngIf="service.linked">link</span>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Inventory -->
  <div class="list-body" *ngIf="isInventory$ | async">
    <div class="list-item" *ngIf="(selectedLocation$ | async) as location">
      <div class="location" [ngClass]="{'selected': isSelected(location), 'child-selected': isSelectedlocation(location) }" [ngStyle]="{'border-color': (getStatusColor(location) | async)}" (click)="onItemClicked(location)">
        <div>{{location.displayText}}</div>
        <span class="material-symbols-outlined map-icon" *ngIf="location.address1 && (isSelectedlocation(location) || isSelected(location))" (click)="onMapIconClicked($event, location)">
          distance
        </span>
      </div>
      <div class="service" [ngClass]="{'selected': isSelected(service)}" [ngStyle]="{'border-color': (getStatusColor(service) | async)}" *ngFor="let service of location.inventoryServices" (click)="onItemClicked(service)">
        {{service.displayText}}
        <span class="material-symbols-outlined link-icon" *ngIf="service.bundled">shop_two</span>
        <span class="material-symbols-outlined link-icon" *ngIf="service.linked">link</span>
      </div>
      <div class="v-link" *ngIf="location.displayText=='New Location'" (click)="onCancelClicked(location)">
        <span class="material-symbols-outlined cancel" title="Cancel">
          cancel
        </span>
        Cancel
      </div>

    </div>
  </div>

  <!-- New Service Dialog -->
  <dialog #newServiceDialog class="new-service-dialog">
    <div>
      <p>Service Type</p>
      <select [(ngModel)]="selectedServiceType" name="serviceType">
        <option [ngValue]="undefined" disabled>Select...</option>
        <option *ngFor="let opt of serviceTypes" value={{opt.value}}>{{opt.value}}</option>
      </select>
    </div>
    <div class="dialog-buttons">
      <button (click)="onDialogSelectClicked()" [disabled]="!selectedServiceType">Select</button>
      <button (click)="onDialogCancelClicked()">Cancel</button>
    </div>
  </dialog>
</div>
