.location-service-list {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding: 0 1em 0 2em;
  width: 300px;
  display: flex;
  flex-direction: column;

  .list-header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 11px 0;
    font-weight: 600;
    font-size: 13px;
    color: #272727;
    border-bottom: 1px solid #E7E7E7;
    justify-content: space-between;

    .v-link {
      font-size: 14px;
    }

    .add-icon {
      margin-left: 2em;
      font-size: 16px;
      vertical-align: middle;
    }

    .new-selector {
      display: none;
      z-index: 1;
      background-color: #FFFFFF;
      border: 1px solid #E8E8E8;
      border-radius: 5px;

      p {
        padding: 0 .5em;
        cursor: pointer;

        &:hover {
          background-color: #5DCADE;
          color: #FFFFFF;
        }
      }
    }
  }

  .list-body {
    display: block;
    overflow: auto;
  }

  .list-item {
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 5px;
    cursor: pointer;

    .location {
      display: flex;
      align-items: center;
      padding: 5px 15px;
      border-left: 5px solid;
      justify-content: space-between;
      white-space: pre-wrap;

      > div {
        width: calc(100% - 30px);
      }

      .map-icon {
        margin-left: auto;
        padding: .1em;
      }
    }

    .service {
      padding: 5px 15px;
      border-left: 5px solid;
      width: calc(100% - 20px);
      margin-left: 20px;
      box-sizing: border-box;
      color: #787878;
      font-size: 15px;
      font-weight: 500;
      font-family: "Roboto", sans-serif;

      align-items: center;
      display: flex;

      .link-icon {
        margin-left: auto;
        padding: .1em;
      }
    }

    .selected {
      background: rgba(93, 202, 222, 0.25);
      color: #5DCADE;
      font-weight: bold;
    }

    .bundledParent {
      color:#3871C1;
      font-weight: bold;
    }

    .child-selected {
      color: #5DCADE;
    }

    div:hover, p:hover {
      color: #5DCADE;
    }
  }

  p { margin: 0; white-space: pre; }

  .new-service-dialog {
    border: 1px solid #EEEEEE;
    border-radius: 5px;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    table {
      border-collapse: collapse;
      border: 1px solid #EEEEEE;
    }

    tr {
      cursor: pointer;
      td { padding: 0 1em; }

      &:hover {
        background-color: #5DCADE;
        color: #F8F8F8;
      }
    }

    select {
      border: 1px solid #3E3E3E;
      font-size: inherit;
      font-family: inherit;
      box-sizing: border-box;
    }

    .dialog-buttons {
      display: flex;
      gap: 1em;
      padding-top: 1em;

      button {
        padding: .5em 1em;
        font-family: inherit;
        border: 1px solid #EEEEEE;
        border-radius: 4px;
        background-color: #F8F8F8;

        &:hover:not([disabled]) {
          cursor: pointer;
          background-color: #5DCADE;
          color: #F8F8F8;
        }
      }
    }
  }
}
::-webkit-scrollbar { //hides scrollbar
  display: none;
}
