<div class="dto-table">
  <div class="tWrap">
    <!-- Header -->
    <div #tWrapHead id="tWrapHead" class="tWrap__head" (scroll)="onHeaderScroll($event)">
      <table #headerTable id="headerTable">
        <thead>
          <tr>
            <th class="icon-header">
              <!-- placeholder th to compensate for the icon column --></th>
            <ng-container *ngFor="let col of columns">
              <th>
                {{ col.name }}
                <div #resizer [ngStyle]="resizerStyles" class="resizer"></div>
              </th>
            </ng-container>
          </tr>
        </thead>
      </table>
    </div>

    <!-- Body -->
    <div #tWrapBody id="tWrapBody" class="tWrap__body" (scroll)="onBodyScroll($event)">
      <table id="bodyTable">
        <tbody>
          <tr #tr class="table-row" *ngFor="let row of rows" (click)="onRowClick(row)" (dblclick)="onRowDblClick(row)" [style.background-color]="row.uuid === selectedRow?.uuid ? '#DDDDDD' : ''">
            <ng-container *ngFor="let col of columns; let i = index">
              <td class="icon-cell" *ngIf="i === 0" [style.border-color]="getStatusColor(row)" [style.color]="getStatusColor(row)">
                <span *ngIf="getStatusColor(row) == '#DD0000'" class="material-symbols-outlined">
                  warning
                </span>
                <span *ngIf="row.link" class="material-symbols-outlined">
                  done
                </span>
                <span *ngIf="row.linkedOrBundled == 'linked'" class="material-symbols-outlined">
                  link
                </span>
                <span *ngIf="row.linkedOrBundled == 'bundled'" class="material-symbols-outlined">
                  shop_two
                </span>
              </td>
              <td>{{row[col.propertyName]}}</td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
