:host.transparent {
  .dropdown-wrapper {
    .dropdown-trigger {
      background-color: transparent;
      color: white;
    }
  }
}
.dropdown-wrapper {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  &.open .dropdown-content {
    display: block;
    .container {
      max-height: 370px;
      overflow-y: auto;
    }
  }

  > div {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .dropdown-trigger {
    display: flex;

    background-color: #F8F8F8;
    // TODO decide if we need a border
    // border: 1px solid #EEEEEE;
    border-radius: 4px;
    color: #646464;
    border: none;
    height: 100%;
    padding: 7px;
    cursor: pointer;
    justify-content: space-between;
    position: relative;

    .loader {
      width: 100%;
      height: 100%;
      background-color: black;
      position: absolute;
    }

    .material-symbols-outlined {
      font-size: 16px; /* Icon Size */
      position: relative;
      bottom: 1px;
      &.big-icon {
        font-size: 24px
      }
    }

    /* Placeholder/Selected Text */
    p {
      margin: 0;
      line-height: 16px;
      padding-left: 10px;
      min-width: 8em;
      width: fit-content;
      max-width: 30em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    ul {
      list-style-type: none; /* Remove bullets */
      padding: 0;
      margin: 0;
    }

    li {
      min-height: 26px;
      white-space: nowrap;
      padding: 0 .5em;
      cursor: pointer;

      //TODO: these are the same as the styles on table rows, define this globally?
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      line-height: 26px;

      &:hover {
        background-color: #5DCADE;
        color: #FFFFFF;
      }

      &.selected {
        background-color: #1565C0;
        color: #FFFFFF;
      }
    }
  }
  &.disabled {
    .dropdown-trigger {
      background-color: #fafafa;
      p {
        color: #b3b3b3;
        + span {
          color: #9b9b9b;
        }
      }
    }
  }
}
