<div appDropdown [multiSelect]="multiSelect" [disabled]="disabled" class="dropdown-wrapper" [class.disabled]="disabled">
  <div>
    <div class="dropdown-trigger">
      <span class="material-symbols-outlined" *ngIf="icon">
        {{ icon }}
      </span>
      <p *ngIf="!selected">{{ placeholder }}</p>
      <p *ngIf="selected">{{ labelKey ? getSelectedLabel() : selected }}</p>
      <span class="material-symbols-outlined" [class.big-icon]="labelKey" (click)="!selected || !canClear ? {} : onOptionClicked(undefined, $event);">
        {{ !selected || !canClear ?
        (labelKey ? 'arrow_drop_down' : 'expand_more') : 'close'  }}
      </span>
    </div>
    <div class="dropdown-content">
      <div class="input" *ngIf="canSearch">
        <input type="text" [ngModel]="searchValue" (ngModelChange)="emitSearch($event)" *ngIf="canSearch" class="v-search">
        <span class="material-symbols-outlined">
          search
        </span>
      </div>
      <div class="container" (scroll)="onScroll($event)">
        <div class="loader" *ngIf="isLoading"></div>
        <ng-template #usual>
          <ul>
            <li *ngFor="let option of options" (click)="onOptionClicked(option)" [class.selected]="isSelected(option)" [value]="idKey ? option[idKey] : option">{{ labelKey ? option[labelKey] : option }}</li>
          </ul>
        </ng-template>
        <ng-container *ngIf="multiSelect; else usual">


            <span *ngIf="getSelectedFsArray().length"> Selected items </span>
            <ul>
              <li class="selected" *ngFor="let selectedOption of getSelectedFsArray()" (click)="onOptionClicked(selectedOption)">
                {{ selectedOption }}
              </li>
            </ul>
            <span *ngIf="options?.length"> Available items </span>
            <ul>
              <ng-container *ngFor="let option of options">
                <li *ngIf="!isInSelected(option)" (click)="onOptionClicked(option)" [class.selected]="isSelected(option)" [value]="idKey ? option[idKey] : option">{{ labelKey ? option[labelKey] : option }}</li>
              </ng-container>
            </ul>
        </ng-container>
      </div>
    </div>
  </div>
</div>
