<div class="landing-page">
  <div class="vertek-logo">
    <img src="./assets/vertek-logo.png" alt="Vertek Logo" title="Vertek" /> <!-- TODO: need a higher resolution logo -->
  </div>
  <div class="welcome-text">
    <p>{{ welcomeText }}</p>
  </div>
  <div class="nav-buttons">
    <button *ngIf="securityUtils.getIsOrderWriteUser()" type="button" (click)="onNewQuoteClicked()">New Quote</button>
    <button *ngIf="securityUtils.userHasPermission('order:create')" type="button" [routerLink]="['order', 'new']">New Order</button>
    <button *ngIf="securityUtils.getIsOrderReadUser()" type="button" (click)="onManageLocationsClicked()">Order Management</button>
    <button *ngIf="securityUtils.getIsInventoryReadUser()" type="button" [routerLink]="['inventory']">Network Inventory</button>
    <button type="button" [routerLink]="['expenses']">Manage Expenses</button>
    <button *ngIf="securityUtils.getIsOrderReadUser() || securityUtils.getIsInventoryReadUser()" type="button" [routerLink]="['customers']">Manage Customers</button>
    <button *ngIf="securityUtils.getIsInvoicingReadUser()" type="button" [routerLink]="['invoicing']">Invoicing</button>
  </div>
  <div class="shapes">
    <div class="shape1"></div>
    <div class="shape2"></div>
    <div class="shape3"></div>
  </div>
</div>
