.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: linear-gradient(125.81deg, #272727 2.3%, #3E3E3E 100%);
  overflow: hidden;

  .vertek-logo {
    width: 100vw;
    align-items: flex-start;
    padding: 15px 0 0 20px;
  }

  .welcome-text {
    padding: 10vh 0 5vh 0;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: var(--white);
  }

  .nav-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 28px;

    button {
      background: rgba(53, 53, 53, 0.8);
      border: 1px solid var(--border-grey);
      border-radius: 6px;
      height: 12em;
      width: 12em;
      cursor: pointer;

      /* Text */
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      color: var(--white);
      transition: all 0.15s;
    }
    button:hover {
      background: linear-gradient(228.01deg, #5DCADE 0%, #00D1FF 100%);
      box-shadow: 0px 0px 40px 0px #5DCADE80;
    }
  }

  .shapes {
    display: flex;
    flex-direction: row;
    position: relative;

    .shape1 {
      /* Position */
      position: absolute;
      right: 15em;
      top: 10em;

      /* Size */
      height: 50em;
      width: 50em;

      /* Appearance */
      border-radius: 50%;
      background: rgba(93, 202, 222, 0.3);
      box-shadow: 0px 4px 250px #33CEEE;
    }

    .shape2 {
      /* Position */
      position: absolute;
      right: -25em;
      top: 25em;

      /* Size */
      height: 45em;
      width: 45em;

      /* Appearance */
      border-radius: 50%;
      background: rgba(100, 187, 58, 0.2);
      opacity: 0.9;
      box-shadow: 0px 4px 250px #64BB3A;
    }

    .shape3 {
      /* Position */
      position: absolute;
      right: -90em;
      top: 5em;

      /* Size */
      height: 75em;
      width: 75em;

      /* Appearance */
      border-radius: 50%;
      background: rgba(170, 103, 255, 0.2);
      box-shadow: 0px 4px 250px #A967FF;
    }
  }
}
