  
::ng-deep .relocate-table .abstract-table {
  height: 400px !important;
  max-height: calc(100vh - 21em) !important;
  padding: 0 .5em !important;
}
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    h2 {
    width: 56%;
    margin-block: 0px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: right;
  }

  .closeButton {
    border: none;
    background-color: transparent;
    float: right;
    margin-top: 0px;
  }

  .closeButton:hover {
    background-color: #3871C1;
    color: white;
    border-radius: 6px;
  }
}

  .searchBar {
    padding-bottom: 1em;
    margin-left: 28px;

    input {
      border: 1px solid #E9E9E9;
      border-radius: 4px;
      padding: 0.4em;
      font-size: 14px;
      font-family: inherit;
    }
  }

  .table-actions {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: .5em 0;
    position: sticky;

    input {
      border: 1px solid #E9E9E9;
      border-radius: 4px;
      padding: .4em;
      font-size: 14px;
      font-family: inherit;
    }

    button:not(.material-symbols-outlined) {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-size: 13px;
      height: 30px;
      border: none;
      border-radius: 6px;
      display: flex;
      align-items: center;
    }

    button:enabled:not(.material-symbols-outlined) {
      cursor: pointer;
      color: white;
      background-color: #5DCADE;

      &:hover {
        background: #3871C1;
      }
    }
  }