<dialog #dialog class="dialog">
    <header class="header">
      <h2 *ngIf="contact.id !== undefined" class="dialogHeader">Editing {{contact.name}}</h2>
      <h2 *ngIf="contact.id == undefined" class="dialogHeader">New Contact</h2>
      <button class="material-symbols-outlined closeButton" (click)="onCancelClicked()">close</button>
    </header>
    
    <form #contactForm="ngForm" class="contact-form">
      <div class="col-wrapper">
        <div class="col">
          <div class="field">
            <p>First Name</p>
            <div class="input-with-subtitle">
              <input [(ngModel)]="contact.firstName" name="firstName" tabindex="1" required autofocus>
            </div>
          </div>
          <div class="field">
            <p>Phone</p>
            <div class="input-with-subtitle">
              <input [(ngModel)]="contact.phone" placeholder="(555)-555-5555 x5555" appPhoneMask name="phone"
                    appPhoneValidator={{contact.phone}} tabindex="3">
            </div>
          </div>
          <div class="field" *ngIf="showRoleAndNoteFields">
            <p>Role</p>
            <select [(ngModel)]="contact.role" name="role" tabindex="5">
              <option [ngValue]="null" disabled selected hidden>Select...</option>
              <option [ngValue]="null"></option>
              <option *ngFor="let opt of roleOpts" value={{opt}}>{{opt}}</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="field">
            <p>Last Name</p>
            <div class="input-with-subtitle">
              <input [(ngModel)]="contact.lastName" name="lastName" tabindex="2" required>
            </div>
          </div>
          <div class="field">
            <p>Email</p>
            <div class="input-with-subtitle">
              <input [(ngModel)]="contact.email" name="email" email="true" tabindex="4">
            </div>
          </div>
        </div>
      </div>
      
      <div class="col" *ngIf="showRoleAndNoteFields">
        <div class="field">
          <p>Notes</p>
          <div class="text-area">
            <textarea [(ngModel)]="contact.notes" name="notes" tabindex="6"></textarea>
          </div>
        </div>
      </div>
      <div *ngIf="contact.id !== undefined" class="col">
        <div class="last-updated">
          <p>Last updated by {{contact.lastUpdateBy}} on {{contact.lastUpdateDate | date:'yyyy-MM-dd hh:mm a'}}</p>
        </div>
      </div>
      <div *ngIf="contact.id === undefined" class="padding-top"></div>
      <div class="form-buttons">
        <div class="button-group">
          <button (click)="save()" [disabled]="contactForm.invalid" tabindex="7">
            <span class="material-symbols-outlined">save</span>Save
          </button>
          <button (click)="onCancelClicked()" tabindex="8">Cancel</button>
        </div>
        <button *ngIf="contact.id !== undefined" title="Delete" (click)="onDeleteClicked()" tabindex="9">
          <span class="material-symbols-outlined">
            delete
          </span>
        </button>
      </div>
    </form>
  </dialog>