.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  mat-icon: {
    cursor: pointer;
  }
}

.row {
  display: flex;
  gap: 1em;

  mat-form-field {
    flex: 1;
  }
}

.button-row {
  display: flex;
  gap: .5em;
  justify-content: flex-end;
}