<ng-container *ngIf="!formSubmitted">
  <div class="header">
    <h2>
      Multi Dispute
    </h2>
    <mat-icon [style.cursor]="'pointer'" (click)="onClose()">
      close
    </mat-icon>
  </div>
  
  <form #form="ngForm" *ngIf="dispute$ | async as dispute">
    <div class="row">
      <!-- Dispute Type -->
      <mat-form-field>
        <mat-label>
          Dispute Type
        </mat-label>
        <mat-select name="disputeType" [value]="dispute.disputeType"
                    (selectionChange)="updateDisputeProperty('disputeType', $event)"
                    [required]="true">
          <mat-option *ngFor="let disputeType of disputeTypes$ | async" [value]="disputeType">
            {{disputeType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Dispute Assignment -->
      <mat-form-field>
        <mat-label>
          Dispute Assignment
        </mat-label>
        <mat-select name="disputeAssignment" [value]="dispute.disputeAssignment"
                    (selectionChange)="updateDisputeProperty('disputeAssignment', $event)">
          <mat-option *ngFor="let disputeAssignment of disputeAssignments$ | async" [value]="disputeAssignment">
            {{disputeAssignment}}
          </mat-option>
        </mat-select>
      </mat-form-field> 
    </div>
    <div class="row">
      <!-- Invoice Number -->
      <mat-form-field>
        <mat-label>
          Invoice Number
        </mat-label>
        <input matInput name="invoiceNum" [value]="dispute.invoiceNum"
               (input)="updateDisputeProperty('invoiceNum', $event)">
      </mat-form-field>
      <!-- MRC Disputed -->
      <mat-form-field>
        <mat-label>
          MRC Disputed
        </mat-label>
        <input matInput name="mrcDisputed" [value]="dispute.amountDisputedMrc | vtkCurrency"
               (input)="updateDisputeProperty('amountDisputedMrc', $event)">
      </mat-form-field>
      <!-- NRC Disputed -->
      <mat-form-field>
        <mat-label>
          NRC Disputed
        </mat-label>
        <input matInput name="nrcDisputed" [value]="dispute.amountDisputedNrc | vtkCurrency"
               (input)="updateDisputeProperty('amountDisputedNrc', $event)">
      </mat-form-field>
    </div>
    <div class="row">
      <!-- Vendor Tracking Number -->
      <mat-form-field>
        <mat-label>
          Vendor Tracking Number
        </mat-label>
        <input matInput name="vendorTrackingNumber" [value]="dispute.vendorTrackingNum"
               (input)="updateDisputeProperty('vendorTrackingNum', $event)">
      </mat-form-field>
      <!-- Open Date -->
      <mat-form-field>
        <mat-label>
          Open Date
        </mat-label>
        <input matInput (click)="openDatePicker.open()"
                        (dateChange)="updateDisputeProperty('openDate', $event)"
                        [ngModel]="dispute.openDate"
                        name="openDate"
                        [matDatepicker]="openDatePicker">
                    <mat-icon class="datepicker-clear-icon" matIconSuffix (click)="updateDisputeProperty('openDate', null)">close</mat-icon>
                    <mat-datepicker #openDatePicker></mat-datepicker>
      </mat-form-field>
      <!-- Follow Up Date -->
      <mat-form-field>
        <mat-label>
          Follow Up Date
        </mat-label>
        <input matInput (click)="fudPicker.open()"
                        (dateChange)="updateDisputeProperty('disputeFollowUpDate', $event)"
                        [ngModel]="dispute.disputeFollowUpDate"
                        name="disputeFollowUpDate"
                        [matDatepicker]="fudPicker">
                    <mat-icon class="datepicker-clear-icon" matIconSuffix (click)="updateDisputeProperty('disputeFollowUpDate', null)">close</mat-icon>
                    <mat-datepicker #fudPicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <!-- Internal Only -->
      <mat-checkbox name="initialNoteInternalOnly" [checked]="dispute.initialNoteInternalOnly"
                    (change)="updateDisputeProperty('initialNoteInternalOnly', $event)">
        Internal Only
      </mat-checkbox>
    </div>
    <div class="row">
      <!-- Notes -->
      <mat-form-field>
        <mat-label>
          Notes
        </mat-label>
        <textarea matInput [value]="dispute.initialNote"
                  (input)="updateDisputeProperty('initialNote', $event)"></textarea>
      </mat-form-field>
    </div>
    <div class="button-row">
      <button (click)="onSubmit()" [disabled]="!dispute.disputeType">Submit</button>
      <button (click)="onClose()">Cancel</button>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="formSubmitted">
  <p>Your multi dispute request is being processed.</p>
  <button [style.padding]="'1px 14px'" (click)="onClose()">OK</button>
</ng-container>
