<ng-container *ngIf="!showTemplateManager">
  <header class="header">
    <h2 mat-dialog-title class="dialogHeader">Create Email</h2>
    <button class="material-symbols-outlined closeButton" (click)="onClose()">close</button>
  </header>
  <div class="template-controls">
    <mat-form-field>
      <mat-label>Email Template</mat-label>
      <mat-select [value]="selectedTemplate$ | async" (selectionChange)="onTemplateSelectionChange($event)">
        <mat-option *ngFor="let template of emailTemplates$ | async" [value]="template">
          {{template.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <a *ngIf="editEnabled$" href="javascript:" (click)="openTemplateManager()">Manage Email Templates</a>
  </div>

  <mat-card class="email-preview">
    <mat-card-header>
      <mat-card-title>Preview</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Subject</mat-label>
        <textarea matInput value={{previewEmailSubject}} rows="1" cols="50" placeholder="Subject" readonly="true" [disabled]="!selectedTemplate$"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Body</mat-label>
        <textarea matInput value={{previewEmailBody}} rows="10" cols="50" placeholder="Body" readonly="true" [disabled]="!selectedTemplate$"></textarea>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <br>
  <a  [class.disabled]="!(selectedTemplate$ | async)" href="mailto:?subject={{ encodedEmailSubject }}&body={{ encodedEmailBody }}" target="_top">Generate</a>
</ng-container>
<ng-container *ngIf="showTemplateManager">
  <!-- [inputTemplate]="(selectedTemplate$ | async)" -->
  <app-email-template-management-form [level]="data.level" [context]="currentActivationAttemptEmailView" (close)="closeTemplateManager()" (save)="saveTemplate($event)" (delete)="deleteTemplate($event)" 
  
  ></app-email-template-management-form>
</ng-container>
