<form #serviceForm="ngForm" class="form">
  <div class="col">
    <!-- Provider Information -->
    <div class="header">
      <p>Provider Information</p>
      <ng-container *ngIf="editEnabled$ | async">
        <span class="material-symbols-outlined" *ngIf="!editingServiceProvider"
              (click)="oes.toggleEditFlag('editingServiceProvider')">
          border_color
        </span>
        <span class="material-symbols-outlined" *ngIf="editingServiceProvider" (click)="onSaveClicked()">
          save
        </span>
      </ng-container>
    </div>
    <div class="content">
      <div class="field">
        <p class="tooltip">
          <span class="tooltiptext">{{ tooltips.providerTooltip }}</span>
          Provider
        </p>
        <vtk-select [(ngModel)]="service.provider" name="provider" [disabled]="!editingServiceProvider"
                    [isReadOnly]="!!(isReadOnly$ | async)" [options]="providerOpts"></vtk-select>
      </div>
      <div class="field">
        <p>Account Number / BAN</p>
        <input [(ngModel)]="service.accountNumber" name="accountNumber"
               [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p>Summary Bill</p>
        <input [(ngModel)]="service.summaryBill" name="summaryBill"
               [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p>Provider Order Number</p>
        <input [(ngModel)]="service.providerOrderNum" name="providerOrderNum" [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p>Bill Cycle</p>
        <input type="number" min="1" max="31" step="1" [(ngModel)]="service.billCycle" name="billCycle" [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p>Account Passcode</p>
        <input [(ngModel)]="service.accountPasscode" name="accountPasscode" [disabled]="!editingServiceProvider">
      </div>
    </div>

    <!-- Cross Connnect Details -->
    <div class="header">
      <p>Cross Connect Details</p>
      <ng-container *ngIf="editEnabled$ | async">
        <span class="material-symbols-outlined" *ngIf="!editingServiceCircuit"
              (click)="oes.toggleEditFlag('editingServiceCircuit')">
          border_color
        </span>
        <span class="material-symbols-outlined" *ngIf="editingServiceCircuit" (click)="onSaveClicked()">
          save
        </span>
      </ng-container>
    </div>
    <div class="content">
      <div class="field">
        <p>Cross Connect ID</p>
        <input [(ngModel)]="service.crossConnectId" name="crossConnectId" [disabled]="!editingServiceCircuit">
      </div>
      <div class="field">
        <p>Room</p>
        <input [(ngModel)]="service.crossConnectRoom" name="crossConnectRoom" [disabled]="!editingServiceCircuit">
      </div>
      <div class="field">
        <p>Rack</p>
        <input [(ngModel)]="service.crossConnectRack" name="crossConnectRack" [disabled]="!editingServiceCircuit">
      </div>
      <div class="field">
        <p>Port</p>
        <input [(ngModel)]="service.crossConnectPort" name="crossConnectPort" [disabled]="!editingServiceCircuit">
      </div>
      <div class="field">
        <p>XC Type</p>
        <vtk-select [(ngModel)]="service.crossConnectType" name="crossConnectType" [disabled]="!editingServiceCircuit" [isReadOnly]="!!(isReadOnly$ | async)" [options]="crossConnectTypeOpts"></vtk-select>
      </div>
      <div class="field">
        <p>Colo/Data Center Name</p>
        <input [(ngModel)]="service.crossConnectDataCenterName" name="crossConnectDataCenterName" [disabled]="!editingServiceCircuit">
      </div>
    </div>
  </div>
  <div class="col">
    <app-note #note *ngIf="this.service.id && !(isLoading$ | async)"
              type="service"
              [parentId]="service.id.toString()"
              [maxNotes]="2"
              [serviceName]="service.type"
              [showSave]="true"
              [headerClass]="'header'">
    </app-note>
    <br>
    <div *ngIf="!(isInventory$ | async)">
    <app-jeops *ngIf="this.service.id" type="service"
               [parentId]="service.id"
               [orderId]="service.orderId"
               [companyId]="companyId"
               [maxJeops]="5"
               [headerClass]="'header'">
    </app-jeops>
  </div>
  </div>
</form>
