<app-application-wrapper></app-application-wrapper>
<div class="worklist-page" oncontextmenu="return false;">
  <div class="worklist-header">
    <span>
      Import Activity
    </span>
  </div>

  <div class="table-actions">
    <div>
      <ng-container *ngIf="searchCriteria$ | async as searchCriteria">
        <app-dropdown
          [placeholder]="'Import Type'"
          [multiSelect]="true"
          [selected]="searchCriteria.importType"
          [options]="filteredImportTypes"
          [icon]="'upload_file'"
          (onSelectedChanged)="onFilterChanged($event, 'importType')"
          [disabled]="!securityUtil.getIsFileImportUser()">
        </app-dropdown>
        <app-dropdown
          [placeholder]="'Uploaded By'"
          [multiSelect]="true"
          [selected]="searchCriteria.uploadedBy"
          [options]="(uploadedByOptions$ | async) || []"
          [icon]="'upload_file'"
          (onSelectedChanged)="onFilterChanged($event, 'uploadedBy')">
        </app-dropdown>
      </ng-container>
    </div>
    <div>
      <button type="button" (click)="onImportClicked()">Import File</button>
      <button type="button" (click)="exportTable('activations.xlsx')">Export</button>
      <div class="settings-dropdown-wrapper">
        <div>
          <div class="dropdown-trigger">
            <button class="icon">
              <span class="material-symbols-outlined">
                menu
              </span>
            </button>
          </div>
          <div class="dropdown-content">
            <ul>
              <li *ngFor="let col of (columns$ | async)" (click)="onColSelectClicked(col)">
                <mat-checkbox [ngModel]="!col.hidden"></mat-checkbox>
                {{ col.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-wrapper">
    <div class="loader" *ngIf="(isLoading$ | async)">
      <mat-spinner></mat-spinner>
    </div>
    <app-import-activity-table class="view-table"
                                [columns]="(columns$ | async) || []"
                                [tableData]="(tableData$ | async) || []"
                                [tableTotal]="(tableTotal$ | async)"
                                [searchCriteria]="(searchCriteria$ | async)"
                                (rowDblClick)="onImportActivityDblClicked($event)"
                                (rowRightClick)="onImportActivityRightClicked($event)"
                                (changeSortClicked)="onChangeSortClicked($event)"
                                (pageClicked)="onFilterChanged($event, 'offset')">
    </app-import-activity-table>
  </div>

  <div class="context-menu" #contextMenu [ngStyle]="contextMenuStyle">
    <ul>
      <li (click)="onImportActivityDblClicked(contextMenuImportActivity)">Download Error Spreadsheet</li>
      <li (click)="downloadUploadedSpreadsheet(contextMenuImportActivity)">Download Uploaded Spreadsheet</li>
    </ul>
  </div>
</div>
