<form #serviceForm="ngForm" class="form">
    <div class="col">
      <!-- Provider Info -->
      <div class="header">
        <p>Provider Information</p>
        <ng-container *ngIf="editEnabled$ | async">
          <span class="material-symbols-outlined" *ngIf="!editingServiceProvider"
                (click)="oes.toggleEditFlag('editingServiceProvider')">
            border_color
          </span>
          <span class="material-symbols-outlined" *ngIf="editingServiceProvider" (click)="onSaveClicked()">
            save
          </span>
        </ng-container>
      </div>
      <div class="content">
        <div class="field">
          <p class="tooltip">
            <span class="tooltiptext">{{ tooltips.providerTooltip }}</span>
            Provider
          </p>
          <vtk-select [(ngModel)]="service.provider" [name]="'provider'" [disabled]="!editingServiceProvider"
                      [isReadOnly]="!!(isReadOnly$ | async)" [options]="providerOpts"></vtk-select>
        </div>
        <div class="field">
          <p>Account Number / BAN</p>
          <input [(ngModel)]="service.accountNumber" name="accountNumber"
                 [disabled]="!editingServiceProvider">
        </div>
        <div class="field">
          <p>Summary Bill</p>
          <input [(ngModel)]="service.summaryBill" name="summaryBill"
                 [disabled]="!editingServiceProvider">
        </div>
        <div class="field">
          <p *ngIf="service.orderType != 'Disconnect'">Provider Order #</p>
          <p *ngIf="service.orderType == 'Disconnect'">Provider Disconnect Order #</p>
          <input [(ngModel)]="service.providerOrderNum" name="providerOrderNum" [disabled]="!editingServiceProvider">
        </div>
        <div class="field">
          <p>Bill Cycle</p>
          <input type="number" min="1" max="31" step="1" [(ngModel)]="service.billCycle" name="billCycle" [disabled]="!editingServiceProvider">
        </div>
        <div class="field">
          <p>Account Passcode</p>
          <input [(ngModel)]="service.accountPasscode" name="accountPasscode" [disabled]="!editingServiceProvider">
          </div>
      </div>
      <!-- Plan Details -->
      <div class="header">
        <p>Plan Details</p>
        <ng-container *ngIf="editEnabled$ | async">
          <span class="material-symbols-outlined" *ngIf="!editingPlanDetails"
                (click)="oes.toggleEditFlag('editingPlanDetails')">
            border_color
          </span>
          <span class="material-symbols-outlined" *ngIf="editingPlanDetails" (click)="onSaveClicked()">
            save
          </span>
        </ng-container>
      </div>
      <div class="content">

        <div class="field">
          <p>Provider Circuit ID</p>
          <input [(ngModel)]="service.providerCircuitId" name="providerCircuitId" [disabled]="!editingPlanDetails">
        </div>

        <div class="field">
          <p>Plan</p>
          <input [(ngModel)]="service.plan" name="plan" [disabled]="!editingPlanDetails">
        </div>

        <div class="check-row">
          <div class="field">
            <mat-checkbox [(ngModel)]="service.dvrIncluded" name="dvrIncluded" [disabled]="!editingPlanDetails"></mat-checkbox>
            <p>DVR Included</p>
          </div>
        </div>

        <div class="field">
            <p>Media Type</p>
            <vtk-select [(ngModel)]="service.mediaType" [name]="'mediaType'" [disabled]="!editingPlanDetails" [isReadOnly]="!!(isReadOnly$ | async)" [options]="mediaTypeOpts"></vtk-select>
          </div>
          <div class="field">
            <p>DMARC</p>
            <input [(ngModel)]="service.dmarc" name="dmarc" [disabled]="!editingPlanDetails">
          </div>
          <div class="field">
            <p>Inside Wiring Required</p>
            <vtk-select [(ngModel)]="service.insideWiringRequired" [name]="'insideWiringRequired'" [disabled]="!editingPlanDetails" [isReadOnly]="!!(isReadOnly$ | async)" [options]="yesNoOpts"></vtk-select>
          </div>
          <div class="field">
            <p>Product Install Interval</p>
            <vtk-select [(ngModel)]="service.productInstallInterval" [name]="'productInstallInterval'" [disabled]="!editingPlanDetails" [isReadOnly]="!!(isReadOnly$ | async)" [options]="installIntervalOpts"></vtk-select>
          </div>

        <div class="field">
          <p>OSP Construction Interval Estimate</p>
          <vtk-select [(ngModel)]="service.ospConstIntervalEst" [name]="'ospConstIntervalEst'" [disabled]="!editingPlanDetails" [isReadOnly]="!!(isReadOnly$ | async)" [options]="constructionIntervalOpts"></vtk-select>
        </div>
        <div class="field">
            <p>Location Hours</p>
            <input [(ngModel)]="service.locationHours" name="locationHours" [disabled]="!editingPlanDetails">
          </div>
      </div>
    </div>

    <div class="col">
      <!-- Provider Equipment -->
      <div class="header">
        <p>Provider Equipment</p>
        <ng-container *ngIf="editEnabled$ | async">
          <span class="material-symbols-outlined" *ngIf="!editingServiceEquipment"
                (click)="oes.toggleEditFlag('editingServiceEquipment')">
            border_color
          </span>
          <span class="material-symbols-outlined" *ngIf="editingServiceEquipment" (click)="onSaveClicked()">
            save
          </span>
        </ng-container>
      </div>
      <div class="content">
        <div class="field">
          <p>Receiver</p>
          <input [(ngModel)]="service.receiver" name="receiver" [disabled]="!editingServiceEquipment"/>
        </div>
        <div class="field">
          <p>Receiver MAC</p>
          <input [(ngModel)]="service.receiverMac" name="receiverMac" [disabled]="!editingServiceEquipment"/>
        </div>

        <div class="field">
          <p>DVR</p>
          <input [(ngModel)]="service.dvr" name="dvr" [disabled]="!editingServiceEquipment">
        </div>

        <div class="field">
          <p>DVR MAC</p>
          <input [(ngModel)]="service.dvrMac" name="dvrMac" [disabled]="!editingServiceEquipment">
        </div>

      </div>
    </div>



    <div class="col">
      <app-note #note *ngIf="this.service.id && !(isLoading$ | async)"
                type="service"
                [parentId]="service.id.toString()"
                [maxNotes]="2"
                [serviceName]="service.type"
                [showSave]="true"
                [headerClass]="'header'">
      </app-note>
      <br>
      <div *ngIf="!(isInventory$ | async)">
      <app-jeops *ngIf="this.service.id" type="service"
                 [parentId]="service.id"
                 [orderId]="service.orderId"
                 [companyId]="companyId"
                 [maxJeops]="5"
                 [headerClass]="'header'">
      </app-jeops>
    </div>
    </div>
  </form>
