<header class="header">
  <h2 mat-dialog-title class="dialogHeader">Import File</h2>
  <button class="material-symbols-outlined closeButton" (click)="onClose()">close</button>
</header>
<div class="form">
  <div class="import-type">
    <mat-form-field>
      <mat-label>Import Type</mat-label>
      <mat-select [value]="selectedImportType" (selectionChange)="this.selectedImportType = $event.value">
        <mat-option *ngFor="let importType of filteredImportTypes" [value]="importType">
          {{importType}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button [disabled]="!selectedImportType" (click)="onDownloadClicked()">Download Template</button>
  </div>
  <div class="file-input">
    <button mat-raised-button color="primary" (click)="fileInput.click()">Choose File</button>
    <input #fileInput type="file" hidden (change)="onFileSelected($event)">
    <p>{{selectedFile?.name || 'No file selected'}}</p>
  </div>
</div>
<div class="buttons">
  <button mat-raised-button [disabled]="!selectedImportType || !selectedFile" (click)="onUploadClicked()">Upload File</button>
</div>
