<div class="communication">
  <div class="message-list">
    <div class="header">
      <div class="input">
        <input class="v-search" type="text" placeholder="Search" [(ngModel)]="searchQuery" (ngModelChange)="onSearchInput()">
        <span class="material-symbols-outlined">
          search
        </span>
      </div>
      <button class="v-button" (click)="onNewMessageClicked()" [disabled]="creatingNew">
        New Message
      </button>
    </div>
    <div class="message-list-item" [ngClass]="{'selected-list-item': selectedMessageThread == thread}" *ngFor="let thread of filteredThreads" (click)="setSelectedThread(thread)">
      <div class="active"></div>
      <ng-container *ngIf="thread.id">
        <div class="list-item-header">
          <p *ngIf="subjects">{{thread.createdByDisplayName}}</p>
          <p>{{thread.createdDate | date:'MMM d, y'}}</p>
        </div>
        <p>{{thread.title}}</p>
      </ng-container>
    </div>
  </div>
  <form #form="ngForm" class="message-view">
    <div class="messages-header" *ngIf="selectedMessageThread && userSubject">
      <div class="messages-header-left">

        <!-- Existing Message Thread Header -->
        <ng-container *ngIf="!creatingNew">
          <p>{{selectedMessageThread.createdByDisplayName}} - {{selectedMessageThread.title}}</p>
          <div class="watchers-wrapper">
            <button (click)="onWatchersClicked()">
              <ng-container *ngIf="editingWatchers">
                Save
              </ng-container>
              <ng-container *ngIf="!editingWatchers">
                Watchers
              </ng-container>
            </button>
            <p *ngIf="!editingWatchers">
              <ng-container *ngFor="let watcher of getSelectedSubjects(selectedMessageThread.subjectIds); let i=index">
                {{watcher.displayName}}
                {{i == getSelectedSubjects(selectedMessageThread.subjectIds).length - 1 ? '' : ', '}}
              </ng-container>
            </p>
            <mat-form-field *ngIf="editingWatchers">
              <mat-label *ngIf="!subjectDropdownControl.value || !subjectDropdownControl.value[0]">Notify</mat-label>
              <mat-select [formControl]="subjectDropdownControl" multiple>
                <mat-select-trigger>
                  {{subjectDropdownControl.value?.[0]?.displayName || ''}}
                  {{(subjectDropdownControl.value?.length || 0) > 1 ? ', ' : ''}}
                  {{subjectDropdownControl.value?.[1]?.displayName || ''}}
                  {{(subjectDropdownControl.value?.length || 0) > 2 ? ', ' : ''}}
                  {{subjectDropdownControl.value?.[2]?.displayName || ''}}
                  <span *ngIf="(subjectDropdownControl.value?.length || 0) > 3" class="example-additional-selection">
                    (+{{(subjectDropdownControl.value?.length || 0) - 3}} {{subjectDropdownControl.value?.length === 4 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let subject of subjects" [value]="subject" [disabled]="subject == userSubject">{{subject.displayName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <p>{{selectedMessageThread.createdDate | date:'MMM d, y - h:mm a'}}</p>
        </ng-container>

        <!-- New Message Thread Header -->
        <ng-container *ngIf="creatingNew">
          <div class="subject-title">
            <p>Subject Title:</p>
            <input [(ngModel)]="selectedMessageThread.title" name="title" [maxlength]="250" required/>
          </div>
          <mat-form-field>
            <p>Notify:</p>
            <mat-select [formControl]="subjectDropdownControl" multiple>
              <mat-select-trigger>
                {{subjectDropdownControl.value?.[0]?.displayName || ''}}
                {{(subjectDropdownControl.value?.length || 0) > 1 ? ', ' : ''}}
                {{subjectDropdownControl.value?.[1]?.displayName || ''}}
                {{(subjectDropdownControl.value?.length || 0) > 2 ? ', ' : ''}}
                {{subjectDropdownControl.value?.[2]?.displayName || ''}}
                <span *ngIf="(subjectDropdownControl.value?.length || 0) > 3" class="example-additional-selection">
                  (+{{(subjectDropdownControl.value?.length || 0) - 3}} {{subjectDropdownControl.value?.length === 4 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let subject of subjects" [value]="subject" [disabled]="subject == userSubject">{{subject.displayName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </div>
    </div>

    <!-- List of messages in selected thread -->
    <div #messageList class="messages">
      <ng-container *ngIf="(messageThreads && messageThreads.length == 0) && creatingNew">
        <p class="helpful-message">{{helpfulMessage}}</p>
      </ng-container>
      <ng-container *ngIf="userSubject && selectedMessageThread">
        <div class="message" [ngClass]="{'receiver-message': userSubject.id == message.createdBy}" *ngFor="let message of selectedMessageThread.messages">
          <p class="message-header">
            <ng-container *ngIf="userSubject.id != message.createdBy">
              {{message.createdByDisplayName}}-
            </ng-container>
            {{message.createdDate | date:'MMM d, y - h:mm a'}}
          </p>
          <p class="message-body">
            {{message.body}}
          </p>
        </div>
      </ng-container>
    </div>
    <textarea class="message-input" rows="6" [(ngModel)]="newMessage.body" name="newMessage"></textarea>
    <div class="input-buttons">
      <button (click)="onClearClicked()">
        Clear
      </button>
      <button class="send-button" (click)="onSendClicked()" [disabled]="!newMessage.body">
        Send
      </button>
    </div>
  </form>
</div>
