<form #serviceForm="ngForm" class="form">
  <div class="col">
    <!-- Provider Information -->
    <div class="header">
      <p>Provider Information</p>
      <ng-container *ngIf="editEnabled$ | async">
        <span class="material-symbols-outlined" *ngIf="!editingServiceProvider"
              (click)="oes.toggleEditFlag('editingServiceProvider')">
          border_color
        </span>
        <span class="material-symbols-outlined" *ngIf="editingServiceProvider" (click)="onSaveClicked()">
          save
        </span>
      </ng-container>
    </div>
    <div class="content">
      <div class="field">
        <p class="tooltip">
          <span class="tooltiptext">{{ tooltips.providerTooltip }}</span>
          Provider
        </p>
        <vtk-select [(ngModel)]="service.provider" name="provider" [disabled]="!editingServiceProvider"
                    [isReadOnly]="!!(isReadOnly$ | async)" [options]="providerOpts"></vtk-select>
      </div>
      <div class="field">
        <p>Provider Order #</p>
        <input [(ngModel)]="service.providerOrderNum" name="providerOrderNum" [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p>Bill Cycle</p>
        <input type="number" min="1" max="31" step="1" [(ngModel)]="service.billCycle" name="billCycle" [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p>Account Passcode</p>
        <input [(ngModel)]="service.accountPasscode" name="accountPasscode" [disabled]="!editingServiceProvider">
      </div>
    </div>

    <!-- UCaaS Details -->
    <div class="header">
      <p>UCaaS Details</p>
      <ng-container *ngIf="editEnabled$ | async">
        <span class="material-symbols-outlined" *ngIf="!editingServiceCircuit"
              (click)="oes.toggleEditFlag('editingServiceCircuit')">
          border_color
        </span>
        <span class="material-symbols-outlined" *ngIf="editingServiceCircuit" (click)="onSaveClicked()">
          save
        </span>
      </ng-container>
    </div>
    <div class="content">
      <div class="field">
        <p>Published TN</p>
        <input [(ngModel)]="service.publishedTn" name="publishedTn" placeholder="(555)-555-5555 x5555" appPhoneMask
               appPhoneValidator={{service.publishedTn}} [disabled]="!editingServiceCircuit">
      </div>
      <div class="field">
        <p>Temporary TN</p>
        <input [(ngModel)]="service.temporaryTn" name="temporaryTn" placeholder="(555)-555-5555 x5555" appPhoneMask
               appPhoneValidator={{service.temporaryTn}} [disabled]="!editingServiceCircuit">
      </div>
      <div class="field">
        <p>Number of Handsets</p>
        <input type="number" [(ngModel)]="service.numberOfHandsets" name="numberOfHandsets" [disabled]="!editingServiceCircuit">
      </div>
    </div>
  </div>
  <div class="col">
    <app-note #note *ngIf="this.service.id && !(isLoading$ | async)"
              type="service"
              [parentId]="service.id.toString()"
              [maxNotes]="2"
              [serviceName]="service.type"
              [showSave]="true"
              [headerClass]="'header'">
    </app-note>
    <br>
    <div *ngIf="!(isInventory$ | async)">
    <app-jeops *ngIf="this.service.id" type="service"
               [parentId]="service.id"
               [orderId]="service.orderId"
               [companyId]="companyId"
               [maxJeops]="5"
               [headerClass]="'header'">
    </app-jeops>
  </div>
  </div>
</form>
