<div class="loader" *ngIf="(isLoading$ | async)">
  <mat-spinner></mat-spinner>
</div>
<div class="header">
  <div #filter class="header-button-wrapper">
    <ng-content select=".header-buttons"></ng-content>
    <button *ngIf="showFilter" class="filter-trigger" type="button" (click)="onFiltersClicked()">
      Advanced Filters
    </button>
    <ng-container *ngIf="this.selectedIds.length && showMultiEdit && editEnabled$">
      <button  class="filter-trigger" type="button" (click)="openDialog(selectedIds)" *ngIf="(editEnabled$ | async)">
        Multi edit
      </button>
    </ng-container>
    <div *ngIf="showFilter" class="filter-content">
      <div class="filter-container">

        <mat-icon class="clear" (click)="clearFilters()">
          refresh
        </mat-icon>
        <div class="filter-content-row">
          <p>Sort by:</p>
          <app-dropdown [placeholder]="'Default'" [selected]="getSortFieldColName()" [options]="getColNames()" (onSelectedChanged)="onSortFieldChanged($event)"></app-dropdown>
          <app-dropdown [placeholder]="'Default'" [selected]="searchCriteria.sortDir" [options]="['ASC', 'DESC']" [selected]="searchCriteria.sortDir" (onSelectedChanged)="onSortDirChanged($event)"></app-dropdown>
        </div>
        <p>Filter by:</p>
        <ng-container *ngFor="let col of columns">
          <ng-container *ngIf="col.filterable">
            <div class="filter-content-row" *ngIf="col.type != 'date'">
              <p>{{col.name}}</p>
              <input [ngModel]="getCriteriaModelValue(col)" (input)="onFilter($event, col)" type="{{ col.type }}">
            </div>
            <div class="filter-content-row" *ngIf="col.type == 'date'">
              <p>{{col.name}}</p>
              <app-dropdown [placeholder]="'Select...'"
                            [selected]="getCriteriaModelValue(col,  'comparison')"
                            [options]="dateComparisonOpts"
                            (onSelectedChanged)="onDateComparisonFilter($event, col)"></app-dropdown>
              <input type="date" [ngModel]="getCriteriaModelValue(col, 'date')" (input)="onFilter($event, col)">
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <span></span>
</div>

<!-- Table View -->
<div *ngIf="!cardViewSelected" class="abstract-table">
  <div class="tWrap">
    <div id="tWrapHead" class="tWrap__head" (scroll)="onHeaderScroll($event)">
      <table id="headerTable">
        <thead>
          <tr>
            <th *ngIf="showMultiEdit" class="checkbox-cell">
              <mat-checkbox class="inverted"
                            [checked]="allComplete"
                            [indeterminate]="indeterminate"
                            (change)="setAll($event.checked)">
              </mat-checkbox>
            </th>
            <ng-container *ngFor="let col of columns">
              <th [style.width]="col.width" *ngIf="!col.hidden" title={{col.name}}>
                {{ col.name }}
                <div [ngStyle]="resizerStyles" class="resizer"></div>
              </th>
            </ng-container>
          </tr>
        </thead>
      </table>
    </div>
    <div id="tWrapBody" class="tWrap__body" (scroll)="onBodyScroll($event)">
      <table id="bodyTable">
        <tbody>
          <tr #tr class="table-row" *ngFor="let row of rows" (click)="onRowClicked(row, tr)" (dblclick)="onRowDblClicked(row)" (mouseup)="onMouseUp(row, $event)">
            <td *ngIf="showMultiEdit" class="checkbox-cell" [style.border-color]="getStatusColor(row)">
              <mat-checkbox [(ngModel)]="row.selected"
                            (ngModelChange)="updateAllComplete(row)">
              </mat-checkbox>
            </td>
            <ng-container *ngFor="let col of columns; let i = index">
              <td *ngIf="!col.hidden" [style.border-color]="getStatusColor(row)" [style.width]="col.width">
                <!-- Default Cell Type -->
                <div class="multi-cell">
                  <!-- 1st Column Alert Icons -->
                  <div *ngIf="i === 0" class="alert-icons">
                    <span *ngIf="showNoteIcon(row)" class="material-symbols-outlined" [ngStyle]="{color: noteIconColor}">
                      event_busy
                    </span>
                    <span *ngIf="showJeopIcon(row)" class="material-symbols-outlined" [ngStyle]="{color: jeopIconColor}">
                      offline_bolt
                    </span>
                  </div>
                  <p *ngIf="col.type === 'number' || col.type === 'text'">{{ getCellValue(row, col) }}</p>
                  <p *ngIf="col.type === 'currency'">{{ getCellValue(row, col) | currency }}</p>
                </div>
                <!-- Count Cell -->
                <p *ngIf="col.type === 'count'" class="count-cell-content">{{ getCellValue(row, col) }}</p>
                <!-- Date and time Cell -->
                <p *ngIf="col.type === 'date'">{{ getCellValue(row, col) | date:'M/d/yy'}}</p>
                <p *ngIf="col.type === 'dateutc'">{{ getCellValue(row, col) | date:'M/d/yy':'UTC'}}</p>
                <p *ngIf="col.type === 'datetime'">{{ getCellValue(row, col) | date:'M/d/yy h:mm a'}}</p>
                <p *ngIf="col.type === 'time'">{{ getCellValue(row, col) | date:'h:mm a'}}</p>
                <!-- List Cell -->
                <ul class="list-cell-content" *ngIf="col.type === 'list'">
                  <li *ngFor="let item of getCellValue(row, col).split(',')">{{item}}</li>
                </ul>
                <!-- Progress Bar Cell -->
                <div *ngIf="col.type === 'progress'" class="progress-cell-content">
                  {{ row[col.propertyName] }}%
                  <div class="progress-bar">
                    <div [style.width]="getProgressBarWidth(row, col)"></div>
                  </div>
                </div>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pagination-buttons">
    <p>{{this.getPaginationText()}}</p>
    <button type="button" (click)="onPrevPageClicked()" [disabled]="prevPageDisabled()">
      <span class="material-symbols-outlined">
        chevron_left
        </span>
    </button>
    <button type="button" (click)="onNextPageClicked()" [disabled]="nextPageDisabled()">
      <span class="material-symbols-outlined">
        chevron_right
      </span>
    </button>
  </div>
</div>

<!-- Card View -->
<div *ngIf="cardViewSelected" class="abstract-cards">
  <div #div *ngFor="let card of cards" class="card" (click)="onRowClicked(card.data, div)" (dblclick)="onRowDblClicked(card.data)" (mouseup)="onMouseUp(card.data, $event)">
    <div class="card-header" [style.background]="getStatusColor(card.data)">
      <ng-container *ngTemplateOutlet="cardHeader; context: {$implicit: card}"></ng-container>
    </div>
    <div class="card-body">
      <ng-container *ngTemplateOutlet="cardBody; context: {$implicit: card}"></ng-container>
    </div>
    <div class="card-footer">
      <div class="card-page-select">
        <!-- Odd syntax for using ngFor with a number, instead of a collection -->
        <ng-container *ngFor="let item of [].constructor(cardPageCount); let i = index">
          <button type="button" [style.background-color]="(card.meta.page === i) ? '#5DCADE' : ''" (click)="onCardPageClicked($event, card, i)"></button>
        </ng-container>
      </div>
      <ng-container *ngTemplateOutlet="cardFooter; context: {$implicit: card}"></ng-container>
    </div>
  </div>
</div>
