<div oncontextmenu="return false;">
  <header class="header">
    <h2 mat-dialog-title>Service History</h2>
    <button class="material-symbols-outlined closeButton" (click)="onClose()">close</button>
  </header>

  <div class="table-wrapper">
    <div class="loader" *ngIf="(isLoading$ | async)">
      <mat-spinner></mat-spinner>
    </div>
    <app-service-history-table class="service-history-table"
      [columns]="(columns$ | async) || []"
      [tableData]="(tableData$ | async) || []"
      [tableTotal]="(tableTotal$ | async)"
      [searchCriteria]="(searchCriteria$ | async)"
      (rowDblClick)="onRowDblClicked($event)"
      (rowRightClick)="onRowRightClicked($event)"
      (changeSortClicked)="onChangeSortClicked($event)"
      (pageClicked)="onFilterChanged($event, 'offset')">
    </app-service-history-table>
  </div>
  
  <div class="context-menu" #contextMenu [ngStyle]="contextMenuStyle">
    <ul>
      <li (click)="onRowDblClicked(contextMenuService)">Open Service</li>
      <li (click)="onOpenParentClicked()">Open Parent Service</li>
    </ul>
  </div>
</div>
