.field.nowrap {
  .radio-options {
    width: unset;
    gap: 5px;
    margin-left: -5px;
    .radio-option {
      display: flex;
      align-items: flex-start;
      input {
        width: unset;
      }
    }
  }
}

.shippingField {
  display: flex;
  margin-top: 1em;
  font-size: 14px;
  line-height: 14px;
  .value {
    font-size: 14px;
    line-height: 14px;
  }
}

.field {
  p {
    max-width: unset;
  }
}

form .col:nth-child(2) {
  flex-grow: 1;
}

.card-footer-content {
  p {
    margin: 0;
    padding: .5em;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    color: #3E3E3E;
  }
}

.abstract-cards.card.card-footer {
  margin-top: unset !important;
}

.card-footer {
  margin-top: unset !important;
}

.abstract-cards {
  .card {
    height: 5em;
  }
}

.buttons {
  padding-left: 2em;
}

mat-divider {
  margin: unset;
}

.secondary-card-header {
  font-size: unset !important;
}

