:host {
  position: relative;
  display: flex;
  flex-direction: column;
}
.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  mat-spinner {
    display: flex;
    flex-direction: row;
    align-self: center;
  }
}
.header{
  display: flex;
  padding: 1em 2em;
  justify-content: space-between;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;

  width: auto;

  button {
    height: 100%;
    background-color: #F8F8F8;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    padding: .2em 1em;

    &:hover:not([disabled]) {
      background-color: #5DCADE;
      color: #FFFFFF;
      cursor: pointer;
    }

    .material-symbols-outlined { font-size: 18px; } /* Button icon size */
  }

  > div {
    display: flex;
    align-items: center;

    p {
      margin: 0;
      margin-right: .3em;
    }

    select {
      margin-right: .3em;
      font-family: 'Roboto';
      font-size: 14px;
    }

    button {
      margin-left: .5em;
    }
  }

  .header-button-wrapper {
    &.open > button {
      background-color: #5DCADE;
      color: #FFFFFF;
    }
    &:not(.open) > .filter-content {
      width: 0;
      padding: 0;
      overflow: hidden;
    }

    .filter-content {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: #FFFFFF;
      padding: 1em 0.5em;
      box-sizing: border-box;
      border-right: 1px solid lightgray;
      height: 100%;
      width: 208px;
      transition: all 0.2s linear;
      overflow: auto;
      .filter-container {
        overflow: visible;
        width: 193px;
      }
      .clear {
        position: absolute;
        right: 10px;
        top: 10px;
      }

      .filter-content-row {
        padding: .2em 0;
        app-dropdown::ng-deep {
          .dropdown-wrapper {
            margin: 10px 0;
          }
        }
        input {
          width: calc(100% - 7px);
        }

        input[type="date"] {
          width: calc(100% - 4px);
        }
      }
    }
  }
}

.abstract-table {
  padding: 0 2em;
  height: calc(100vh - 26em);

  .tWrap {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__head {
      padding-right: 15px;
      overflow: auto;
      flex: 0 0 37px;
      margin-bottom: 1em;
      tr {
        height: 2.5em;
        .checkbox-cell {
          width: 60px;
        }
      }
    }

    &__body {
      overflow-y: scroll;
      .table-row {
        height: 5em;
        border-bottom: 1px solid #EBEBEB;

        /* Text */
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 16px;
        text-align: center;

        td:first-child {
          font-weight: 700;
          border-left: 5px solid;
          &.checkbox-cell {
            width: 50px
          }
          div {
            display: flex;
            align-items: center;
          }
        }
        .multi-cell {
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: center;
          .alert-icons { min-width: 3.25em; }
          .material-symbols-outlined {
            font-size: 20px;
            padding: .1em;
          }
        }
      }

      .table-row:hover {
        background-color: #DDDDDD;
        border-bottom: 1px solid #EBEBEB;
      }

      .count-cell-content {
        background-color: #adadad;
        border-radius: 39px;
        color: #FFFFFF;
        font-size: 12px;
        line-height: 20px;
        padding:0 8.6px;
        width: fit-content;
        justify-content: center;
        margin: auto;
      }

      .list-cell-content {
        list-style-type: circle;
        text-align: start;
      }

      .progress-cell-content {
        font-weight: bold;
        font-size: 12px;
        text-align: start;
      }
    }

    table {
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;
    }

    th, td {
      padding: 8px;
      text-align: center;
      overflow: hidden;
      min-width: 1em;
      p {
        text-overflow: ellipsis;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        &.count-cell-content {
          margin: auto;
        }
      }
    }

    th {
      position: relative;
      background-color: #5DCADE;
      text-overflow: ellipsis;

      /* Table Header Text */
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 11px;
      line-height: 18px;
      text-transform: uppercase;
      color: #FFFFFF;
      white-space: nowrap;
      &.cdk-drag-handle {
        cursor: pointer;
      }
      > span {
        position: absolute;
        line-height: 16px;
        right: 6px;
      }

      /* Column resize handle */
      .resizer {
        opacity: 0;
        background-color: #FFFFFF;
        position: absolute;
        top: 5px;
        right: 0;
        width: 4px;
        cursor: col-resize;
        user-select: none;
      }
      &:hover .resizer {
        opacity: 1;
      }
    }

    /* Table Header Borders */
    th:first-child { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
    th:last-child { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
  }
}

.abstract-cards {
  padding: 0px calc(2em - 18px) 0 2em;
  height: calc(100vh - 336px);
  display: flex;
  flex-wrap: wrap;
  gap: 1.2em;
  justify-content: space-between;
  overflow-y: scroll;

  .card {
    width: 29em;
    height: 20em;

    display: flex;
    flex-direction: column;
    border: 1px solid #E4E4E4;
    border-radius: 6px;

    /* Text */
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 24px;

    ::ng-deep .card-header {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;

      div {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        p {
          margin: 0px;
          padding: 8px 16px;
        }
      }

      div:first-child {
        p:first-child { font-weight: bold; }
        p:nth-child(2) { font-size: smaller; }
      }
    }

    ::ng-deep .card-body {
      color: black;
      display: flex;
      flex-direction: column;
      padding: .7em;

      .card-data {
        display: flex;
        padding: .1em 0;
        gap: 2em;
        font-family: 'Roboto';
        font-size: 13px;
        line-height: 15px;
        color: #3E3E3E;

        p:first-child {
          min-width: 50%;
          max-width: 50%;
        }
      }

      p { margin: 0; }
    }

    .card-footer {
      margin-top: auto;

      .card-page-select {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5em;
        padding: .5em 0;

        button {
          height: .5em;
          width: 2em;
          background-color: #3E3E3E;
          border-radius: 15px;
          border: none;
          cursor: pointer;
        }
      }
    }
  }

  .card:hover {
    background-color: #DDDDDD;
  }
}

.progress-bar {
  height: .5em;
  background-color: #F0F0F0;
  border-radius: 10px;
  margin-top: .2em;

  > div {
    height: inherit;
    border-radius: inherit;
  }
}

// hides scrollbars
#tWrapHead::-webkit-scrollbar {
  display: none;
}
#tWrapHead {
  scrollbar-width: none;
}
