.lookup-types-container {
  display: flex;
  .list-wrapper {
    margin: .5em 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    min-width: 40%;
    width: 100%;
  }

  .category {
    margin: .2em 0;
    background-color: #5DCADE;
    border-radius: 3px;
    color: #FFFFFF;

    .header {
      display: flex;
      cursor: pointer;
      background-color: #3871C1;
      border: none;
      border-radius: 3px;
    }

    p {
      margin: 0;
      padding: .5em 1em;
    }

    .material-symbols-outlined {
      margin-left: auto;
      margin-right: 1em;
      line-height: 1.4;
    }
  }

  .lookup-types {
    
    p {
      cursor: pointer;
      padding-left: 2em;
    }
  }

  .lookup-type-details {
    width: 160%;
    margin: .5em 1em .5em 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    .buttons {
      display: flex;
      gap: .25em;
      align-items: center;

      .button {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: .25em 0;
        padding: .25em;
        border-radius: 10px;
        background-color: #5DCADE;
        color: #FFFFFF;

        &:hover{
          background-color: #3871C1;
        }

        p {
          margin: 0 .25em;
        }
      }

      .changes-saved {
        background-color: #3871C1;
        color: #FFFFFF;
        border-radius: 10px;
        margin: .5em;
        padding: 0 .25em;
        display: none;

        .material-symbols-outlined {
          margin: auto;
          padding: 0;
          cursor: default;
        }

        p {
          margin: .5em;
        }
      }
    }

    .headers {
      .header {
        border: 1px solid rgb(63, 63, 63);
        border-top: none;
        display: flex;
        justify-content: space-between;
        font-family: inherit;
        font-size: inherit;
        padding: .5em;

        div {
          display: flex;
          gap: .25em;
        }

        p {
          margin: 0;
          font-weight: bold;
        }

        input {
          font-family: inherit;
          font-size: inherit;
        }

        select {
          min-width: 300px;
        }
      }
      .header:first-child {
        border-top: 1px solid rgb(63, 63, 63);
      }
    }

    .values {
      font-family: inherit;
      font-size: inherit;
      .value-headers {
        .value-header {
          border-left: 1px solid rgb(63, 63, 63);
          font-weight: bold;
          height: 40px;
        }
        .value-header:first-child {
          width: 24px;
          border-left: none;
        }
        .value-header:last-child {
          width: 56px;
        }
      }

      .value {
        border: 1px solid rgb(63, 63, 63);
        border-top: none;
        display: flex;
        font-family: inherit;
        font-size: inherit;
        height: 40px;

        .value-el {
          border-left: 1px solid rgb(63, 63, 63);
        }

        .value-el:first-child {
          width: 28px;
          padding-left: 12px;
          padding-right: 12px;
          border-left: none;
        }


        .value-el:last-child {
          width: 24px;
        }

        div {
          display: flex;
          width: 100%;
        }

        input {
          padding: 0px;
          padding-left: 5px;
          padding-right: 5px;
          width: 100%;
          outline: none;
          border: none;
          border-left: 1px solid rgb(63, 63, 63);
        }

        input.check-column {
          width: 40px;
        }

        mat-checkbox {
          padding: 0px;
          padding-left: 5px;
          padding-right: 5px;

          ::ng-deep .mdc-checkbox__background {
            border-color: #5DCADE;
            background-color: #FFFFFF;
            .mdc-checkbox__checkmark {
              color: #5DCADE;
            }
          }

          ::ng-deep .mdc-checkbox__ripple {
            background-color: #5DCADE;
          }
        }

        .drag-handle {
          cursor: grab !important;
        }

        .material-symbols-outlined {
          cursor: pointer;
          line-height: 1.6;
          padding: 0 .5em;

          &:hover{
            background-color: #5DCADE;
            color: #FFFFFF;
          }
        }
      }
    }

    input:disabled {
      border: 1px solid #FFFFFF;
      background-color: #FFFFFF;
      color: black;
      opacity: 1;
    }
  }
}

.clickable {
  cursor: pointer;
}