<div class="content">
  <div class="check-row">
    <div class="field">
      <label for="checkbox" class="custom-checkbox">
        <input type="checkbox" id="checkbox" [(ngModel)]="automatedEmailsEnabled" name="automatedEmailsEnabled"
        [disabled]="!editingAutomatedEmails">
        <span class="checkbox"></span> Automated Milestone Emails Enabled
      </label>
    </div>
  </div>

<!-- TODO: this needs to rese -->
  <ng-container *ngIf="editingAutomatedEmails && !automatedEmailsEnabled && automatedEmailsEnabled !== undefined">
    <div class="field">
      <ul *ngIf="automateEmailAddresses.length">
        <li *ngFor="let email of automateEmailAddresses">{{ email }}</li>
      </ul>
    </div>
  </ng-container>

  <ng-container *ngIf="!editingAutomatedEmails && automatedEmailsEnabled && automatedEmailsEnabled !== undefined">
    <div class="field">
      <ul *ngIf="automateEmailAddresses.length">
        <li *ngFor="let email of automateEmailAddresses">{{ email }}</li>
      </ul>
    </div>
  </ng-container>


  <ng-container *ngIf="editingAutomatedEmails && automatedEmailsEnabled && automatedEmailsEnabled !== undefined">
    <div class="emails">
      <p>Add Email:</p>
      <input [(ngModel)]="newEmailInput" name="automateEmailAddresses" placeholder="Enter email address">
      <span class="material-symbols-outlined" (click)="addEmail()">add</span>
    </div>
  
    <ul *ngIf="automateEmailAddresses.length">
      <li *ngFor="let email of automateEmailAddresses">{{ email }}</li>
    </ul>
  </ng-container>
  
  
  
  
</div>