<dialog #dialog>
  <table>
    <thead>
      <th>Rank</th>
      <th class="header">Primary Root Cause</th>
      <th class="header">Secondary Root Cause</th>
      <th class="header">Tertiary Root Cause</th>
      <th class="note-header">Note</th>
    </thead>
    <tbody #tableBody *ngIf="primaryCauses" (drop)="onDrop($event)" (dragover)="onParentDragOver($event)">
      <tr *ngFor="let issue of issues; let i = index" [draggable]="true" (dragstart)="onDragStart($event, issue)" (dragover)="onChildDragOver($event, issue)" (dragleave)="onDragLeave($event)" (dragenter)="onDragEnter($event)" (dragend)="onDragEnd($event)">
        <td class="clickable">
          {{i+1}}
        </td>
        <td>
          <select [disabled]="!editEnabled" [ngModel]="issue.primaryRootCause" (ngModelChange)="issue.setPrimaryRootCause($event)" [name]="issue.id + '-primaryRootCause'">
            <option *ngFor="let opt of primaryCauses" value="{{opt.display}}">{{opt.display}}</option>
          </select>
        </td>
        <td>
          <select [disabled]="!editEnabled" [ngModel]="issue.secondaryRootCause" (ngModelChange)="issue.setSecondaryRootCause($event)" [name]="issue.id + '-secondaryRootCause'" [disabled]="!issue.primaryRootCause || !editEnabled">
            <option *ngFor="let opt of getSecondaryCauses(issue)" value="{{opt.display}}">{{opt.display}}</option>
          </select>
        </td>
        <td>
          <select [(ngModel)]="issue.tertiaryRootCause" [name]="issue.id + '-tertiaryRootCause'" [disabled]="!issue.secondaryRootCause || !editEnabled">
            <option *ngFor="let opt of getTertiaryCauses(issue)" value="{{opt.display}}">{{opt.display}}</option>
          </select>
        </td>
        <td>
          <input [disabled]="!editEnabled" [(ngModel)]="issue.note" [name]="issue.id + '-note'"/>
        </td>
      </tr>
      <tr #placeholderRow [ngStyle]="placeholderStyles">
        <td></td><td></td><td></td><td></td><td></td>
      </tr>
      <tr>
        <td *ngIf="(editEnabled$ | async)" class="clickable" (click)="onAddClicked()">
          <span class="material-symbols-outlined">
            add
          </span>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="buttons">
    <button *ngIf="(editEnabled$ | async)" (click)="onSaveClicked()">
      <span class="material-symbols-outlined">save</span>
      Save
    </button>
    <button (click)="onCancelClicked()">
      Cancel
    </button>
  </div>
</dialog>

