dialog {
  display: flex;
  flex-direction: column;
  border: 1px solid #EDEDED;
  border-radius: 5px;

  font-family: 'Roboto';
  font-size: 14px;

  table {
    border-spacing: 1em 0;
    border-collapse: collapse;

    th.header {
      width: 12em;
    }
  
    th.note-header {
      width: 20em;
    }

    td {
      text-align: center;
    }
  }

  select, input {
    width: 100%;
    border: 1px solid #EDEDED;
  }

  .buttons {
    display: flex;
    gap: .5em;
    margin: 1em 0 0 auto;

    button {
      display: flex;
      padding: .2em .5em;
      align-items: center;
      color: white;
      background-color: #5DCADE;
      border: none;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        background-color: #3871C1;
      }
    }
  }
}

.clickable {
  cursor: pointer;
}