<form #serviceForm="ngForm" class="form">
  <div class="col">
    <!-- Provider Info -->
    <div class="header">
      <p>Provider Information</p>
      <ng-container *ngIf="editEnabled$ | async">
        <span class="material-symbols-outlined" *ngIf="!editingServiceProvider"
              (click)="oes.toggleEditFlag('editingServiceProvider')">
          border_color
        </span>
        <span class="material-symbols-outlined" *ngIf="editingServiceProvider" (click)="onSaveClicked()">
          save
        </span>
      </ng-container>
    </div>
    <div class="content">
      <div class="field">
        <p class="tooltip">
          <span class="tooltiptext">{{ tooltips.providerTooltip }}</span>
          Provider
        </p>
        <vtk-select [(ngModel)]="service.provider" name="provider" [disabled]="!editingServiceProvider"
                    [isReadOnly]="!!(isReadOnly$ | async)" [options]="providerOpts"></vtk-select>
      </div>
      <div class="field">
        <p>Circuit Priority</p>
        <vtk-select [(ngModel)]="service.circuitPriority" name="circuitPriority" [disabled]="!editingServiceProvider" [isReadOnly]="!!(isReadOnly$ | async)" [options]="circuitPriorityOpts"></vtk-select>
      </div>
      <div class="field">
        <p>Account Number / BAN</p>
        <input [(ngModel)]="service.accountNumber" name="accountNumber"
               [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p>Summary Bill</p>
        <input [(ngModel)]="service.summaryBill" name="summaryBill" [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p>Provider Order Number</p>
        <input [(ngModel)]="service.providerOrderNum" name="providerOrderNum" [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p>Bill Cycle</p>
        <input type="number" min="1" max="31" step="1" [(ngModel)]="service.billCycle" name="billCycle" [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p>Account Passcode</p>
        <input [(ngModel)]="service.accountPasscode" name="accountPasscode" [disabled]="!editingServiceProvider">
      </div>
      <hr>
      <div class="field">
        <p>UID</p>
        <input [(ngModel)]="service.uid" name="uid" [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p>ICCID</p>
        <input [(ngModel)]="service.iccid" name="iccid" [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p>IMEI</p>
        <input [(ngModel)]="service.imei" name="imei" [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p>Mobile Device Number (MDN)</p>
        <input [(ngModel)]="service.mdn" name="mdn" placeholder="(555)-555-5555 x5555" appPhoneMask
        appPhoneValidator={{service.mdn}} [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p>APN</p>
        <input [(ngModel)]="service.apn" name="apn" [disabled]="!editingServiceProvider">
      </div>
      <div class="field">
        <p>Rate Plan</p>
        <input [(ngModel)]="service.ratePlan" name="ratePlan" [disabled]="!editingServiceProvider">
      </div>
    </div>

    <!-- Service Details -->
    <div class="header">
      <p>Service Details</p>
      <ng-container *ngIf="editEnabled$ | async">
        <span class="material-symbols-outlined" *ngIf="!editingServiceCircuit"
              (click)="oes.toggleEditFlag('editingServiceCircuit')">
          border_color
        </span>
        <span class="material-symbols-outlined" *ngIf="editingServiceCircuit" (click)="onSaveClicked()">
          save
        </span>
      </ng-container>
    </div>
    <div class="content">
      <div class="field">
        <p>Download</p>
        <input type="number" [(ngModel)]="service.downloadSpeed" name="download" [disabled]="!editingServiceCircuit">
      </div>
      <div class="field">
        <p>Upload</p>
        <input type="number" [(ngModel)]="service.uploadSpeed" name="upload" [disabled]="!editingServiceCircuit">
      </div>
      <hr>
      <div class="field">
        <p>RSRP</p>
        <input type="number" [(ngModel)]="service.rsrp" name="rsrp" [disabled]="!editingServiceCircuit">
      </div>
      <div class="field">
        <p>RSRQ</p>
        <input type="number" [(ngModel)]="service.rsrq" name="rsrq" [disabled]="!editingServiceCircuit">
      </div>
      <div class="field">
        <p>SINR</p>
        <input type="number" [(ngModel)]="service.sinr" name="sinr" [disabled]="!editingServiceCircuit">
      </div>
      <div class="field">
        <p>RSSI</p>
        <input type="number" [(ngModel)]="service.rssi" name="rssi" [disabled]="!editingServiceCircuit">
      </div>
      <div class="field">
        <p>Replace 4G/5G  with Broadband/DIA</p>
        <select [(ngModel)]="service.replace4g5g" name="replace4g5g" [disabled]="!editingServiceCircuit">
          <option [ngValue]="null" disabled selected hidden>{{ isReadOnly$ ? '' : 'Select...'}}</option>
          <option *ngFor="let opt of replace4g5gOpts" value={{opt}}>{{opt}}</option>
        </select>
      </div>
    </div>
    <!-- Equipment -->
    <div class="header">
      <p>Equipment</p>
      <ng-container *ngIf="editEnabled$ | async">
        <span class="material-symbols-outlined" *ngIf="!editingServiceEquipment"
              (click)="oes.toggleEditFlag('editingServiceEquipment')">
          border_color
        </span>
        <span class="material-symbols-outlined" *ngIf="editingServiceEquipment" (click)="onSaveClicked()">
          save
        </span>
      </ng-container>
    </div>
    <div class="content">
      <div class="field">
        <p>MAC Address</p>
        <input [(ngModel)]="service.macAddress" name="macAddress" appIpAddress="MAC" [disabled]="!editingServiceEquipment">
      </div>
      <div class="field">
        <p>Serial Number</p>
        <input [(ngModel)]="service.serialNumber" name="serialNumber" [disabled]="!editingServiceEquipment">
      </div>
    </div>
  </div>

  <div class="col">
    <app-note #note *ngIf="this.service.id && !(isLoading$ | async)"
              type="service"
              [parentId]="service.id.toString()"
              [maxNotes]="2"
              [serviceName]="service.type"
              [showSave]="true"
              [headerClass]="'header'">
    </app-note>
    <br>
    <div *ngIf="!(isInventory$ | async)">
    <app-jeops *ngIf="this.service.id" type="service"
               [parentId]="service.id"
               [orderId]="service.orderId"
               [companyId]="companyId"
               [maxJeops]="5"
               [headerClass]="'header'">
    </app-jeops>
    </div>
  </div>
</form>
