<div class="report-container">
  <div [style.display]="'grid'">
    <div class="report">
      <div class="canvas-container" [class.expanded]="activationEventLengthChartConfig.expanded">
        <div class="header">
          <div class="title">
            Activation Event Length
          </div>
          <div class="actions">
            <div class="action-item">
              <span class="material-symbols-outlined" (click)="excelService.exportAsExcelFile(this.activationAttemptData, 'activation_event_length')">download</span>
              <span class="material-symbols-outlined" (click)="activationEventLengthChartConfig.expanded = !activationEventLengthChartConfig.expanded">open_in_new</span>
            </div>
          </div>
        </div>
        <canvas id="activationEventLengthChart"></canvas>
      </div>

      <div class="canvas-container" [class.expanded]="activationSuccessRateChartConfig.expanded">
        <div class="header">
          <div class="title">
            Activation Success Rate
          </div>
          <div class="actions">
            <div class="action-item">
              <span class="material-symbols-outlined" (click)="excelService.exportAsExcelFile(this.activationSuccessData, 'activation_success_rate')">download</span>
              <span class="material-symbols-outlined" (click)="activationSuccessRateChartConfig.expanded = !activationSuccessRateChartConfig.expanded">open_in_new</span>
            </div>
          </div>
        </div>
        <canvas id="activationSuccessRateChart"></canvas>
      </div>
    </div>
  </div>
</div>

<app-loading-spinner *ngIf="(isLoading$ | async) || excelService.isLoading"></app-loading-spinner>
