<form #locationForm="ngForm" class="form">
  <ng-container *ngIf="(selectedLocationOrService$ | async) && showForm">
    <!-- Location Info -->
    <div class="col">
      <div class="header">
        <p>Location Information</p>
        <ng-container *ngIf="(editEnabled$ | async) && !location.isDisconnect">
          <span class="material-symbols-outlined" *ngIf="!editingLocInfo" (click)="oes.toggleEditFlag('editingLocInfo')">
            border_color
          </span>
          <span class="material-symbols-outlined" *ngIf="editingLocInfo" (click)="onSaveClicked()">
            save
          </span>
        </ng-container>
      </div>
      <div class="content">
        <div class="field">
          <p class="tooltip">
            <span class="tooltiptext">{{clientLocationIdTip}}</span>
            Client Location ID
          </p>
          <input [(ngModel)]="location.clientLocationId" name="clientLocationId" [disabled]="!editingLocInfo" required>
        </div>
        <div class="field">
          <p class="tooltip">
            <span class="tooltiptext">{{quoteLocationIdTip}}</span>
            Quote Location ID
          </p>
          <input [(ngModel)]="location.quoteLocationId" name="quoteLocationId" [disabled]="!editingLocInfo">
        </div>
        <div class="field">
          <p class="tooltip">
            <span class="tooltiptext">{{locationStatusTip}}</span>
            Status
          </p>
          <input [(ngModel)]="location.status" name="status" [disabled]="true">
        </div>
        <hr>
        <div class="field">
          <p class="tooltip">
            <span class="tooltiptext">{{nameTip}}</span>
            Name
          </p>
          <input [(ngModel)]="location.name" name="name" [disabled]="!editingLocInfo">
        </div>
        <div class="field">
          <p class="tooltip">
            <span class="tooltiptext">{{locationPhoneNumberTip}}</span>
            Location Phone Number
          </p>
          <input [(ngModel)]="location.phoneNumber" placeholder="(555)-555-5555 x5555" appPhoneMask name="phoneNumber" [disabled]="!editingLocInfo"
                 appPhoneValidator={{location.phoneNumber}}>
        </div>
        <ng-container class="field" *ngIf="editingLocInfo">
          <div class="field">
            <span></span>
            <a class="link" href="javascript:" (click)="onAddressClicked()">Manage Addresses</a>
          </div>
          <div class="field">
            <p>Address Line 1</p>
            <input [(ngModel)]="location.address1" name="address1">
          </div>
          <div class="field">
            <p>Address Line 2</p>
            <input [(ngModel)]="location.address2" name="address2">
          </div>
          <div class="field">
            <p>City</p>
            <input [(ngModel)]="location.city" name="city">
          </div>
          <div class="field">
            <p>State/Province/Region</p>
            <select [ngModel]="location.state" (ngModelChange)="onStateChanged($event)" name="state">
              <option *ngFor="let opt of stateOpts" value={{opt.value}}>{{opt.display}}</option>
            </select>
          </div>
          <div class="field">
            <p>ZIP/Postal Code</p>
            <input [(ngModel)]="location.postalCode" name="postalCode"
              appZipcodeValidator={{location.postalCode}}>
          </div>
          <div class="field">
            <p>Country</p>
            <select [(ngModel)]="location.country" name="country">
              <option *ngFor="let opt of countryOpts" value={{opt}}>{{opt}}</option>
            </select>
          </div>
        </ng-container>
        <div class="field" *ngIf="!editingLocInfo">
          <p class="address tooltip">
            <span class="tooltiptext">{{addressTip}}</span>
            Address
          </p>
          <div class="value detail-text long" [ngStyle]="{'cursor': editingLocInfo ? 'pointer' : ''}">{{locationAddressToString()}}</div>
        </div>
        <div class="field">
          <p class="tooltip">
            <span class="tooltiptext">{{timeZoneTip}}</span>
            Time Zone
          </p>
          <vtk-select [(ngModel)]="location.timezone" [name]="'timezone'" [disabled]="!editingLocInfo" [options]="timeZoneOpts"></vtk-select>
        </div>
        <div class="field">
          <p class="tooltip">
            <span class="tooltiptext">{{locationInfoTip}}</span>
            Location Info
          </p>
          <input [(ngModel)]="location.clientLocationInfo" name="clientLocationInfo" [disabled]="!editingLocInfo">
        </div>
        <div class="field">
          <p class="tooltip">
            <span class="tooltiptext">{{locationTypeTip}}</span>
            Location Type
          </p>
          <input [(ngModel)]="location.clientLocationType" name="clientLocationType" [disabled]="!editingLocInfo">
        </div>
        <hr>
        <div class="field">
          <p class="tooltip">
            <span class="tooltiptext">{{lconNameTip}}</span>
            LCON Name
          </p>
          <input [(ngModel)]="location.lcon.name" name="lconName" [disabled]="!editingLocInfo">
        </div>
        <div class="field">
          <p class="tooltip">
            <span class="tooltiptext">{{lconEmailTip}}</span>
            LCON Email
          </p>
          <input [(ngModel)]="location.lcon.email" name="lconEmail" [disabled]="!editingLocInfo" email="true">
        </div>
        <div class="field">
          <p class="tooltip">
            <span class="tooltiptext">{{lconPhoneTip}}</span>
            LCON Phone
          </p>
          <input [(ngModel)]="location.lcon.phone" placeholder="(555)-555-5555 x5555" appPhoneMask name="lconPhone" [disabled]="!editingLocInfo" appPhoneValidator={{location.lcon.phone}}>
        </div>
        <div class="field">
          <p class="tooltip">
            <span class="tooltiptext">{{levelOfEffortTip}}</span>
            Level of Effort
          </p>
          <vtk-select [(ngModel)]="location.levelOfEffort" [name]="'levelOfEffort'" [disabled]="!editingLocInfo" [options]="levelOfEffortOpts"></vtk-select>
        </div>
        <hr>
        <div class="check-row">
          <div class="field">
            <mat-checkbox [(ngModel)]="location.active" name="active" [disabled]="true"></mat-checkbox>
            <p class="tooltip">
              <span class="tooltiptext">{{activeTip}}</span>
              Active
            </p>
          </div>
        </div>
        <div class="field">
          <p class="tooltip">
            <span class="tooltiptext">{{sourceTip}}</span>
            Source
          </p>
          <input [(ngModel)]="location.recordSource" name="recordSource" [disabled]="true">
        </div>
      </div>
    </div>
    <!-- Location Billing -->
    <div class="col location-billing">
      <div class="header">
        <p>Location Billing</p>
      </div>
      <div class="content">
        <div class="field">
          <p class="tooltip">
            <span class="tooltiptext">{{mrcTip}}</span>
            MRC
          </p>
          <div class="value">{{(isInventory ? location.inventoryMrc : location.mrc) | currency}}</div>
        </div>
        <div class="field">
          <p class="tooltip">
            <span class="tooltiptext">{{nrcTip}}</span>
            NRC
          </p>
          <div class="value">{{(isInventory ? location.inventoryNrc : location.nrc) | currency}}</div>
        </div>
        <div class="field">
          <p class="tooltip">
            <span class="tooltiptext">{{annualRecurringCostTip}}</span>
            Annual Recurring Cost
          </p>
          <div class="value">{{(isInventory ? location.inventoryAnnualRecurringCost : location.annualRecurringCost) | currency}}</div>
        </div>
        <div class="field">
          <p class="tooltip">
            <span class="tooltiptext">{{mrrTip}}</span>
            MRR
          </p>
          <div class="value">{{(isInventory ? location.inventoryMrr : location.mrr) | currency}}</div>
        </div>
        <div class="field">
          <p class="tooltip">
            <span class="tooltiptext">{{nrrTip}}</span>
            NRR
          </p>
          <div class="value">{{(isInventory ? location.inventoryNrr : location.nrr) | currency}}</div>
        </div>
        <div class="field">
          <p class="tooltip">
            <span class="tooltiptext">{{icbUnitCostTip}}</span>
            ICB Unit Cost
          </p>
          <div class="value">{{(isInventory ? location.inventoryIcb : location.icb) | currency}}</div>
        </div>
        <div class="field">
          <p class="tooltip">
            <span class="tooltiptext">{{ospConstructionCostTip}}</span>
            OSP Construction Cost
          </p>
          <div class="value">{{(isInventory ? location.inventoryOsp : location.osp) | currency}}</div>
        </div>
      </div>
      <div class="content">
        <div class="header">
          <p>Requirements</p>
          <ng-container *ngIf="(editEnabled$ | async) && !location.isDisconnect">
            <span class="material-symbols-outlined" *ngIf="!editingLocRequirements" (click)="oes.toggleEditFlag('editingLocRequirements')">
              border_color
            </span>
            <span class="material-symbols-outlined" *ngIf="editingLocRequirements" (click)="onSaveClicked()">
              save
            </span>
          </ng-container>
        </div>
        <div class="field">
          <p class="tooltip">
            <span class="tooltiptext">{{requirementsTemplateTip}}</span>
            Requirements Template
          </p>
          <select [(ngModel)]="location.requirementTemplateId" name="requirementTemplateId"
                  [disabled]="!editingLocRequirements">
            <option [ngValue]="null" disabled selected hidden>{{ isReadOnly$ ? '' : 'Select...'}}</option>
            <option [ngValue]="null"></option>
            <option *ngFor="let template of requirementTemplates" [ngValue]="template.id">{{template.name}}</option>
          </select>
        </div>
        <div class="field">
          <div class="v-link" *ngIf="(editEnabled$ | async)" (click)="onEditRequirementsClicked()" [class.disabled]="terminalOrderStatuses.includes(oes?.order?.status || '')">
            Edit Requirements
          </div>
        </div>
        <div class="field textarea">
          <p class="tooltip">
            <span class="tooltiptext">{{descriptionTip}}</span>
            Description
          </p>
          <textarea [(ngModel)]="location.description" maxlength="500" name="description" [disabled]="!editingLocRequirements"
                    rows="5"></textarea>
        </div>
      </div>
    </div>
    <div class="col" *ngIf="this.location.id && !(isLoading$ | async)">
      <app-attachments [type]="fileAttachmentType" [id]="location.id"></app-attachments>
      <mat-divider></mat-divider>
      <app-note #note
                type="location"
                [parentId]="location.id.toString()"
                [maxNotes]="2"
                [showSave]="true"
                [headerClass]="'header'">
      </app-note>
      <br>
      <app-note *ngIf="isInventory"
                type="location"
                [parentId]="location.id.toString()"
                [maxNotes]="1"
                [showSave]="false"
                [audit]="true"
                [headerClass]="'header'">
      </app-note>
      <br>
      <app-jeops
                 type="location"
                 [parentId]="this.location.id"
                 [orderId]="this.location.orderId"
                 [companyId]="companyId"
                 [maxJeops]="5"
                 [headerClass]="'header'">
      </app-jeops>
      <br><br>
      <ng-container *ngIf="(editEnabled$ | async)">
        <div class="header">
          <p>Actions</p>
        </div>
        <div class="buttons">
          <div class="buttons">
            <button *ngIf="isInventory" type="button" (click)="onCostHistoryClicked(location.id)">Cost History</button>
            <!-- <button *ngIf="!(isReadOnly$ | async) && !isInventory && !location.parentLocationId" type="button" (click)="onLinkToParentClicked()">Link to Parent</button> -->
          </div>
          <button type="button" (click)="onDeleteLocation(location.id)" class="tooltip">
            <span class="tooltiptext">{{ deleteLocationTip }}</span>
            Delete Location
          </button>
        </div>
      </ng-container>
    </div>
  </ng-container>
</form>

<app-addresses *ngIf="editingAddress"
    [companyId]="companyId"
    [isLocation]="true"
    (addressSelected)="onAddressSelected($event)"
    (addressSelectCancelled)="onAddressSelectCancelled()">
</app-addresses>
