<div class="buttons">
</div>
<ng-container *ngIf="selectedLocationOrService$ | async as location">
  <app-location-contacts-table #table [location]="location" (rowDblClick)="onContactDblClicked($event)">
    <div class="header-buttons">
      <button (click)="onAddContactClicked(location)" *ngIf="(editEnabled$ | async)">Add Contact</button>
    </div>
  </app-location-contacts-table>
  <app-contact *ngIf="openContactDialog" [contact]="contact" [companyId]="companyId" (contactSaved)="onContactSaved($event)"
               (contactCancelled)="onContactCancelled()"
               (contactDeleted)="onContactDeleted($event)"></app-contact>
</ng-container>
