<div class="attachments">
  <p class="title">Attachments</p>

  <!-- Reverses the order of entries in the attachmentMap -->
  <div class="attachments-container">
    <div class="map" *ngFor="let attachmentEntry of attachmentMap | keyvalue">
      <p class="service-display-text">
        {{attachmentEntry.key}}
      </p>

      <div class="attachment" *ngFor="let attachment of attachmentEntry.value" (click)="onAttachmentClicked($event, attachment)">

        <div>
          <span class="material-symbols-outlined attachment-icon">
            attach_file
          </span>
          <div>
            {{attachment.name}}
            <div class="attachment-description" *ngIf="(attachment.serviceId || attachment.locationId) || (companyEditEnabled && attachment.companyId)">
              <p *ngIf="!attachment.expanded">{{attachment.description}}</p>
              <input *ngIf="attachment.expanded" [(ngModel)]="attachment.description" name="description"
                       (change)="setDirty(attachment)" (click)="$event.stopPropagation()">
            </div>
          </div>
        </div>
        <div *ngIf="attachment.expanded">
          <button title="Download" (click)="onDownloadClicked(attachment)">
            <span class="material-symbols-outlined">
              download
            </span>
          </button>
          <button *ngIf="(attachment.serviceId || attachment.locationId) || (companyEditEnabled && attachment.companyId)" title="Delete" (click)="onDeleteClicked(attachment)">
            <span class="material-symbols-outlined">
              delete
            </span>
          </button>
        </div>

      </div>
    </div>
  </div>

  <p class="v-link" *ngIf="!showDialog && ((editEnabled$ | async) || companyEditEnabled)" (click)="toggleShowDialog()">Add Attachment</p>

  <div class="dialog" *ngIf="showDialog">
    <input id="file-input" type="file">
    <input id="description-input">
    <p class="max-file-size">5MB Max File Size</p>
    <div class="buttons">
      <button (click)="onUploadClicked()">Upload</button>
      <button (click)="toggleShowDialog()">Cancel</button>
    </div>
  </div>

</div>

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
