.dialog {
    background-color: red;
}

button {
    background-color: #3871C1;
    margin-top: 2em;
    font-family: 'Roboto';
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    padding:4px 12px 4px 12px;
}