.new-order {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  overflow: hidden;
}

// Content above table
.header {
  display: flex;
  justify-content: space-between;
  margin: .5em 1em;
  flex-wrap: wrap;
}

.contact-header {
  display: flex;
  margin: 0 1em;
  gap: 2em;

  .contact {
    display: flex;
    gap: 1em;
    min-width: 300px;

    .contact-name {
      max-width: 300px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .billing-address {
      white-space: pre-wrap;
      font-size: 12px;
      line-height: 11px;
    }

    .contact-name, .billing-address {
      &:hover {
        cursor: pointer;
        color: #5DCADE;
      }
    }

    p {
      margin: auto 0;
    }
  }
}

.btn-group {
  display: flex;
  gap: .5em;
  width: fit-content;
}

.btn {
  padding: .5em 1em;
  border-radius: 5px;
  border: none;
  height: fit-content;
  margin: auto 0;
  font-family: 'Roboto';
  font-size: 13px;
  outline: none;

  &:hover:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    cursor: default;
    opacity: 0.3;
  }

  .material-symbols-outlined {
    position: relative;
    top: 2px;
    font-size: 12px;
  }
}

.radio-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-option {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}
.blue {
  background-color: #5DCADE;
  color: white;

  &:hover:not(:disabled) {
    background-color: #3871C1;
  }
}

.gray {
  background-color: #F8F8F8;
  color: #3D3D3D;

  &:hover:not(:disabled) {
    background-color: #5DCADE;
    color: white;
  }
}

.order-details {
  display: flex;
  gap: .5em;
  padding: .5em;

  .field {
    display: flex;
    gap: .5em;
    min-width: 500px;

    p {
      line-height: 2.3;
    }

    .dropdown {
      width: 350px;
    }

    mat-spinner {
      margin: auto 1em;
    }
  }
  .field.client-order-id {
    min-width: 300px;
  }
}

// Table and detail card
.body {
  display: flex;

  // detail card
  .details {
    margin-right: 1em;
    min-width: 20vw;
    border-radius: 5px;
    overflow: hidden;

    .preview-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: black;
      color: white;
      padding: .5em;

      div {
        display: flex;
        align-items: inherit;
      }

      button {
        margin: 0;
      }

      .material-symbols-outlined {
        cursor: pointer;
      }
    }

    //detail card selector buttons
    .detail-selector {
      display: flex;
      cursor: pointer;

      div {
        display: flex;
        width: 50%;
        padding: .25em .5em;
        color: white;
      }

      .location-selector {
        background-color: #3871C1;
      }

      .service-selector {
        background-color: #2A9041;
      }

      .brokerage-selector {
        background-color: #565656;
      }

      .material-symbols-outlined {
        margin: .25em auto;
        color: white;
      }
    }

    //detail card header
    .location-detail-header {
      background-color: #3871C1;
    }

    .service-detail-header{
      background-color: #2A9041;
    }

    .remove-icon {
      font-size: 18px;
      line-height: 1.5;
      cursor: pointer;
    }

    .location-detail-header, .service-detail-header {
      display: flex;
      justify-content: space-between;
      color: white;
      font-weight: 600;
      padding: 0 .5em;

      p {
        margin: .25em;
      }
    }

    .field {
      // border: 1px solid red;

      display: flex;
      justify-content: space-between;
      padding: .1em .25em;

      input, p {
        font-size: 13px;
      }

      input {
        width: 160px;
        min-width: 160px;
        max-height: 14px;
      }

      select, vtk-select {
        width: 167px;
        min-width: 167px;
        ::ng-deep select {
          height: 100%;
          max-height: 21px;
        }
      }

      app-datepicker {
        left: -7px;
        position: relative;
        width: 160px;
      }

      textarea {
        resize: none;
        width: 200px;
        font-family: 'Roboto';
      }

      .ng-invalid:focus {
        outline: 1px solid red;
      }
      .ng-invalid {
        border: 1px solid red;
      }

      input:disabled, select:disabled {
        border: 1px solid #FFFFFF;
        background-color: #FFFFFF;
        color: black;
        opacity: 1;
      }

      .checkbox-wrapper {
        display: flex;
        justify-content: space-evenly;
        padding: 0 2.5em;
        input {
          width: unset;
          min-width: unset;
        }
      }
    }

    .detail-content {
      padding: .25em .1em;
      border-left: 3px solid;
      border-right: 3px solid;
      border-bottom: 3px solid;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      height: calc(100% - 100px);
      overflow-y: scroll;
      .section .field:last-child {
        padding-bottom: 0;
      }
      .btn-group {
        margin: .5em 0 0 auto;
        margin-top: .5em;
      }
    }
  }
}

//attachments
.attachment-header {
  justify-content: space-between;
  font-weight: bold;

  .material-symbols-outlined {
    cursor: pointer;
    font-size: 20px;
  }
}

.attachment {
  display: flex;

  input {
    width: 185px;
  }

  .attachment-description {
    margin-left: auto;
  }

  .material-symbols-outlined {
    font-size: 18px;
    cursor: pointer;
  }
}

h2, p {
  margin: 0;
}

select.ng-invalid.ng-touched, input.ng-invalid.ng-touched {
  border: 1px solid red;
}

//assignment dialog
.assignment-dialog {

  .dialog-header {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 0 auto 1em;
    .sub-header {
      font-style: italic;
    }
  }

  .dialog-content {
    display: flex;
    gap: 2em;
  }

  .field {
    display: flex;
    p, vtk-select {
      width: 200px;
    }
    .large {
      width: 400px;
    }
  }

  .bold {
    width: fit-content;
    font-weight: 600;
  }

  .count {
    display: flex;
    .label {
      width: 125px;
    }
    .value {
      width: 25px;
    }
  }

  .dialog-buttons {
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
    gap: .5em;
  }

}

//bulk import dialog
.bulk-import-dialog {
  .header {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    h2 {
      margin-block: 0px;
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
    }
    .closeButton {
      border: none;
      background-color: transparent;
    }

    .closeButton:hover {
      background-color: #3871C1;
      color: white;
      border-radius: 6px;
    }
  }

  .form {
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;

    .import-type {
      display: flex;
      gap: 2em;

      button {
        margin-top: 10px;
      }
    }

    .file-input {
      display: flex;
      gap: 2em;
      min-width: 250px;

      p { margin: 0; line-height: 40px; }
    }
  }

  .buttons {
    margin-top: 12px;
    padding: 1em;
    display: flex;
    justify-content: flex-end;
  }

  button {
    height: 40px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    background-color: #5DCADE;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 0 1em;
    width: fit-content;

    &:hover {
      cursor: pointer;
      background-color: #3871C1;
    }
  }
}

.addAddressDialog{
  margin: 2em;
}
.addressDialogField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .2em;
  align-items: center;
  font-size: 14px;
  line-height: 14px;

  &.textarea {
    display: block;
    textarea {
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  p {
    color: #2b2929;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    max-width: 50%;
  }

  input {
    width: 50%;
  }
  select {
    width: 51.5%;
  }
}

.button-group-address {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
  button {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 13px;
    height: 25px;
    border:none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  button:enabled {
    cursor: pointer;
    color: white;
    background-color: #5DCADE;

    &:hover {
      background: #3871C1;
    }
  }
}
