.schedule-tabs {
  display: flex;
  width: calc(100vw - 20em);
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: 1px solid #EDEDED;
  align-items: center;

  .tab {
    width: 7em;
    padding: .3em .6em;
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    color: #272727;
    text-align: center;
  }

  .selected-tab, .tab:hover {
    color: #5DCADE;
    border-bottom: 3px solid #5DCADE;
  }

  p {
    margin: 0;
  }
}

button {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #EEEEEE;
  background-color: #5DCADE;
  border: 1px solid #EEEEEE;
  border-radius: 6px;
  padding: .2em .7em;
  cursor: pointer;

  &:hover {
    background-color: #3871C1;
  }
}
