<ng-container *ngIf="filters$ | async as filters">
  <!-- Inventory Valuation Chart -->
  <div class="section-header">
    Inventory Valuation
    <div class="section-actions">
      <div class="dropdown">
        <p class="label">Number of Months:</p>
        <app-dropdown [options]="numOfMonthsOpts"
                      (onSelectedChanged)="createInventoryValuationChart(+$event)"
                      [selected]="filters.inventoryValuation.numOfMonths">
        </app-dropdown>
      </div>
      <button class="v-button-outline icon" (click)="inventoryValuationChartConfig.expanded = !inventoryValuationChartConfig.expanded">
        <span class="material-symbols-outlined">{{inventoryValuationChartConfig.expanded ? 'expand_less' : 'expand_more'}}</span>
      </button>
    </div>
  </div>
  <div class="report-container">
    <div [style.display]="inventoryValuationChartConfig.expanded ? 'grid' : 'none'">
      <div class="report">
        <div class="canvas-container" [class.expanded]="inventoryValuationChartConfig.expanded">
          <div class="header">
            <div class="title">
            </div>
            <div class="actions">
              <div class="action-item">
                <span class="material-symbols-outlined" (click)="export(this.inventoryValuations, 'inventory_valuations')">download</span>
              </div>
            </div>
          </div>
          <canvas id="inventoryValuationChart"></canvas>
        </div>
      </div>
    </div>
  </div>

  <!-- Inventory Count Chart -->
  <div class="section-header">
    Inventory Counts
    <div class="section-actions">
      <div class="dropdown">
        <p class="label">Number of Months:</p>
        <app-dropdown [options]="numOfMonthsOpts"
                      (onSelectedChanged)="createInventoryCountsChart(+$event)"
                      [selected]="filters.inventoryCounts.numOfMonths">
        </app-dropdown>
      </div>
      <button class="v-button-outline icon" (click)="inventoryCountChartConfig.expanded = !inventoryCountChartConfig.expanded">
        <span class="material-symbols-outlined">{{inventoryCountChartConfig.expanded ? 'expand_less' : 'expand_more'}}</span>
      </button>
    </div>
  </div>
  <div class="report-container">
    <div [style.display]="inventoryCountChartConfig.expanded ? 'grid' : 'none'">
      <div class="report">
        <div class="canvas-container" [class.expanded]="inventoryCountChartConfig.expanded">
          <div class="header">
            <div class="title">
            </div>
            <div class="actions">
              <div class="action-item">
                <span class="material-symbols-outlined" (click)="export(this.inventoryCounts, 'inventory_counts')">download</span>
              </div>
            </div>
          </div>
          <canvas id="inventoryCountChart"></canvas>
        </div>
      </div>
    </div>
  </div>

  <!-- New Inventory Chart -->
  <div class="section-header">
    New Inventory
    <div class="section-actions">
      <div class="dropdown">
        <p class="label">Number of Months:</p>
        <app-dropdown [options]="numOfMonthsOpts"
                      (onSelectedChanged)="createNewInventoryChart(+$event)"
                      [selected]="filters.newInventory.numOfMonths">
        </app-dropdown>
      </div>
      <button class="v-button-outline icon" (click)="newInventoryChartConfig.expanded = !newInventoryChartConfig.expanded">
        <span class="material-symbols-outlined">{{newInventoryChartConfig.expanded ? 'expand_less' : 'expand_more'}}</span>
      </button>
    </div>
  </div>
  <div class="report-container">
    <div [style.display]="newInventoryChartConfig.expanded ? 'grid' : 'none'">
      <div class="report">
        <div class="canvas-container" [class.expanded]="newInventoryChartConfig.expanded">
          <div class="header">
            <div class="title">
            </div>
            <div class="actions">
              <div class="action-item">
                <span class="material-symbols-outlined" (click)="export(this.newInventory, 'new_inventory')">download</span>
              </div>
            </div>
          </div>
          <canvas id="newInventoryChart"></canvas>
        </div>
      </div>
    </div>
  </div>

</ng-container>