.meta-data {
  display: flex;
  padding: 8px 24px 0;
  margin-bottom: -20px;
  p {
    margin: 0;
  }
  .status-count {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .meta-header {
      margin: 0;
      width: 100%;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      > div {
        display: flex;
      }
    }
  }
  .meta-item {
    display: flex;
    width: 100%;
    gap: 2em;
    > div  {
      display: flex;
      justify-content: space-between;
      > p {
        font-size: 12px;
        font-weight: 500;
        &:last-child {
          margin-left: 5px;
          font-size: 14px;
        }
      }
      &::before {
        content: '';
        position: relative;
        display: block;
        width: 10px;
        height: 10px;
        background-color: var(--before-color);
        border-radius: 50%;
        margin-top: 4px;
        margin-right: 5px;
      }
    }
  }
}

.ttu-equiv-summary {
  font-size: 12px;
}
