<app-application-wrapper></app-application-wrapper>
<div class="worklist-page" oncontextmenu="return false;">
  <div class="worklist-header">
    <span class="tab-header" (click)="onWorklistSelectChanged('locations')">
      Locations
    </span>
    <span *ngIf="telecomClient" class="tab-header" (click)="onWorklistSelectChanged('services')">
      Services
    </span>
    <span *ngIf="cyberClient"  class="tab-header" (click)="onWorklistSelectChanged('cyberServices')">
      Cyber Services
    </span>
    <span class="tab-header" (click)="onWorklistSelectChanged('disconnects')">
      Disconnects
    </span>
    <span *ngIf="telecomClient" class="active" (click)="onWorklistSelectChanged('activations')">
      Activations
      <span class="header-count">{{ tableTotal$ | async }}</span>
    </span>
  </div>
<div class="meta-data">
  <ng-container *ngIf="metaData$ | async as meta">
    <div class="status-count">
      <div class="meta-header">
        <div>
          {{ meta.statusCountHeader }}
        </div>
        <div class="ttu-equiv-summary">
          <p>TTU Equivalent Total: {{ meta.ttuEquivTotal }}</p>
        </div>
      </div>
      <div class="meta-item">
        <div  *ngFor="let sc of meta.statusCounts" [ngStyle]="{'--before-color':  sc['color'] || 'black' }">
          <p>{{sc.status}}:</p>
          <p>{{sc.count}}</p>
        </div>
      </div>
    </div>
  </ng-container>
</div>
  <div class="table-actions">
    <div *ngIf="searchCriteria$ | async as searchCriteria">
      <input type="text" placeholder="Search..." (input)="onSearch($event)" [value]="searchCriteria.search"/>
      <app-dropdown [placeholder]="'All Customers'"
                    [options]="(customerOptions$ | async) || []"
                    (onSelectedChanged)="onFilterChanged($event, 'parentCompanyName')"
                    [multiSelect]="true"
                    [lazyload]="true"
                    [params]="masterCustomerParams$ | async"
                    [canSearch]="true"
                    [searchValue]="(masterCustomerParams$ | async)?.name || ''"
                    (search)="onUpdateParams($event, 'masterCustomerSearchCriteria', 'name', 'masterCustomers')"
                    (loadNewPage)="onUpdateParams($event, 'masterCustomerSearchCriteria', 'offset', 'masterCustomers')"
                    [selected]="searchCriteria.parentCompanyName">
      </app-dropdown>
      <app-dropdown [placeholder]="'Status'"
                    [multiSelect]="true"
                    [selected]="searchCriteria.scheduledAttemptStatus"
                    [options]="(activationStatusOpts$ | async) || []" [icon]="'schedule'"
                    (onSelectedChanged)="onFilterChanged($event, 'scheduledAttemptStatus')"></app-dropdown>
      <input type="text"
             class="date-range"
             ngxDaterangepickerMd
             [locale]="{ format: 'YYYY-MM-DD', displayFormat: 'MMM-DD-YYYY' }"
             [ngModel]="searchCriteria.scheduledCheckInTime.dateRange"
             (rangeClicked)="checkIsEmpty($event)"
             (ngModelChange)="onDateRangeFilter($event, searchCriteria, 'scheduledCheckInTime')"
             [showCustomRangeLabel]="true"
             [alwaysShowCalendars]="true"
             [ranges]="ranges"
             [linkedCalendars]="true"
             [showClearButton]="true"
             placeholder=" {{ searchCriteria.scheduledCheckInTime.isEmpty ? 'Empty dates set' : 'Select a Date Range' }}"/>

      <div class="header" *ngIf="(searchCriteria$ | async) as searchCriteria">
        <div #filter class="header-button-wrapper">
          <ng-content select=".header-buttons"></ng-content><!-- Filters Applied -->
          <ng-container *ngIf="(appliedFilters$ | async) as appliedFilters">
            <button class="applied-filters-button" *ngIf="appliedFilters.length > 0" [matMenuTriggerFor]="appliedFilterMenu">
              Filters Applied ({{appliedFilters.length}})
            </button>
            <mat-menu #appliedFilterMenu="matMenu">
              <div class="applied-filters-menu-item">
                <p class="v-link" (click)="resetFilters()">Reset Filters</p>
              </div>
              <div class="applied-filters-menu-item" *ngFor="let filter of appliedFilters">
                <!-- This is specific to scheduleCheckInTime because it has a default. Thus, clear filters is now reset filters. That brings it back to initial state. Xing the filter clears it. -->
                <p *ngIf="filter.value != undefined && filter.name != 'scheduledCheckInTime'" [title]="(getFilterDisplayName(filter.name) | async) + ': ' + filter.value">
                  {{ (getFilterDisplayName(filter.name) | async) }}: {{filter.value}}
                </p>
                <p *ngIf="filter.value != undefined && filter.name == 'scheduledCheckInTime' && filter.value.dateRange" [title]="(getFilterDisplayName(filter.name) | async) + ': ' + (filter.value.dateRange.startDate | date: 'MM/dd/yyyy') + ' - ' + (filter.value.dateRange.endDate | date: 'MM/dd/yyyy')">
                  {{ (getFilterDisplayName(filter.name) | async) }}: {{filter.value.dateRange.startDate | date: 'MM/dd/yyyy'}} - {{filter.value.dateRange.endDate | date: 'MM/dd/yyyy'}}
                </p>
                <span *ngIf="filter.name != 'scheduledCheckInTime'" class="material-symbols-outlined" (click)="onClearFilterClicked($event, filter)">
                  close
                </span>
                <span *ngIf="filter.name == 'scheduledCheckInTime'" class="material-symbols-outlined" (click)="onClearScheduledCheckInTimeClicked($event, filter)">
                  close
                </span>
              </div>
            </mat-menu>
          </ng-container>
        </div>
      </div>
    </div>
    <div>
      <button type="button" (click)="exportTable('activations.xlsx')">Export</button>

      <!-- beginning of custom worklist dropdown -->
      <div class="settings-dropdown-wrapper">
        <div>
          <div class="custom-worklist-button">
            <button type="button"> Custom Worklists</button>
          </div>
          <div class="dropdown-content columns-dropdown-content">
            <ul id="customWorklists" *ngIf="!hideList">
              <li class="add-new" (click)="manageCustomWorklist($event, null)">Add New</li>

              <!-- Favorites Section -->
              <li *ngIf="favoriteCustomWorklists().length > 0" class="section-header">
                Favorites
              </li>
              <li *ngFor="let item of (favoriteCustomWorklists())" class="worklist-item">
                  <span
                    matTooltip="Click to toggle Favorite" matTooltipPosition="above" [matTooltipShowDelay]=750
                    class="favorite-star"
                    [class.red]="item.favorite"
                    (click)="toggleFavorite($event, item)">★
                  </span>
                <span class="worklist-name" matTooltip="Click to change the worklist view" matTooltipPosition="above" [matTooltipShowDelay]=750
                      (click)="onCustomWorklistClicked(item)">
                    {{ item.name }}
                  </span>
                <span class="meta-info" matTooltip="Author and Last Modified Date" matTooltipPosition="above" [matTooltipShowDelay]=750>
                    {{ item.authorName + '  ' + (item.lastModifiedDate | date: 'MM/dd/yyyy') }}
                  </span>
                <button matTooltip="Only the Author can Edit a Custom Worklist" matTooltipPosition="above" [matTooltipShowDelay]=750
                        (click)="manageCustomWorklist($event, item)">Edit
                </button>
              </li>

              <!-- Available Section -->
              <li *ngIf="availableCustomWorklists().length > 0" class="section-header">
                Available
              </li>
              <li *ngFor="let item of (availableCustomWorklists())" class="worklist-item">
                  <span
                    matTooltip="Click to toggle Favorite" matTooltipPosition="above" [matTooltipShowDelay]=750
                    class="favorite-star"
                    [class.red]="item.favorite"
                    (click)="toggleFavorite($event, item)">★
                  </span>
                <span class="worklist-name" matTooltip="Click to change the worklist view" matTooltipPosition="above" [matTooltipShowDelay]=750
                      (click)="onCustomWorklistClicked(item)">
                    {{ item.name }}
                  </span>
                <span class="meta-info" matTooltip="Author and Last Modified Date" matTooltipPosition="above" [matTooltipShowDelay]=750>
                    {{ item.authorName + '  ' + (item.lastModifiedDate | date: 'MM/dd/yyyy') }}
                  </span>
                <button matTooltip="Only the Author can Edit a Custom Worklist" matTooltipPosition="above" [matTooltipShowDelay]=750
                        (click)="manageCustomWorklist($event, item)">Edit
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end of custom worklist dropdown -->

      <div class="settings-dropdown-wrapper">
        <div>
          <div class="dropdown-trigger">
            <button class="icon">
              <span class="material-symbols-outlined">
                menu
              </span>
            </button>
          </div>
          <div class="dropdown-content">
            <ul>
              <li *ngFor="let col of (columns$ | async)" (click)="onColSelectClicked(col)">
                <mat-checkbox [ngModel]="!col.hidden"></mat-checkbox>
                {{ col.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-wrapper">
    <div class="loader" *ngIf="(isLoading$ | async)">
      <mat-spinner></mat-spinner>
    </div>
    <app-activation-view-table class="view-table"
                               [draggable]="true"
                               [columns]="(columns$ | async) || []"
                               [tableData]="(tableData$ | async) || []"
                               [tableTotal]="(tableTotal$ | async)"
                               [searchCriteria]="(searchCriteria$ | async)"
                               (reorderColumns)="reorderColumns($event)"
                               (rowClick)="onActivationClicked($event)"
                               (rowDblClick)="onActivationDblClicked($event)"
                               (changeSortClicked)="onChangeSortClicked($event)"
                               (pageClicked)="onFilterChanged($event, 'offset')"
                               (rowRightClick)="onActivationRightClicked($event)"
                               (limitChanged)="onLimitChanged($event);">

    </app-activation-view-table>

    <!-- Preview Pane -->
    <div class="previewPane" *ngIf="selectedActivation">
      <div class="preview-pane-header">

      </div>
      <div class="preview-pane-body">

      </div>
    </div>
  </div>

  <div class="context-menu" #contextMenu [ngStyle]="contextMenuStyle">
    <ul>
      <li (click)="onActivationDblClicked(contextMenuActivation)">Open</li>
      <li (click)="onOpenInNewTabClicked()">Open in new tab</li>
    </ul>
  </div>
</div>
