.order-detail-page {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: fit-content;

  .order-header {
    padding: 20px 4em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Text */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;

    .left {
      display: flex;
      flex-direction: column;
      gap: 9px;
      max-width: 500px;
      .v-link {
        color: white;
        font-size: 12px;
        font-weight: 500;
        > span {
          vertical-align: bottom;
        }
      }

      .order-identifier {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 21px;
      }

      .textWrap {
        white-space: normal;
        line-height: 22px;
        padding-right: 5px;
      }
    }

    .center {
      display: flex;
      flex-direction: column;
      padding: 0 2em;
      gap: 1em;
      border-left: 1px solid white;
      text-wrap: nowrap;

      .center-top {
        gap: 1em;
        font-size: 13px;
      }

      .center-bottom {
        flex-wrap: wrap;
        text-wrap: balance;
        display: flex;
        align-items: center;
        padding: 8px;
        border-radius: 5px;
        font-size: 13px;
        background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
        .v-button {
          > span {
            vertical-align: bottom;
            font-size: 14px;
          }
          &:hover {
            background-color: white;
            color: #5DCADE;
            .material-symbols-outlined {
              color: #5DCADE;
            }
          }
        }
      }

      div {
        display: flex;
        gap: 1em;
      }

      app-dropdown {
        color: black;
      }
    }

    .right {
      display: flex;
      gap: .7em;

      button {
        background-color: #F8F8F8;
        border: 1px solid #EEEEEE;
        border-radius: 4px;
        padding: .5em 1em;

        &:hover {
          background-color: transparent;
          background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
          color: #FFFFFF;
          cursor: pointer;
        }

        &.transparent {
          color: #EEEEEE;
          background-color: inherit;

          &:hover {
            background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
          }
        }

        .material-symbols-outlined {
          font-size: 12px;
        }

        /* icon size */
      }
    }

    .material-symbols-outlined {
      font-size: 18px;
    }

    /* icon size */
  }

  .order-details {
    display: flex;
    background-color: #EDEDED;
    justify-content: center;
    padding-bottom: 19px;
    padding-top: 9px;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;

    &.collapsed {
      .card {
        height: 0;
        overflow: hidden;
        padding: 0;
        border: none;
      }
    }

    .card {
      background-color: #FFFFFF;
      border: 1px solid #E8E8E8;
      border-radius: 5px;
      padding: .5em 1em;
      &.row {
        display: flex;
        flex-direction: row;
        gap: .5em;
      }

      .material-symbols-outlined {
        font-size: 18px;
        color: #5DCADE;
        cursor: pointer;
      }

      .card-header {
        display: flex;
        justify-content: space-between;

        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 16px;
        /* Header Icon */
        .material-symbols-outlined {
          font-size: 18px;
          color: #5DCADE;
          cursor: pointer;
        }
      }

      .col-wrapper {
        display: flex;
        gap: 2em;
      }

      .col {

        .field {
          display: flex;
          padding: .1em 0;
          justify-content: space-between;
          font-size: 14px;
          flex-direction: row;
          &-header {
            font-size: 13px;
            font-weight: 500;
            color: #2b2929;
            margin-right: 5px;
            width: 150px;
          }

          input, select {
            border: 1px solid #3E3E3E;
            font-size: inherit;

            &:disabled {
              border: 1px solid #FFFFFF;
              background-color: #FFFFFF;
              color: #646464;
              font-weight: 400;
              line-height: 20px;
              opacity: 1;
            }
            &:disabled::-webkit-input-placeholder {
              opacity: 0;
            }
            &:disabled::-moz-placeholder {
              opacity: 0;
            }
            &:disabled::-ms-input-placeholder {
              opacity: 0;
            }
          }

          select, vtk-select {
            min-width: 12em;
            height: 20px;
          }

          ::ng-deep vtk-select > select {
            font-size: 14px;
            font-family: 'Roboto';

            &:disabled {
              color: #646464;
            }
          }

          select:disabled {
            //makes selects look like input boxes
            -webkit-appearance: none;
            -moz-appearance : none;
          }

          .ng-invalid:focus {
            outline: 1px solid red;
          }

          .ng-invalid {
            border: 1px solid red;
          }
        }
      }
    }
  }

  p {
    margin: 0;
    display: flex;
    align-items: center;
  }
}

/* Tooltip container */
.tooltip-container {
  position: relative;
  display: inline-block;

  &:hover {
    visibility: visible;
    opacity: 1;
  }

  /* Tooltip text */
  .tooltiptext {
    display: none;
    width: 9em;
    background-color: #3871c1;
    color: #FFFFFF;
    text-align: center;
    padding: .5em 0;
    border-radius: 6px;

    /* Positioning */
    position: absolute;
    z-index: 5;
    bottom: 80%;
    left: 50%;
    margin-left: -4.25em; //half of width

  }

  /* tooltip arrow */
  .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -.5em;
    border-width: 5px;
    border-style: solid;
    border-color: #3871c1 transparent transparent transparent;
  }
}

.location-service-panel {
  padding-top: 25px;
  display: flex;
  overflow: hidden;
}

.tabs {
  display: flex;
  height: 3em;
  width: calc(100vw - 15vw);
  border-bottom: 1px solid #EDEDED;
  align-items: center;
  margin-bottom: 3px;
  .tab {
    width: 7em;
    padding: 1.2em;
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    color: #272727;
    text-align: center;
  }

  .selected-tab, .tab:hover {
    color: #5DCADE;
    border-bottom: 3px solid #5DCADE;
  }

  p {
    margin: 0;
  }
}

.container {
  width: calc(100% - 300px);
}

.cardGroup {
  display: flex;
  flex-direction: row;
  gap: 1%;
  justify-content: center;
  padding-top: 5px;
  margin: 0px 1em;
}

.collapseForm {
  justify-content: flex-end;
  display: flex;
  margin-right: 56px;
}

.tabField {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  padding: .1em 0;

  .field-header {
    font-size: 13px;
    font-weight: 500;
    color: #2b2929;
    margin-right: 5px;
    width: 135px;
    padding-top: 0px;
  }

  input,
  select {
    border: 1px solid #3E3E3E;
    font-size: inherit;

    &:disabled {
      border: 1px solid #FFFFFF;
      background-color: #FFFFFF;
      color: #646464;
      font-weight: 400;
      line-height: 20px;
      opacity: 1;
    }
    &:disabled::-webkit-input-placeholder {
      opacity: 0;
    }
    &:disabled::-moz-placeholder {
      opacity: 0;
    }
    &:disabled::-ms-input-placeholder {
      opacity: 0;
    }
  }

  input {
    width: 190px;
  
  }

  .ng-invalid:focus {
    outline: 1px solid red;
    border: none;
  }

  .ng-invalid {
    outline: 1px solid red;
    border: none;
  }
}

// Sales Team, Technical Contact, Billing tab headers
.tabHeader {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  border-bottom: .5px solid #E7E7E7;
  align-items: center;
  padding: 0px 1em 11px 1em;
  text-align: center;

  &:hover {
    color: #5DCADE;
    border-bottom: 3px solid #5DCADE;
    cursor: pointer;
  }
}

.tabActive {
  color: #5DCADE;
  border-bottom: 3px solid #5DCADE;
}

  .ordSumCard {
    display: flex;
    flex-direction: row;
    gap: 2.5em;
  }

  .tabHeaderContainer {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    margin-bottom: 12px;
    

   .techContact {
    margin-right: 5px;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #3871c1;
  color: #fff;
  text-align: center;
  padding: 5px 3px;
  border-radius: 6px;
  word-wrap: break-word;
  
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 50%; /* Position it vertically centered */
  transform: translateY(-50%);
  margin-left: 10px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Create arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%; /* Position it vertically centered */
  left: -10px; /* Position it on the left side */
  margin-top: -5px; /* Adjust this value to center it vertically */
  border-width: 6px;
  border-style: solid;
  border-color: transparent #3871c1 transparent transparent; /* Triangle color */
}

.billingAddress{
  color: #646464;
  font-weight: 400;
  line-height: 20px;
}

.clickable {
  cursor: pointer;
}
.editMcEC {
  background-color: white;
  color: rgb(43, 41, 41);
  border-radius: 12px;
  padding: 5px;
  opacity: 100%;
  span {
    color: rgb(93, 202, 222);
    font-weight: 500;
  }
  select {
    border-radius: 10px;
    border-color: rgb(43, 41, 41);
    color: rgb(43, 41, 41);
  }
}