<div *ngIf="attempts && attempts.length > 0" class="attempt-tabs">
  <p class="tab" [ngClass]="{'selected-tab': selectedAttempt && selectedAttempt.id == attempt.id}" *ngFor="let attempt of attempts" (click)="onTabClicked(attempt)">
    {{attempt.scheduledCheckInTime | date:'MM/dd/yyyy hh:mm a'}}
  </p>
</div>
<app-activation-attempt *ngIf="selectedAttempt" [attempt]="selectedAttempt" [companyId]="companyId" [requirementTemplateId]="requirementTemplateId"
                        (activationSaved)="reloadOrder()" (cancelDispatch)="onCancelDispatch($event)" (rollbackPush)="onRollbackPush($event)"></app-activation-attempt>

<p *ngIf="attempts && attempts.length == 0">No activations to display.</p>

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
