<div class="section-header">
  Project Status
  <div class="section-actions">
    <mat-checkbox [ngModel]="allStatuses" name="allStatuses" (change)="allStatuses = !allStatuses; createStatusCountCharts();">
      All Statuses
    </mat-checkbox>
    <button class="v-button-outline export-section" (click)="excelService.exportAsExcelFile(wipServiceStatusData, 'wip_status')">
      Export <span class="material-symbols-outlined">download</span>
    </button>
    <button class="v-button-outline icon" (click)="showWipCount = !showWipCount">
      <span class="material-symbols-outlined">{{showWipCount ? 'expand_less' : 'expand_more'}}</span>
    </button>
  </div>
</div>

<app-loading-spinner *ngIf="(isLoading$ | async) || excelService.isLoading"></app-loading-spinner>

<div class="report-container">
  <div [style.display]="showWipCount ? 'grid' : 'none'">
    <div class="boxes">
      <div class="bar-chart">
        <canvas id="statusesFirst" (dblclick)="onChartDoubleClick($event, this.statusesFirst, 'status', 'services')"></canvas>
      </div>
      <div class="bar-chart" *ngIf="allStatuses">
        <canvas id="statusesSecond" (dblclick)="onChartDoubleClick($event, this.statusesSecond, 'status', 'services')"></canvas>
      </div>
    </div>
  </div>
</div>
<div class="section-header">
  Employee Assignments
  <div class="section-actions">
    <button class="v-button-outline icon" (click)="showEmployeeAssignment = !showEmployeeAssignment">
      <span class="material-symbols-outlined">{{showEmployeeAssignment ? 'expand_less' : 'expand_more'}}</span>
    </button>
  </div>
</div>
<div class="report-container">
  <div [style.display]="showEmployeeAssignment ? 'grid' : 'none'">
    <div class="report">
      <div class="canvas-container" [class.expanded]="provisionerChartConfig.expanded">
        <div class="header">
          <div class="title">
            Provisioner
          </div>
          <div class="actions">
            <div class="action-item">
              <span class="material-symbols-outlined" (click)="download('provisioner', 'employee_assign_provisioners')">download</span>
              <span class="material-symbols-outlined" (click)="provisionerChartConfig.expanded ? shrinkChart(provisionerChartConfig) : expandChart(provisionerChartConfig)">open_in_new</span>
            </div>
          </div>
        </div>
        <canvas id="provisionerChart" (dblclick)="onChartDoubleClick($event, this.provisionerChart, 'provisioner', 'services')"></canvas>
        <div class="legend">
          <ng-container *ngIf="!provisionerChartConfig.expanded">
            <div class="legend-item">
              <div class="le-dot" [style.background]="getDotColor(provisionerChart, 0)"></div>
              {{ getDotText(provisionerChart, 0) }}
            </div>
            <div class="legend-item">
              <div class="le-dot" [style.background]="getDotColor(provisionerChart, 1)"></div>
              {{ getDotText(provisionerChart, 1) }}
            </div>
            <div class="legend-item">
              <div class="le-dot" [style.background]="getDotColor(provisionerChart, 2)"></div>
              {{ getDotText(provisionerChart, 2) }}
            </div>
            <div class="showAll" [matTooltip]="provisionerChartConfig.others.join('\r\n')" [matTooltipClass]="'prewrap'">
              +
            </div>
          </ng-container>
          <ng-container *ngIf="provisionerChartConfig.expanded && provisionerChart">
            <div class="legend-item" *ngFor="let item of (provisionerChart.config._config.type === 'doughnut') ? provisionerChart.legend.legendItems : provisionerChart.config._config.data.labels; index as i">
              <div class="le-dot" [style.background]="getDotColor(provisionerChart, i)"></div>
              {{ getDotText(provisionerChart, i) }}
            </div>
          </ng-container>
        </div>
        <div class="chart-footer">
          <div class="chart-filters"></div>
          <div class="chart-toggle">
            <div class="chart-icon" [class.active]="provisionerChart?.config._config.type === 'bar'" (click)="toggleChartType(provisionerChartConfig, 'bar')"></div>
            <div class="chart-icon" [class.active]="provisionerChart?.config._config.type === 'line'" (click)="toggleChartType(provisionerChartConfig, 'line')"></div>
            <div class="chart-icon" [class.active]="provisionerChart?.config._config.type === 'doughnut'" (click)="toggleChartType(provisionerChartConfig, 'doughnut')"></div>
          </div>
        </div>
      </div>
      <div class="canvas-container" [class.expanded]="vertekPMChartConfig.expanded">
        <div class="header">
          <div class="title">
            i90 PM
          </div>
          <div class="actions">
            <div class="action-item">
              <span class="material-symbols-outlined" (click)="download('vertekProjectManager', 'employee_assign_provisioners')">download</span>
              <span class="material-symbols-outlined" (click)="vertekPMChartConfig.expanded ? shrinkChart(vertekPMChartConfig) : expandChart(vertekPMChartConfig)">open_in_new</span>
            </div>
          </div>
        </div>
        <canvas id="vertekPmChart" (dblclick)="onChartDoubleClick($event, this.vertekPmChart, 'vertekProjectManager', 'services')"></canvas>
        <div class="legend">
          <ng-container *ngIf="!vertekPMChartConfig.expanded">
            <div class="legend-item">
              <div class="le-dot" [style.background]="getDotColor(vertekPmChart, 0)"></div>
              {{ getDotText(vertekPmChart, 0) }}
            </div>
            <div class="legend-item">
              <div class="le-dot" [style.background]="getDotColor(vertekPmChart, 1)"></div>
              {{ getDotText(vertekPmChart, 1) }}
            </div>
            <div class="legend-item">
              <div class="le-dot" [style.background]="getDotColor(vertekPmChart, 2)"></div>
              {{ getDotText(vertekPmChart, 2) }}
            </div>
            <div class="showAll" [matTooltip]="vertekPMChartConfig.others.join('\r\n')" [matTooltipClass]="'prewrap'">
              +
            </div>
          </ng-container>
          <ng-container *ngIf="vertekPMChartConfig.expanded && vertekPmChart">
            <div class="legend-item" *ngFor="let item of (vertekPmChart.config._config.type === 'doughnut') ? vertekPmChart.legend.legendItems : vertekPmChart.config._config.data.labels; index as i">
              <div class="le-dot" [style.background]="getDotColor(vertekPmChart, i)"></div>
              {{ getDotText(vertekPmChart, i) }}
            </div>
          </ng-container>
        </div>
        <div class="chart-footer">
          <div class="chart-filters"></div>
          <div class="chart-toggle">
            <div class="chart-icon" [class.active]="vertekPmChart?.config._config.type === 'bar'" (click)="toggleChartType(vertekPMChartConfig, 'bar')"></div>
            <div class="chart-icon" [class.active]="vertekPmChart?.config._config.type === 'line'" (click)="toggleChartType(vertekPMChartConfig, 'line')"></div>
            <div class="chart-icon" [class.active]="vertekPmChart?.config._config.type === 'doughnut'" (click)="toggleChartType(vertekPMChartConfig, 'doughnut')"></div>
          </div>
        </div>
      </div>
      <div class="canvas-container" [class.expanded]="clientPmChartConfig.expanded">
        <div class="header">
          <div class="title">
            Client PM
          </div>
          <div class="actions">
            <div class="action-item">
              <span class="material-symbols-outlined" (click)="download('clientProjectManager', 'employee_assign_provisioners')">download</span>
              <span class="material-symbols-outlined" (click)="clientPmChartConfig.expanded ? shrinkChart(clientPmChartConfig) : expandChart(clientPmChartConfig)">open_in_new</span>
            </div>
          </div>
        </div>
        <canvas id="clientPmChart" (dblclick)="onChartDoubleClick($event, this.clientPmChart, 'projectManager', 'services')"></canvas>
        <div class="legend">
          <ng-container *ngIf="!clientPmChartConfig.expanded">
            <div class="legend-item">
              <div class="le-dot" [style.background]="getDotColor(clientPmChart, 0)"></div>
              {{ getDotText(clientPmChart, 0) }}
            </div>
            <div class="legend-item">
              <div class="le-dot" [style.background]="getDotColor(clientPmChart, 1)"></div>
              {{ getDotText(clientPmChart, 1) }}
            </div>
            <div class="legend-item">
              <div class="le-dot" [style.background]="getDotColor(clientPmChart, 2)"></div>
              {{ getDotText(clientPmChart, 2) }}
            </div>
            <div class="showAll" [matTooltip]="clientPmChartConfig.others.join('\r\n')" [matTooltipClass]="'prewrap'">
              +
            </div>
          </ng-container>
          <ng-container *ngIf="clientPmChartConfig.expanded && clientPmChart">
            <div class="legend-item" *ngFor="let item of (clientPmChart.config._config.type === 'doughnut') ? clientPmChart.legend.legendItems : clientPmChart.config._config.data.labels; index as i">
              <div class="le-dot" [style.background]="getDotColor(clientPmChart, i)"></div>
              {{ getDotText(clientPmChart, i) }}
            </div>
          </ng-container>
        </div>
        <div class="chart-footer">
          <div class="chart-filters"></div>
          <div class="chart-toggle">
            <div class="chart-icon" [class.active]="clientPmChart?.config._config.type === 'bar'" (click)="toggleChartType(clientPmChartConfig, 'bar')"></div>
            <div class="chart-icon" [class.active]="clientPmChart?.config._config.type === 'line'" (click)="toggleChartType(clientPmChartConfig, 'line')"></div>
            <div class="chart-icon" [class.active]="clientPmChart?.config._config.type === 'doughnut'" (click)="toggleChartType(clientPmChartConfig, 'doughnut')"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-header">
  Service Level Jeopardies
  <div class="section-actions">
    <button class="v-button-outline icon" (click)="showServiceLevelJeops = !showServiceLevelJeops">
      <span class="material-symbols-outlined">{{showServiceLevelJeops ? 'expand_less' : 'expand_more'}}</span>
    </button>
  </div>
</div>
<div class="report-container">
  <div [style.display]="showServiceLevelJeops ? 'grid' : 'none'">
    <div class="report">
      <div class="canvas-container" [class.expanded]="jeopResponsibilityChartConfig.expanded">
        <div class="header">
          <div class="title">
            Service Level Jeopardy Responsibility
          </div>
          <div class="actions">
            <div class="action-item">
              <span class="material-symbols-outlined" (click)="excelService.exportAsExcelFile(wipJeopResponsibilityData, 'wip_service_jeop_responsibility')">download</span>
              <span class="material-symbols-outlined" (click)="jeopResponsibilityChartConfig.expanded = !jeopResponsibilityChartConfig.expanded">open_in_new</span>
            </div>
          </div>
        </div>
        <canvas id="jeopResponsibilityChart" (dblclick)="onChartDoubleClick($event, this.jeopResponsibilityChart, 'openJeopResponsibilities', 'services')"></canvas>
        <div class="legend">
          <div class="legend-item" *ngFor="let item of jeopResponsibilityChart?.config._config.data.labels; index as i">
            <div class="le-dot" [style.background]="getDotColor(jeopResponsibilityChart, i)"></div>
            {{ getDotText(jeopResponsibilityChart, i) }}
          </div>
        </div>
        <div class="chart-footer">
          <div class="chart-filters"></div>
          <div class="chart-toggle">
            <div class="chart-icon" [class.active]="jeopResponsibilityChart?.config._config.type === 'bar'" (click)="toggleChartType(jeopResponsibilityChartConfig, 'bar')"></div>
            <div class="chart-icon" [class.active]="jeopResponsibilityChart?.config._config.type === 'line'" (click)="toggleChartType(jeopResponsibilityChartConfig, 'line')"></div>
            <div class="chart-icon" [class.active]="jeopResponsibilityChart?.config._config.type === 'doughnut'" (click)="toggleChartType(jeopResponsibilityChartConfig, 'doughnut')"></div>
          </div>
        </div>
      </div>
      <div class="canvas-container" [class.expanded]="averageServiceJeopDelayIntervalChartConfig.expanded">
        <div class="header">
          <div class="title">
            Average Service Jeopardy Delay Interval
          </div>
          <div class="actions">
            <div class="action-item">
              <span class="material-symbols-outlined" (click)="excelService.exportAsExcelFile(wipJeopResponsibilityData, 'wip_service_jeop_delay_interval')">download</span>
              <span class="material-symbols-outlined" (click)="averageServiceJeopDelayIntervalChartConfig.expanded = !averageServiceJeopDelayIntervalChartConfig.expanded">open_in_new</span>
            </div>
          </div>
        </div>
        <canvas id="averageServiceJeopDelayIntervalChart"></canvas>
        <div class="legend">
          <div class="legend-item" *ngFor="let item of averageServiceJeopDelayIntervalChart?.config._config.data.labels; index as i">
            <div class="le-dot" [style.background]="getDotColor(averageServiceJeopDelayIntervalChart, i)"></div>
            {{ getDotText(averageServiceJeopDelayIntervalChart, i) }}
          </div>
        </div>
        <div class="chart-footer">
          <div class="chart-filters">
            <mat-checkbox [ngModel]="openServiceJeopsFilter" name="openServiceJeopsFilter" (change)="openServiceJeopsFilter = !openServiceJeopsFilter; updateAverageServiceJeopDelayIntervalChart();">
              Open Jeopardies
            </mat-checkbox>
          </div>
          <div class="chart-toggle">
            <div class="chart-icon" [class.active]="averageServiceJeopDelayIntervalChart?.config._config.type === 'bar'" (click)="toggleChartType(averageServiceJeopDelayIntervalChartConfig, 'bar')"></div>
            <div class="chart-icon" [class.active]="averageServiceJeopDelayIntervalChart?.config._config.type === 'line'" (click)="toggleChartType(averageServiceJeopDelayIntervalChartConfig, 'line')"></div>
            <div class="chart-icon" [class.active]="averageServiceJeopDelayIntervalChart?.config._config.type === 'doughnut'" (click)="toggleChartType(averageServiceJeopDelayIntervalChartConfig, 'doughnut')"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-header">
  Location Level Jeopardies
  <div class="section-actions">
    <button class="v-button-outline icon" (click)="showLocationLevelJeops = !showLocationLevelJeops">
      <span class="material-symbols-outlined">{{showLocationLevelJeops ? 'expand_less' : 'expand_more'}}</span>
    </button>
  </div>
</div>
<div class="report-container">
  <div [style.display]="showServiceLevelJeops ? 'grid' : 'none'">
    <div class="report">
      <div class="canvas-container" [class.expanded]="locationJeopResponsibilityChartConfig.expanded">
        <div class="header">
          <div class="title">
            Location Level Jeopardy Responsibility
          </div>
          <div class="actions">
            <div class="action-item">
              <span class="material-symbols-outlined" (click)="excelService.exportAsExcelFile(wipLocationJeopResponsibilityData, 'wip_location_jeop_responsibility')">download</span>
              <span class="material-symbols-outlined" (click)="locationJeopResponsibilityChartConfig.expanded = !locationJeopResponsibilityChartConfig.expanded">open_in_new</span>
            </div>
          </div>
        </div>
        <canvas id="locationJeopResponsibilityChart" (dblclick)="onChartDoubleClick($event, this.locationJeopResponsibilityChart, 'openJeopResponsibilities', 'locations')"></canvas>
        <div class="legend">
          <div class="legend-item" *ngFor="let item of locationJeopResponsibilityChart?.config._config.data.labels; index as i">
            <div class="le-dot" [style.background]="getDotColor(locationJeopResponsibilityChart, i)"></div>
            {{ getDotText(locationJeopResponsibilityChart, i) }}
          </div>
        </div>
        <div class="chart-footer">
          <div class="chart-filters"></div>
          <div class="chart-toggle">
            <div class="chart-icon" [class.active]="locationJeopResponsibilityChart?.config._config.type === 'bar'" (click)="toggleChartType(locationJeopResponsibilityChartConfig, 'bar')"></div>
            <div class="chart-icon" [class.active]="locationJeopResponsibilityChart?.config._config.type === 'line'" (click)="toggleChartType(locationJeopResponsibilityChartConfig, 'line')"></div>
            <div class="chart-icon" [class.active]="locationJeopResponsibilityChart?.config._config.type === 'doughnut'" (click)="toggleChartType(locationJeopResponsibilityChartConfig, 'doughnut')"></div>
          </div>
        </div>
      </div>
      <div class="canvas-container" [class.expanded]="averageLocationJeopDelayIntervalChartConfig.expanded">
        <div class="header">
          <div class="title">
            Average Location Jeopardy Delay Interval
          </div>
          <div class="actions">
            <div class="action-item">
              <span class="material-symbols-outlined" (click)="excelService.exportAsExcelFile(wipJeopResponsibilityData, 'wip_location_jeop_delay_interval')">download</span>
              <span class="material-symbols-outlined" (click)="averageLocationJeopDelayIntervalChartConfig.expanded = !averageLocationJeopDelayIntervalChartConfig.expanded">open_in_new</span>
            </div>
          </div>
        </div>
        <canvas id="averageLocationJeopDelayIntervalChart"></canvas>
        <div class="legend">
          <div class="legend-item" *ngFor="let item of averageLocationJeopDelayIntervalChart?.config._config.data.labels; index as i">
            <div class="le-dot" [style.background]="getDotColor(averageLocationJeopDelayIntervalChart, i)"></div>
            {{ getDotText(averageLocationJeopDelayIntervalChart, i) }}
          </div>
        </div>
        <div class="chart-footer">
          <div class="chart-filters">
            <mat-checkbox [ngModel]="openLocationJeopsFilter" name="openLocationJeopsFilter" (change)="openLocationJeopsFilter = !openLocationJeopsFilter; updateAverageLocationJeopDelayIntervalChart();">
              Open Jeopardies
            </mat-checkbox>
          </div>
          <div class="chart-toggle">
            <div class="chart-icon" [class.active]="averageLocationJeopDelayIntervalChart?.config._config.type === 'bar'" (click)="toggleChartType(averageLocationJeopDelayIntervalChartConfig, 'bar')"></div>
            <div class="chart-icon" [class.active]="averageLocationJeopDelayIntervalChart?.config._config.type === 'line'" (click)="toggleChartType(averageLocationJeopDelayIntervalChartConfig, 'line')"></div>
            <div class="chart-icon" [class.active]="averageLocationJeopDelayIntervalChart?.config._config.type === 'doughnut'" (click)="toggleChartType(averageLocationJeopDelayIntervalChartConfig, 'doughnut')"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



