dialog {
  border: 1px solid #EEEEEE;
  border-radius: 5px;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  max-height: 75vh;
  overflow: hidden;

  .search-bar-wrapper {
    padding: .5em;
  }

  .dialog-content {
    display: flex;
    gap: 1em;
    max-height: 50vh;
    min-height: 50vh;
    .address-table {
      overflow-y: scroll;
    }
  }

  table {
    border-collapse: collapse;
    border: 1px solid #EEEEEE;
  }

  tr {

    th {
      padding: 0 1em;
      text-align: left;
    }

    td {
      padding: 0 1em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .sm-col {
      width: 50px;
      max-width: 50px;
    }
    .med-col {
      width: 100px;
      max-width: 100px;
    }
    .big-col {
      width: 200px;
      max-width: 200px;
    }
  }

  .table-row {
    cursor: pointer;
    &:hover {
      background-color: #5DCADE;
      color: #F8F8F8;
    }
  }

  .address-form {
    padding: 1em;
    border: 1px solid #EEEEEE;

    display: flex;
    flex-direction: column;

    .field {
      display: flex;
      gap: .5em;
      padding-bottom: 1.2em;

      p { margin: 0; }

      p:first-child {
        width: 12em;
        font-weight: bold;
      }

      .ng-invalid:focus {
        outline: 1px solid red;
      }
    }
    .no-bottom-padding {
      padding-bottom: 0;
    }

    .input-with-subtitle {
      display: flex;
      flex-direction: column;
      padding-bottom: 0;

      p {
        font-size: 12px;
        padding-bottom: .4em;
      }
    }

    input, select {
      padding: 0;
      width: 20em;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      padding: .5em 0 0 0;
      gap: .5em;
    }


    button {
      padding: .5em 1em;
      font-family: inherit;
      border: 1px solid #EEEEEE;
      border-radius: 4px;
      background-color: #F8F8F8;

      &:hover:not([disabled]) {
        cursor: pointer;
        background-color: #5DCADE;
        color: #F8F8F8;
      }
    }
  }
}
