.container {
  overflow: auto;
  display: flex;
  width: 100%;
  overflow: hidden;
  gap: 1em;

  mat-accordion {
    width: 100%;
    height: 70vh;
  }
  ::ng-deep .mat-expansion-panel-content {
    max-height: 30vh;
    overflow-y: visible;
  }
}

mat-form-field {
  width: 100%
}

.mat-dialog-container {
  border: 1px solid red;
  overflow-x: hidden;
}

.alert {
  max-height: 200px;
  background: rgba(255, 82, 82, 0.5);
  padding: 24px;
  box-sizing: border-box;
  overflow: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
  mat-icon {
    position: absolute;
    right: 4px;
    top: 4px;
  }
}

mat-expansion-panel {
  margin-bottom: 5px;
  flex-grow: 1;
  &.mat-expanded {
    overflow: auto;
    height: 55vh;
  }
  .control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    app-dropdown {
      width: 100%;
      height: 70px;
      ::ng-deep {
        .dropdown-wrapper {
          border: none;
        }
        .dropdown-trigger {
          span {
            line-height: 45px;
          }

          p {
            width: 100%;
            line-height: 45px;
          }
        }
      }
    }
    &:first-child {
      margin-top: 24px;
    }
    mat-icon {
      margin-top: 18px;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  mat-icon: {
    cursor: pointer;
  }
}

button {
  height: 100%;
  background-color: #F8F8F8;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  padding: .2em 1em;
  line-height: 20px;
  margin-top: 10px;
  margin-left: calc(100% - 70px);

  &:hover:not([disabled]) {
    background-color: #5DCADE;
    color: #FFFFFF;
    cursor: pointer;
  }

}

.datepicker-clear-icon {
  margin-left: 0 !important;
  margin-top: 10px !important;
}

.preview {
  padding: 2px;
  border: 2px solid #EDEDED;
  border-radius: 5px;

  .preview-item {
    display: flex;
  }

  .preview-item-name {
    font-weight: bold;
    width: 200px;
  }

  .preview-item-value {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p { margin: 0; }
}
