<div class="header">
  <h2>
    {{header}}
  </h2>
  <mat-icon (click)="close()">
    close
  </mat-icon>
</div>

<div class="alert" *ngIf="data.cantEdit" #alert>
  <div class="service" *ngFor="let item of data.cantEdit">
    Following fields weren't edited: <strong>{{ getFieldsString(item.fields) }}</strong> for service <strong>{{ item.service.displayName }}</strong>
  </div>
  <mat-icon (click)="alert.hidden = true">
    close
  </mat-icon>
</div>
<div class="container">
  <mat-accordion *ngIf="data.selectLists | async as selectLists">
    <ng-container *ngFor="let section of data.editableSections">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ section.name }}
              <ng-container *ngIf="getSectionChangeCount(section) > 0">
                - ({{ getSectionChangeCount(section) }})
              </ng-container>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let control of section.fields" class="control">
            <ng-container [ngSwitch]="control.type">
              <ng-container *ngSwitchCase="InputTypes.Select">
                <mat-form-field appearance="fill">
                  <mat-label>{{ control.name }}</mat-label>
                  <mat-select [formControl]="getFormControl(control.value)"
                              (ngModelChange)="updateLocalStore($event)">
                    <mat-option  [value]="null"></mat-option>
                    <mat-option *ngFor="let item of selectLists[control.value]" [value]="item[control.select?.value || 'id']">
                      {{ item[control.select?.label || 'label'] }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-icon class="input-status" (click)="toggleControl(control.value)">
                  {{ getFormControl(control.value).disabled ? 'edit_off' : 'edit' }}
                </mat-icon>
              </ng-container>
                <ng-container *ngSwitchCase="InputTypes.NativeSelect">
                <app-dropdown
                    [placeholder]="control.name"
                    [selected]="getFormControl(control.value).value"
                    [options]="selectLists[control.value]"
                    [lazyload]="true"
                    [canSearch]="true"
                    [idKey]="control.select?.value || 'id'"
                    [labelKey]="control.select?.label || 'label'"
                    [disabled]="getFormControl(control.value).disabled"
                    [params]="data.searchParams[control.value]"
                    [searchValue]="data.searchParams[control.value]?.name || data.searchParams[control.value]?.value || ''"
                    (onSelectedChanged)="updateFormState(control.value, $event);"
                    (search)="data.updateFunctions[control.value]($event, control.select?.searchBy || 'name')"
                    (loadNewPage)="data.updateFunctions[control.value]($event, 'offset')">
                </app-dropdown>
                <mat-icon class="input-status" (click)="toggleControl(control.value)">
                  {{ getFormControl(control.value).disabled ? 'edit_off' : 'edit' }}
                </mat-icon>
              </ng-container>
              <ng-container *ngSwitchCase="InputTypes.Number">
                <mat-form-field appearance="fill">
                  <mat-label>
                    {{ control.name }}
                  </mat-label>
                  <input matInput type="number" (ngModelChange)="updateLocalStore()" [formControl]="getFormControl(control.value)">
                </mat-form-field>
                <mat-icon class="input-status" (click)="toggleControl(control.value)">
                  {{ getFormControl(control.value).disabled ? 'edit_off' : 'edit' }}
                </mat-icon>
              </ng-container>
              <ng-container *ngSwitchCase="InputTypes.String">
                <mat-form-field appearance="fill">
                  <mat-label>
                    {{ control.name }}
                  </mat-label>
                  <input matInput type="text" (change)="updateLocalStore()" [formControl]="getFormControl(control.value)">
                </mat-form-field>
                <mat-icon class="input-status" (click)="toggleControl(control.value)">
                  {{ getFormControl(control.value).disabled ? 'edit_off' : 'edit' }}
                </mat-icon>
              </ng-container>
              <ng-container *ngSwitchCase="InputTypes.DateTime">
                <mat-form-field appearance="fill">
                  <mat-label>
                    {{ control.name }}
                  </mat-label>
                  <input matInput
                         (click)="picker.open()"
                         (dateChange)="updateLocalStore()"
                         [matDatepicker]="picker" [formControl]="getFormControl(control.value)">
                  <mat-icon *ngIf="form.controls[control.value].value" class="datepicker-clear-icon" matIconSuffix (click)="clearDate(control.value)">close</mat-icon>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-icon class="input-status" (click)="toggleControl(control.value)">
                  {{ getFormControl(control.value).disabled ? 'edit_off' : 'edit' }}
                </mat-icon>
              </ng-container>
              <ng-container *ngSwitchCase="InputTypes.Form">
                <mat-expansion-panel [disabled]="control.disabled">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ control.name }}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div *ngFor="let subfield of control.fields" class="control">
                    <ng-container [ngSwitch]="subfield.type">
                      <ng-container *ngSwitchCase="InputTypes.Select">
                        <mat-form-field appearance="fill">
                          <mat-label>{{ subfield.name }}</mat-label>
                          <mat-select [formControl]="getFormControl(subfield.value)" (ngModelChange)="updateLocalStore()">
                            <mat-option *ngFor="let item of this.selectLists[subfield.value]" [value]="item[subfield.select?.value || 'id']">
                              {{ item[subfield.select?.label || 'label'] }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-icon *ngIf="!subfield.required" class="input-status" (click)="toggleControl(subfield.value)">
                          {{ getFormControl(subfield.value).disabled ? 'edit_off' : 'edit' }}
                        </mat-icon>
                      </ng-container>
                      <ng-container *ngSwitchCase="InputTypes.Number">
                        <mat-form-field appearance="fill">
                          <mat-label>
                            {{ subfield.name }}
                          </mat-label>
                          <input (ngModelChange)="updateLocalStore()" matInput type="number" [formControl]="getFormControl(subfield.value)">
                        </mat-form-field>
                        <mat-icon *ngIf="!subfield.required" class="input-status" (click)="toggleControl(subfield.value)">
                          {{ getFormControl(subfield.value).disabled ? 'edit_off' : 'edit' }}
                        </mat-icon>
                      </ng-container>
                      <ng-container *ngSwitchCase="InputTypes.String">
                        <mat-form-field appearance="fill">
                          <mat-label>
                            {{ subfield.name }}
                          </mat-label>
                          <input (ngModelChange)="updateLocalStore()" matInput type="text" [formControl]="getFormControl(subfield.value)">
                        </mat-form-field>
                        <mat-icon *ngIf="!subfield.required" class="input-status" (click)="toggleControl(subfield.value)">
                          {{ getFormControl(subfield.value).disabled ? 'edit_off' : 'edit' }}
                        </mat-icon>
                      </ng-container>
                      <ng-container *ngSwitchCase="InputTypes.DateTime">
                        <mat-form-field appearance="fill">
                          <mat-label>
                            {{ subfield.name }}
                          </mat-label>
                          <input matInput
                                 (dateChange)="updateLocalStore()"
                                 [matDatepicker]="picker" [formControl]="getFormControl(subfield.value)">
                          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-icon *ngIf="!subfield.required" class="input-status" (click)="toggleControl(subfield.value)">
                          {{ getFormControl(subfield.value).disabled ? 'edit_off' : 'edit' }}
                        </mat-icon>
                      </ng-container>
                    </ng-container>
                  </div>
                </mat-expansion-panel>
                <mat-icon class="input-status" (click)="toggleFormControls(control)">
                  {{ control.disabled ? 'edit_off' : 'edit' }}
                </mat-icon>
              </ng-container>
            </ng-container>
          </div>
        </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
  <div class="preview" *ngIf="!isFormEmpty()">
    <div class="preview-item" *ngFor="let item of getPreview()">
      <p class="preview-item-name">{{item.name}}:</p>
      <p class="preview-item-value" *ngIf="item.value">{{item.value}}</p>
      <div *ngIf="item.subfields">
        <div class="preview-item" *ngFor="let subitem of item.subfields">
          <p class="preview-item-name">{{subitem.name}}:</p>
          <p class="preview-item-value">{{subitem.value}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<button (click)="onSubmit(form.value)" [disabled]="form.invalid || isFormEmpty()">Submit</button>
