select {
  border: 1px solid #3E3E3E;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  width: 100%;

  &:disabled {
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    color: black;
    opacity: 1;
  }
}

select:disabled {
  //makes selects look like input boxes
  -webkit-appearance: none;
  -moz-appearance : none;
}

.ng-invalid:focus {
  outline: 1px solid red;
}

.ng-invalid {
  border: 1px solid red;
}
