<div>
  <header class="header">
    <h2 mat-dialog-title>Link to Parent Location</h2>
    <button class="material-symbols-outlined closeButton" (click)="onClose()">close</button>
  </header>

  <div class="table-actions" *ngIf="(searchCriteria$ | async) as searchCriteria">
    <input type="text" placeholder="Search..." [ngModel]="searchCriteria.search" (input)="onSearch($event)">
  </div>

  <app-link-location-table #table class="link-location-table"
    [columns]="(columns$ | async) || []"
    [tableData]="(tableData$ | async) || []"
    [tableTotal]="(tableTotal$ | async)"
    [searchCriteria]="(searchCriteria$ | async)"
    (rowClick)="data.selectedParentLocationId = $event.id"
    (changeSortClicked)="onChangeSortClicked($event)"
    (pageClicked)="onFilterChanged($event, 'offset')">
  </app-link-location-table>

  <div class="table-actions">
    <button mat-raised-button color="primary" [disabled]="!data.selectedParentLocationId" [mat-dialog-close]="data.selectedParentLocationId">Link to Parent</button>
    <button mat-raised-button color="primary" (click)="onClose()">Cancel</button>
  </div>
</div>