
<div *ngIf="(selectedInvoice$ | async) as invoice" class="invoice-dialog">
  <header class="header">
    <ng-container *ngIf="this.vertekClientOptions$ | async as vertekClientOptions">
      <h2 *ngIf="invoice.id === undefined && vertekClientOptions && vertekClientOptions.length == 1"
        class="dialogHeader">New Invoice for {{vertekClientOptions[0]}}</h2>
      <h2 *ngIf="invoice.id === undefined && (!vertekClientOptions || vertekClientOptions.length > 1)"
        class="dialogHeader">New Invoice</h2>
    </ng-container>
    <h2 *ngIf="invoice.id !== undefined" class="dialogHeader">Invoice {{invoice.invoiceNumber}}</h2>
    <button class="material-symbols-outlined closeButton" (click)="onCancel()">close</button>
  </header>

  <form #invoiceForm="ngForm" class="invoice-form">
    <ng-container *ngIf="!invoice.id || (invoice.id && invoice.invoiceNumber)">
      <mat-form-field>
        <mat-label>Invoice Number</mat-label>
        <input *ngIf="!invoice.id" matInput placeholder="Invoice Number"
          (change)="onPropertyUpdate('invoiceNumber', $event.target)" [disabled]="invoice.id !== undefined"
          tabindex="1">
        <input *ngIf="invoice.id && invoice.invoiceNumber" matInput placeholder="Invoice Number"
          [value]="invoice.invoiceNumber" (change)="onPropertyUpdate('invoiceNumber', $event.target)"
          [disabled]="invoice.id !== undefined" tabindex="1">
      </mat-form-field>
    </ng-container>
    <div *ngIf="this.vertekClientOptions$ | async as vertekClientOptions">
      <mat-form-field *ngIf="vertekClientOptions && vertekClientOptions.length > 1">
        <mat-label>Vertek Client</mat-label>
        <mat-select required [value]="invoice.clientName" [disabled]="invoice.id !== undefined"
          (selectionChange)="onPropertyUpdate('clientName', $event)">
          <mat-option *ngFor="let client of vertekClientOptions" [value]="client">
            {{client}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Invoice date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" name="invoiceStart" required [value]="invoice.invoiceStart"
          [disabled]="invoice.id" (dateChange)="onPropertyUpdate('invoiceStart', $event)" tabindex="2">
        <input matEndDate placeholder="End date" name="invoiceEnd" required [value]="invoice.invoiceEnd"
          [disabled]="invoice.id" (dateChange)="onPropertyUpdate('invoiceEnd', $event)" tabindex="3">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <div class="form-buttons">
      <div *ngIf="invoice.id === undefined" class="button-group">
        <button (click)="save(invoice)" [disabled]="!(invoice.invoiceStart && invoice.invoiceEnd)" tabindex="4">
          <span class="material-symbols-outlined">save</span>Create and Generate Charges
        </button>
        <button (click)="onCancel()" tabindex="5">Cancel</button>
      </div>
    </div>
  </form>
  <div *ngIf="invoice.id !== undefined" class="worklist-page" oncontextmenu="return false;">
    <div class="table-actions">
      <!-- TODO: filtering is not working at the moment, unsure why -->
      <!-- <div *ngIf="(searchCriteria$ | async) as searchCriteria">
      <input type="text" placeholder="Search..." [ngModel]="searchCriteria.search" (input)="onSearch($event)">
      </div> -->
      <ng-container *ngIf="securityUtils.getIsInvoicingWriteUser()">
        <div *ngIf="invoice.invoiceStatus !== 'Final'">
          <button (click)="save(invoice)" tabindex="4">
            Regenerate Charges
          </button>
          <button (click)="finalize(invoice)" tabindex="5">
            Finalize
          </button>
        </div>
        <div *ngIf="invoice.invoiceStatus === 'Final'">
          <button (click)="unfinalize(invoice)" tabindex="5">
            Unfinalize
          </button>
        </div>
      </ng-container>

      <!-- TODO FINALIZE UNFINALIZE -->
      <span class="spacer"></span>
      <div>
        <button type="button" (click)="exportTable('invoice.xlsx')">Export</button>
      </div>
    </div>
    <app-invoice-charge-table class="invoice-charges-table" [columns]="(columns$ | async) || []"
      [tableData]="(tableData$ | async) || []" [tableTotal]="(tableTotal$ | async)"
      [searchCriteria]="(searchCriteria$ | async)" (changeSortClicked)="onChangeSortClicked($event)"
      (pageClicked)="onFilterChanged($event, 'offset')">
    </app-invoice-charge-table>
  </div>
</div>
