.invoice-dialog {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-form-field {
  width: 300px;
}

.invoice-form {
  width: 100%;
  padding-top: 1.5em 0;
  font-family: 'Roboto', sans-serif;

  .col-wrapper {
    width: 100%;
  }

  .col {
    width: 100%;
    .field {
      display: flex;
      padding: .1em 0;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      line-height: 14px;
      gap: 1em;

      p {
        color: #3E3E3E;
      }

      input, select {
        font-size: inherit;
        font-family: inherit;
        box-sizing: border-box;

        &:disabled {
          border: 1px solid #FFFFFF;
          background-color: #FFFFFF;
          color: black;
          opacity: 1;
        }
      }
      
      .text-area {
        display: flex;
        width: calc(50% + 12.3em);
        padding-top: .75em;
      }
      textarea {
        border: 1px solid #3E3E3E;
        font-size: inherit;
        font-family: inherit;
        flex-grow: 1;

        &:disabled {
          border: 1px solid #FFFFFF;
          text-align: right;
          background-color: #FFFFFF;
          color: black;
          opacity: 1;
        }
      }

      select {
        width: 18.8em;
      }

      select:disabled {
        //makes selects look like input boxes
        -webkit-appearance: none;
        -moz-appearance : none;
      }

      .ng-invalid:focus {
        outline: 1px solid red;
      }

      .ng-invalid {
        border: 1px solid red;
      }
    }
  }
}



.header {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  h2 {
    margin-block: 0px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
  }
  .closeButton {
    border: none;
    background-color: transparent;
  }

  .closeButton:hover {
    background-color: #3871C1;
    color: white;
    border-radius: 6px;
  }
}

::ng-deep {
  .mat-form-field .mat-form-field-flex{
    background-color: white; 
    padding: 0 !important;
  }
}

::ng-deep {
  .mat-form-field-flex .mat-form-field-appearance-fill {
    padding: 0;
  }
}
@import '../../worklist-styles.scss';

.worklist-page {
  .table-actions {
    padding-left: 0;
    padding-right: 0;
  }
}