<ng-container *ngIf="filters$ | async as filters">
  <div class="section-header">
    Total MRC by Provider
    <div class="section-actions">
      <div class="dropdown">
        <p class="label">Show top:</p>
        <app-dropdown [options]="limitOptions"
                      (onSelectedChanged)="createMonthlySpendChart(+$event)"
                      [selected]="filters.monthlySpend.limit">
        </app-dropdown>
      </div>
      <button class="v-button-outline icon" (click)="showMonthlySpend = !showMonthlySpend">
        <span class="material-symbols-outlined">{{showMonthlySpend ? 'expand_less' : 'expand_more'}}</span>
      </button>
    </div>
  </div>
  <div class="report-container">
    <div [style.display]="showMonthlySpend ? 'grid' : 'none'">
      <div class="report">
        <div class="canvas-container" [class.expanded]="monthlySpendChartConfig.expanded">
          <div class="header">
            <div class="title">
            </div>
            <div class="actions">
              <div class="action-item">
                <span class="material-symbols-outlined" (click)="excelService.exportAsExcelFile(this.monthlySpendData, 'monthly_spend_by_provider')">download</span>
              </div>
            </div>
          </div>
          <canvas id="monthlySpendChart"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="section-header">
    New Network Spend by Month
    <div class="section-actions">
      <div class="dropdown">
        <p class="label">Provider:</p>
        <app-dropdown [placeholder]="'Select Provider'"
                      [options]="providerOpts"
                      (onSelectedChanged)="onSelectedProvidersChanged($event, 'incremental_network_spend')"
                      [multiSelect]="true"
                      [selected]="filters.incrementalNetwork.selectedProviders">

        </app-dropdown>
      </div>
      <button class="v-button-outline icon" (click)="showIncrementalNetworkSpend = !showIncrementalNetworkSpend">
        <span class="material-symbols-outlined">{{showIncrementalNetworkSpend ? 'expand_less' : 'expand_more'}}</span>
      </button>
    </div>
  </div>
  <div class="report-container">
    <div [style.display]="showIncrementalNetworkSpend ? 'grid' : 'none'">
      <div class="report">
        <div class="canvas-container" [class.expanded]="incrementalNetworkSpendChartConfig.expanded">
          <div class="header">
            <div class="title">
            </div>
            <div class="actions">
              <div class="action-item">
                <span class="material-symbols-outlined" (click)="excelService.exportAsExcelFile(this.incrementalNetworkSpendData, 'incremental_network_spend')">download</span>
              </div>
            </div>
          </div>
          <canvas id="incrementalNetworkSpendChart"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="section-header">
    <label matTooltip="Total cost of open WIP were the Vendor has started billing but the i90 order has not completed">Open Expense Accruals</label>
    <div class="section-actions">
      <div class="dropdown">
        <p class="label">Provider:</p>
        <app-dropdown [placeholder]="'Select provider'"
                      [options]="providerOpts"
                      (onSelectedChanged)="onSelectedProvidersChanged($event, 'unbillable_network_expense_accrual')"
                      [multiSelect]="true"
                      [selected]="filters.unbillableNetwork.selectedProviders">

        </app-dropdown>
      </div>
      <button class="v-button-outline icon" (click)="showUnbillableNetworkExpenseAccrual = !showUnbillableNetworkExpenseAccrual">
        <span class="material-symbols-outlined">{{showUnbillableNetworkExpenseAccrual ? 'expand_less' : 'expand_more'}}</span>
      </button>
    </div>
  </div>
  <div class="report-container">
    <div [style.display]="showUnbillableNetworkExpenseAccrual ? 'grid' : 'none'">
      <div class="report">
        <div class="canvas-container" [class.expanded]="unbillableNetworkExpenseAccrualChartConfig.expanded">
          <div class="header">
            <div class="title">
              Total Open Network Expense Accrual: {{totalUnbillableNetworkExpenseAccrual}}
            </div>
            <div class="actions">
              <div class="action-item">
                <span class="material-symbols-outlined" (click)="excelService.exportAsExcelFile(this.unbillableNetworkExpenseAccrualData, 'unbillable_network_expense_accrual')">download</span>
              </div>
            </div>
          </div>
          <canvas id="unbillableNetworkExpenseAccrualChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<app-loading-spinner *ngIf="(isLoading$ | async) || excelService.isLoading"></app-loading-spinner>
