<form #serviceForm="ngForm" class="form">

  <div class="col colcustom">
    <div class="header">
      <div class="subheader"></div>
      <div class="subheader">
        <p>A Location Details</p>
        <ng-container *ngIf="editEnabled$ | async">
          <span class="material-symbols-outlined" *ngIf="!editingALocation" (click)="oes.toggleEditFlag('editingALocation')">
            border_color
          </span>
          <span class="material-symbols-outlined" *ngIf="editingALocation" (click)="onSaveClicked()">
            save
          </span>
        </ng-container>
      </div>
      <div class="subheader">
        <p>Z Location Details</p>
        <ng-container *ngIf="editEnabled$ | async">
          <span class="material-symbols-outlined" *ngIf="!editingZLocation" (click)="oes.toggleEditFlag('editingZLocation')">
            border_color
          </span>
          <span class="material-symbols-outlined" *ngIf="editingZLocation" (click)="onSaveClicked()">
            save
          </span>
        </ng-container>
      </div>
    </div>
    <div class="content">
      <div class="field">
        <p>Address Line 1</p>
        <input [(ngModel)]="location.address1" name="aAddress1" [disabled]="!editingALocation">
        <input [(ngModel)]="service.zAddress1" name="zAddress1" [disabled]="!editingZLocation">
      </div>
      <div class="field">
        <p>Address Line 2</p>
        <input [(ngModel)]="location.address2" name="aAddress2" [disabled]="!editingALocation">
        <input [(ngModel)]="service.zAddress2" name="zAddress2" [disabled]="!editingZLocation">
      </div>
      <div class="field">
        <p>City</p>
        <input [(ngModel)]="location.city" name="aCity" [disabled]="!editingALocation">
        <input [(ngModel)]="service.zCity" name="zCity" [disabled]="!editingZLocation">
      </div>
      <div class="field">
        <p>State/Province/Region</p>
        <select [ngModel]="location.state" (ngModelChange)="onAStateChanged($event)" name="aState" [disabled]="!editingALocation">
          <option *ngFor="let opt of stateOpts" value={{opt.value}}>{{opt.display}}</option>
        </select>
        <select [ngModel]="service.zState" (ngModelChange)="onZStateChanged($event)" name="zState" [disabled]="!editingZLocation">
          <option *ngFor="let opt of stateOpts" value={{opt.value}}>{{opt.display}}</option>
        </select>
      </div>
      <div class="field">
        <p>ZIP/Postal Code</p>
        <input [(ngModel)]="location.postalCode" name="aPostalCode" [disabled]="!editingALocation"
          appZipcodeValidator={{location.postalCode}}>
        <input [(ngModel)]="service.zPostalCode" name="zPostalCode" [disabled]="!editingZLocation"
          appZipcodeValidator={{service.zPostalCode}}>
      </div>
      <div class="field">
        <p>Country</p>
        <select [(ngModel)]="location.country" name="aCountry" [disabled]="!editingALocation">
          <option *ngFor="let opt of countryOpts" value={{opt}}>{{opt}}</option>
        </select>
        <select [(ngModel)]="service.zCountry" name="zCountry" [disabled]="!editingZLocation">
          <option *ngFor="let opt of countryOpts" value={{opt}}>{{opt}}</option>
        </select>
      </div>
      <div class="field">
        <p>Building Status</p>
        <vtk-select [(ngModel)]="service.buildingStatus" name="aBuildingStatus" [isReadOnly]="!!(isReadOnly$ | async)" [options]="buildingStatusOpts" [disabled]="!editingALocation"></vtk-select>
        <vtk-select [(ngModel)]="service.zBuildingStatus" name="zBuildingStatus" [isReadOnly]="!!(isReadOnly$ | async)" [options]="buildingStatusOpts" [disabled]="!editingZLocation"></vtk-select>
      </div>
      <hr>
      <div class="field">
        <p>Provider Circuit ID</p>
        <input [(ngModel)]="service.providerCircuitId" name="aProviderCircuitId" [disabled]="!editingALocation">
        <input [(ngModel)]="service.zProviderCircuitId" name="zProviderCircuitId" [disabled]="!editingZLocation">
      </div>
      <div class="field">
        <p>Inside Wiring Required</p>
        <vtk-select [(ngModel)]="service.insideWiringRequired" name="insideWiringRequired" [isReadOnly]="!!(isReadOnly$ | async)" [options]="yesNoOpts" [disabled]="!editingALocation"></vtk-select>
        <vtk-select [(ngModel)]="service.zInsideWiringRequired" name="zInsideWiringRequired" [isReadOnly]="!!(isReadOnly$ | async)" [options]="yesNoOpts" [disabled]="!editingZLocation"></vtk-select>
      </div>
      <div class="field">
        <p>Access Type</p>
        <vtk-select [(ngModel)]="service.accessType" name="accessType" [isReadOnly]="!!(isReadOnly$ | async)" [options]="accessTypeOpts" [disabled]="!editingALocation"></vtk-select>
        <vtk-select [(ngModel)]="service.zAccessType" name="zAccessType" [isReadOnly]="!!(isReadOnly$ | async)" [options]="accessTypeOpts" [disabled]="!editingZLocation"></vtk-select>
      </div>
      <div class="field">
        <p>Interface Connector</p>
        <vtk-select [(ngModel)]="service.interfaceConnector" name="interfaceConnector" [isReadOnly]="!!(isReadOnly$ | async)" [options]="interfaceConnectorOpts" [disabled]="!editingALocation"></vtk-select>
        <vtk-select [(ngModel)]="service.zInterfaceConnector" name="zInterfaceConnector" [isReadOnly]="!!(isReadOnly$ | async)" [options]="interfaceConnectorOpts" [disabled]="!editingZLocation"></vtk-select>
      </div>
      <div class="field">
        <p>Handoff Media Type</p>
        <vtk-select [(ngModel)]="service.mediaType" name="mediaType" [isReadOnly]="!!(isReadOnly$ | async)" [options]="mediaTypeOpts" [disabled]="!editingALocation"></vtk-select>
        <vtk-select [(ngModel)]="service.zHandoffMediaType" name="zHandoffMediaType" [isReadOnly]="!!(isReadOnly$ | async)" [options]="mediaTypeOpts" [disabled]="!editingZLocation"></vtk-select>
      </div>
      <div class="field">
        <p>Handoff Fiber Mode</p>
        <vtk-select [(ngModel)]="service.handoffFiberMode" name="handoffFiberMode" [isReadOnly]="!!(isReadOnly$ | async)" [options]="handoffFiberModeOpts" [disabled]="!editingALocation"></vtk-select>
        <vtk-select [(ngModel)]="service.zHandoffFiberMode" name="zHandoffFiberMode" [isReadOnly]="!!(isReadOnly$ | async)" [options]="handoffFiberModeOpts" [disabled]="!editingZLocation"></vtk-select>
      </div>
      <div class="field">
        <p>Handoff Connector Type</p>
        <input [(ngModel)]="service.handoffConnectorType" name="aHandoffConnector" [disabled]="!editingALocation">
        <input [(ngModel)]="service.zHandoffConnectorType" name="zHandoffConnector" [disabled]="!editingZLocation">
      </div>
      <hr>
      <div class="field">
        <p>Colo/Data Center Name</p>
        <input [(ngModel)]="service.dataCenterName" name="aDataCenterName" [disabled]="!editingALocation">
        <input [(ngModel)]="service.zDataCenterName" name="zDataCenterName" [disabled]="!editingZLocation">
      </div>
      <div class="field">
        <p>Access Hours</p>
        <input [(ngModel)]="service.accessHours" name="aAccessHours" [disabled]="!editingALocation">
        <input [(ngModel)]="service.zAccessHours" name="zAccessHours" [disabled]="!editingZLocation">
      </div>
      <div class="field">
        <p>Manned</p>
        <vtk-select [(ngModel)]="service.manned" name="manned" [isReadOnly]="!!(isReadOnly$ | async)" [options]="yesNoOpts" [disabled]="!editingALocation"></vtk-select>
        <vtk-select [(ngModel)]="service.zManned" name="zManned" [isReadOnly]="!!(isReadOnly$ | async)" [options]="yesNoOpts" [disabled]="!editingZLocation"></vtk-select>
      </div>
      <div class="field">
        <p>LOA Required</p>
        <vtk-select [(ngModel)]="service.loaRequired" name="loaRequired" [isReadOnly]="!!(isReadOnly$ | async)" [options]="yesNoOpts" [disabled]="!editingALocation"></vtk-select>
        <vtk-select [(ngModel)]="service.zLoaRequired" name="zManned" [isReadOnly]="!!(isReadOnly$ | async)" [options]="yesNoOpts" [disabled]="!editingZLocation"></vtk-select>
      </div>
      <div class="field">
        <p>CLLI Code</p>
        <input [(ngModel)]="service.clliCode" name="aClliCode" [disabled]="!editingALocation">
        <input [(ngModel)]="service.zClliCode" name="zClliCode" [disabled]="!editingZLocation">
      </div>
      <div class="field">
        <p>POP CLLI</p>
        <input [(ngModel)]="service.popClli" name="aPopClli" [disabled]="!editingALocation">
        <input [(ngModel)]="service.zPopClli" name="zPopClli" [disabled]="!editingZLocation">
      </div>
      <div class="field">
        <p>Alternate POP CLLI</p>
        <input [(ngModel)]="service.alternatePopClli" name="aAlternatePopClli" [disabled]="!editingALocation">
        <input [(ngModel)]="service.zAlternatePopClli" name="zAlternatePopClli" [disabled]="!editingZLocation">
      </div>
      <div class="field">
        <p>Floor</p>
        <input [(ngModel)]="service.floor" name="aFloor" [disabled]="!editingALocation">
        <input [(ngModel)]="service.zFloor" name="zFloor" [disabled]="!editingZLocation">
      </div>
      <div class="field">
        <p>NPA/NXX</p>
        <input [(ngModel)]="service.npaNxx" name="aNpaNxx" [disabled]="!editingALocation">
        <input [(ngModel)]="service.zNpaNxx" name="zNpaNxx" [disabled]="!editingZLocation">
      </div>
      <div class="field">
        <p>DMARC</p>
        <input [(ngModel)]="service.dmarc" name="aDmarc" [disabled]="!editingALocation">
        <input [(ngModel)]="service.zDmarc" name="zDmarc" [disabled]="!editingZLocation">
      </div>
      <div class="field">
        <p>CFA</p>
        <input [(ngModel)]="service.cfa" name="aCfa" [disabled]="!editingALocation">
        <input [(ngModel)]="service.zCfa" name="zCfa" [disabled]="!editingZLocation">
      </div>
    </div>
  </div>
  <div class="col">
    <app-note #note *ngIf="this.service.id && !(isLoading$ | async)"
              type="service"
              [parentId]="service.id.toString()"
              [maxNotes]="2"
              [serviceName]="service.type"
              [showSave]="true"
              [headerClass]="'header'">
    </app-note>
    <br>
    <app-jeops *ngIf="this.service.id" type="service"
               [parentId]="service.id"
               [orderId]="service.orderId"
               [companyId]="companyId"
               [maxJeops]="5"
               [headerClass]="'header'">
    </app-jeops>
  </div>
</form>
