.dataList {
  font-family: 'Roboto';
  margin-top: 2em;
  padding-bottom: 30px;
}

.groupingDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
  justify-content: center;
  margin-right: 100px;

}

.keys {
  display: flex;
  width: 20%;
  justify-content: flex-end;
  align-items: center;
}

.keyName {
  font-weight: bold;
  color: #333;
  margin: 0px 10px 0px 0px;
}

.input-container {
  position: relative;
  display: inline-block;
  width: 40%;
  margin-right: 15px;
  .input-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.infoInput{
  display: flex;
  flex-direction: row;
  align-items: center;
}


.keyValue {
  color: #666;
  width: calc(100% - 20px);
  height: 20px;
  padding-right: 20px;

  &.ng-invalid {
    border: 1px solid red;
    outline: 1px solid red;
  }

  &.dropdown {
    margin-top: -10px;
  }
}

.material-symbols-outlined {
    color: #5DCADE;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
  }

.radioBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Customize the label (the container) */
.container {
  position: relative;
  padding-left: 20px;
  font-family: 'Roboto';
  margin-right: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 1px;
}

/* hides the original buttons*/
.container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
  margin-top: 2px;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #5DCADE;
}

.tooltip {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #3871c1;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  right: 120%;
    opacity: 0;
    transition: opacity .5s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #3871c1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
