<form #configForm="ngForm" class="dataList">
  <div class="loader" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="groupingDiv" *ngFor="let config of modifiableProperties">
    <!-- info Icon -->
    <div class="keys">
      <p class="keyName tooltip">
        <span class="tooltiptext">{{config.description}}</span>
        {{ formatKeyName(config.key) }}
      </p>
    </div>

    <!-- input fields w/ visible eye icon -->
    <div class="input-container" [ngSwitch]="config.type">
      <div class="infoInput">
        <ng-container *ngSwitchCase="'password'">
          <!-- Password input with eye icon -->
          <input [type]="config.visible ? 'text' : 'password'" class="keyValue" [(ngModel)]="config.decryptedValue"
            [name]="config.key" [disabled]="!config.editing" />
          <span class="material-symbols-outlined input-icon" *ngIf="config.type === 'password'" (click)="viewPassword(config)">
              {{ config.visible ? 'visibility' : 'visibility_off' }}
          </span>
        </ng-container>

        <ng-container class="radioBtns" *ngSwitchCase="'boolean'">
          <!-- Radio buttons for boolean type -->
          <label class="container">
            <input type="radio" name="{{ config.key }}" value="True" [(ngModel)]="config.value" [disabled]="!config.editing"> True
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="radio" name="{{ config.key }}" value="False" [(ngModel)]="config.value" [disabled]="!config.editing"> False
          <span class="checkmark"></span>
          </label>
        </ng-container>

        <!-- URL input field -->
        <ng-container *ngSwitchCase="'url'">
          <input type="url" class="keyValue" [(ngModel)]="config.value" [name]="config.key" [disabled]="!config.editing" appIpAddress="URL"/>
        </ng-container>

        <!-- Subject input field -->
        <ng-container *ngSwitchCase="'subjects'">
          <app-dropdown class="keyValue dropdown" [options]="subjects" [multiSelect]="true" [selected]="config.value" (onSelectedChanged)="config.value = $event" [disabled]="!config.editing"></app-dropdown>
        </ng-container>

        <!-- Service Type input field -->
        <ng-container *ngSwitchCase="'ALL_SERVICE_TYPES'">
          <app-dropdown class="keyValue dropdown" [options]="serviceOpts" [multiSelect]="true" [selected]="config.value" (onSelectedChanged)="config.value = $event" [disabled]="!config.editing"></app-dropdown>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <!-- Default input field -->
          <input type="text" class="keyValue" [(ngModel)]="config.value" [name]="config.key" [disabled]="!config.editing"/>
        </ng-container>
      </div>
    </div>
    <!-- save/edit icon -->
    <ng-container>
      <span class="material-symbols-outlined" *ngIf="!config.editing" (click)="onEditConfigClicked(config)">border_color</span>
      <span class="material-symbols-outlined" *ngIf="config.editing" (click)="onSaveConfigClicked(config)">save</span>
    </ng-container>
  </div>
</form>

