app-dropdown.master-customer-dropdown ::ng-deep {
  .dropdown-wrapper {
    width: 12em;
    margin: 10px 0;
  }
}

.field {
  height: 30px;
}

.delete-button {
  padding-bottom: 30px;
}

/* Basic table styling */
.task-container {
  border: 2px solid #ededed; /* Adds border to the table */
  border-radius: 15px; /* Semi-circle border radius */
}

table {
  border-collapse:separate;
  border-spacing: 0;
  border:solid #ededed 2px;
  border-radius:15px;
  font-family: Roboto, sans-serif;
  overflow: hidden;
}

th {
  background-color: #ededed;
  text-align: left;
  padding: 12px;
  font-weight: 500;
  font-size: 13px;
}

/* Table row and cell styling */
td {
  text-align: center;
  border-bottom: 1px solid #ddd;
  /* Header Icon */
  .material-symbols-outlined {
    font-size: 16px;
    color: #5DCADE;
    cursor: pointer;
    line-height: 2px;
  }
  textarea {
    resize: vertical;
  }
}
/* Second column max width */
td:nth-child(2), th:nth-child(2) {
  width: 75px;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflow */
}

::ng-deep app-datepicker {
  input {
    max-width: 70px !important;
  }
}

/* Adding a little padding to the edit and save icons */
.material-symbols-outlined {
  cursor: pointer;
  padding: 6px;
  vertical-align: middle;
}

/* Disabled inputs styling */
input[disabled], app-datepicker[disabled] {
  background-color: #eaeaea;
  border: 1px solid #ccc;
}

textarea {
  font-family: Roboto, sans-serif;
  border-radius: 4px;
  background: #ededed;
  border: none;
  outline: none;
}
textarea[disabled]::placeholder {
  color: transparent;
}

textarea[disabled] {
  background-color: white;
}

.tooltip.right .tooltiptext {
  left: 120% !important;  /* Moves the tooltip to the right */
  right: auto !important; /* Resets the shared style */
}

.tooltip.right .tooltiptext::after {
  left: -5px !important;  /* Moves the arrow to point back to the element */
  border-color: transparent #3871c1 transparent transparent;
}
