<form class="form">
  <div class="loader" *ngIf="(isLoading$ | async)">
    <mat-spinner></mat-spinner>
  </div>
  <div class="col" *ngIf="company">

    <!-- Customer Info -->
    <div class="header">
      <p>Customer Info and Settings</p>
      <ng-container *ngIf="editEnabled || !company.id">
        <span class="material-symbols-outlined" *ngIf="!editingCustomerInfo" (click)="editingCustomerInfo = true">
          border_color
        </span>
        <span class="material-symbols-outlined" *ngIf="editingCustomerInfo" (click)="onSaveCompanyClicked()">
          save
        </span>
      </ng-container>
    </div>
    <div class="content">
      <div class="field">
        <p *ngIf="company.type === 'Master Customer'" class="tooltip right">
          <span class="tooltiptext"> {{ masterCustomerTooltip }}</span>
          Name
        </p>
        <p *ngIf="company.type === 'End Customer'" class="tooltip right">
          <span class="tooltiptext"> {{ endCustomerTooltip }}</span>
          Name
        </p>
        <input [(ngModel)]="company.name" name="name" [disabled]="!editingCustomerInfo" required/>
      </div>
      <!-- <div class="field">
        <p>UUID</p>
        <input [(ngModel)]="company.uuid" name="uuid" [disabled]="true"/>
      </div> -->
      <div class="field">
        <p *ngIf="company.type === 'Master Customer'" class="tooltip right">
          <span class="tooltiptext"> {{ masterCustClientIdTooltip }}</span>
          Client ID
        </p>
        <p *ngIf="company.type === 'End Customer'" class="tooltip right">
          <span class="tooltiptext"> {{ endCustClientIdTooltip }}</span>
          Client ID
        </p>
        <input [(ngModel)]="company.clientId" name="clientId" [disabled]="!editingCustomerInfo"/>
      </div>
      <div class="field" *ngIf="company.type === 'Master Customer'">
        <p class="field-header tooltip right">
          <span class="tooltiptext"> {{ accountManagerTooltip }}</span>
          Account Manager
        </p>
        <select [(ngModel)]="company.accountManager" name="accountManager" [disabled]="!editingCustomerInfo">
          <option [ngValue]="null" disabled selected hidden>Select...</option>
          <option [ngValue]="null"></option>
          <ng-container *ngIf="provisioners$ | async as accountManagers">
            <option *ngFor="let accountManager of accountManagers" [ngValue]="accountManager.id">
              {{accountManager.displayName}}</option>
          </ng-container>
        </select>
      </div>
      <div class="field" *ngIf="company.type === 'Master Customer'">
        <p class="field-header tooltip right">
          <span class="tooltiptext"> {{ provisionerTooltip }}</span>
          Provisioner
        </p>
        <select [(ngModel)]="company.provisioner" name="provisioner" [disabled]="!editingCustomerInfo">
          <option [ngValue]="null" disabled selected hidden>Select...</option>
          <option [ngValue]="null"></option>
          <ng-container *ngIf="provisioners$ | async as provisioners">
            <option *ngFor="let provisioner of provisioners" [ngValue]="provisioner.id">
              {{provisioner.displayName}}</option>
          </ng-container>
        </select>
      </div>
      <div class="field" *ngIf="company.type === 'Master Customer'">
        <p class="field-header tooltip right">
          <span class="tooltiptext"> {{ i90ProjMgrTooltip }}</span>
          i90 Project Manager
        </p>
        <select [(ngModel)]="company.i90ProjectManager" name="i90ProjectManager" [disabled]="!editingCustomerInfo">
          <option [ngValue]="null" disabled selected hidden>Select...</option>
          <option [ngValue]="null"></option>
          <ng-container *ngIf="provisioners$ | async as projectManagers">
            <option *ngFor="let projectManager of projectManagers" [ngValue]="projectManager.id">
              {{projectManager.displayName}}</option>
          </ng-container>
        </select>
      </div>
      <div class="field">
        <p class="field-header tooltip right">
          <span class="tooltiptext"> {{ taskGroupTooltip }}</span>
          Task Group
        </p>
        <select [ngModel]="company.taskGroupId" (ngModelChange)="onTaskGroupChange($event)" name="taskGroup" [disabled]="!editingCustomerInfo">
          <option [ngValue]="null" disabled selected hidden>Select...</option>
          <option [ngValue]="null"></option>
          <ng-container *ngIf="taskGroups$ | async as taskGroups">
            <option *ngFor="let taskGroup of taskGroups" [ngValue]="taskGroup.id">
              {{taskGroup.name}} <span *ngIf="taskGroup.default" class="default-task-group">(Default)</span>
            </option>
          </ng-container>
        </select>
      </div>
      <div class="field">
        <div class="v-link tooltip right" *ngIf="editEnabled && !(editingCustomerInfo || editingAddress || editingPermanentAccontNotes || editingContacts || editingTasks)" (click)="onEditTasksClicked()">
          <span class="tooltiptext"> {{ editTasksTooltip }}</span>
          Edit Tasks
        </div>
      </div>
      <div class="check-row">
        <div class="field" *ngIf="editEnabledActive">
          <mat-checkbox [checked]="company.active" (change)="company.active = !company.active" name="active" [disabled]="!editingCustomerInfo"></mat-checkbox>
          <p>Active</p>
        </div>
        <div class="field" *ngIf="!editEnabledActive">
        <mat-checkbox [(ngModel)]="company.active" name="active" [disabled]="true"></mat-checkbox>
        <p>Active</p>
        </div>
      </div>
      <ng-container *ngIf="company.type === 'End Customer'">
        <div class="field">
          <p>Import Master Customer Adress and Contacts</p>
          <mat-checkbox [(ngModel)]="company.duplicatedMasterCustomerDetails" name="active" [disabled]="!editingCustomerInfo"></mat-checkbox>
        </div>
      </ng-container>

      <!-- Address Info -->
      <div *ngIf="company.id" class="header">
        <p>Address Info</p>
        <ng-container *ngIf="editEnabled && !company.duplicatedMasterCustomerDetails">
          <span class="material-symbols-outlined" *ngIf="!editingAddress" (click)="editingAddress = true">
            border_color
          </span>
          <span class="material-symbols-outlined" *ngIf="editingAddress" (click)="onSaveCompanyClicked()">
            save
          </span>
        </ng-container>
      </div>
      <div *ngIf="company.id" class="content">
        <div class="field">
          <p>Address Line 1</p>
          <input [(ngModel)]="company.address1" name="address1" [disabled]="!editingAddress">
        </div>
        <div class="field">
          <p>Address Line 2</p>
          <input [(ngModel)]="company.address2" name="address2" [disabled]="!editingAddress">
        </div>
        <div class="field">
          <p>City</p>
          <input [(ngModel)]="company.city" name="city" [disabled]="!editingAddress">
        </div>
        <div class="field">
          <p>State/Province/Region</p>
          <select [ngModel]="company.state" (ngModelChange)="onStateChanged($event)" name="state" [disabled]="!editingAddress">
            <option *ngFor="let opt of stateOpts" value={{opt.value}}>{{opt.display}}</option>
          </select>
        </div>
        <div class="field">
          <p>ZIP/Postal Code</p>
          <input [(ngModel)]="company.postalCode" name="postalCode" [disabled]="!editingAddress"
            appZipcodeValidator={{company.postalCode}}>
        </div>
        <div class="field">
          <p>Country</p>
          <select [(ngModel)]="company.country" name="country" [disabled]="!editingAddress">
            <option *ngFor="let opt of countryOpts" value={{opt}}>{{opt}}</option>
          </select>
        </div>
      </div>

      <div *ngIf="company.id" class="header">
        Permanent Account Notes
        <ng-container *ngIf="editEnabled || !company.id">
          <span class="material-symbols-outlined" *ngIf="!editingPermanentAccontNotes" (click)="editingPermanentAccontNotes = true">
            border_color
          </span>
          <span class="material-symbols-outlined" *ngIf="editingPermanentAccontNotes" (click)="onSaveCompanyClicked()">
            save
          </span>
        </ng-container>
      </div>
      <div *ngIf="company.id" class="field textarea">
        <textarea class="resizable" [(ngModel)]="company.accountNotes" name="accountNotes" rows="5" maxlength="1000"
                  [disabled]="!editingPermanentAccontNotes"></textarea>
      </div>
    </div>
  </div>

  <!-- 2nd Column -->
  <div class="col" *ngIf="company && company.id">

    <!-- Billing Contact Info -->
    <form #contactForm="ngForm">
      <div *ngIf="billingContact">
        <div class="header">
          <p>Billing Contact</p>
          <ng-container *ngIf="editEnabled && !company.duplicatedMasterCustomerDetails">
          <span class="material-symbols-outlined" *ngIf="!editingContacts" (click)="editingContacts = true">
            border_color
          </span>
            <span class="material-symbols-outlined" *ngIf="editingContacts" (click)="onSaveContactClicked(billingContact, techContact, salesContact, authContact,
                                                                                                        contactForm)">
            save
          </span>
          </ng-container>
        </div>
        <div class="content">
          <div class="field">
            <p>Name</p>
            <input [(ngModel)]="billingContact.name" name="billingContactName" [disabled]="!editingContacts"/>
          </div>
          <div class="field">
            <p>Email</p>
            <input [(ngModel)]="billingContact.email" name="billingContactEmail" [disabled]="!editingContacts" email/>
          </div>
          <div class="field">
            <p>Phone</p>
            <input [(ngModel)]="billingContact.phone" name="billingContactPhone" [disabled]="!editingContacts"
                   placeholder="(555)-555-5555 x5555" appPhoneMask appPhoneValidator={{billingContact.phone}}/>
          </div>
        </div>
      </div>
      <!--    </form>-->

      <!-- Tech Contact Info -->
      <!--    <form #techContactForm="ngForm" *ngIf="techContact">-->
      <div *ngIf="techContact">
        <div class="header">
          <p>Technical Contact</p>
        </div>
        <div class="content">
          <div class="field">
            <p>Name</p>
            <input [(ngModel)]="techContact.name" name="techContactName" [disabled]="!editingContacts"/>
          </div>
          <div class="field">
            <p>Email</p>
            <input [(ngModel)]="techContact.email" name="techContactEmail" [disabled]="!editingContacts" email/>
          </div>
          <div class="field">
            <p>Phone</p>
            <input [(ngModel)]="techContact.phone" name="techContactPhone" [disabled]="!editingContacts"
                   placeholder="(555)-555-5555 x5555" appPhoneMask appPhoneValidator={{techContact.phone}}/>
          </div>
        </div>
      </div>
      <!--    </form>-->

      <!-- Sales Contact Info -->
      <!--    <form #salesContactForm="ngForm" *ngIf="salesContact">-->
      <div *ngIf="salesContact">
        <div class="header">
          <p>Sales Contact</p>
        </div>
        <div class="content">
          <div class="field">
            <p>Name</p>
            <input [(ngModel)]="salesContact.name" name="salesContactName" [disabled]="!editingContacts"/>
          </div>
          <div class="field">
            <p>Email</p>
            <input [(ngModel)]="salesContact.email" name="salesContactEmail" [disabled]="!editingContacts" email/>
          </div>
          <div class="field">
            <p>Phone</p>
            <input [(ngModel)]="salesContact.phone" name="salesContactPhone" [disabled]="!editingContacts"
                   placeholder="(555)-555-5555 x5555" appPhoneMask appPhoneValidator={{salesContact.phone}}/>
          </div>
        </div>
      </div>
      <!--    </form>-->

      <!-- Auth Contact Info -->
      <!--    <form #authContactForm="ngForm" *ngIf="authContact">-->
      <div *ngIf="authContact">
        <div class="header">
          <p>Authorization Contact</p>
        </div>
        <div class="content">
          <div class="field">
            <p>Name</p>
            <input [(ngModel)]="authContact.name" name="authContactName" [disabled]="!editingContacts"/>
          </div>
          <div class="field">
            <p>Email</p>
            <input [(ngModel)]="authContact.email" name="authContactEmail" [disabled]="!editingContacts" email/>
          </div>
          <div class="field">
            <p>Phone</p>
            <input [(ngModel)]="authContact.phone" name="authContactPhone" [disabled]="!editingContacts"
                   placeholder="(555)-555-5555 x5555" appPhoneMask appPhoneValidator={{authContact.phone}}/>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- 3rd Column -->
  <div class="col" *ngIf="company && company.id">
    <div class="buttons">
      <div class="content" *ngIf="company.type === 'End Customer'">
        <button (click)="onChangeMcClicked()" class="tooltip right">
          <span class="tooltiptext"> {{ changeMastCustTooltip }}</span>
          {{ editingMasterCustomer ? 'Save' : 'Change Master Customer' }}
        </button>
        <app-dropdown *ngIf="editingMasterCustomer" class="master-customer-dropdown"
                      [options]="mcOpts"
                      (onSelectedChanged)="onMcSelected($event)"
                      [lazyload]="true"
                      [params]="mcParams"
                      [canSearch]="true"
                      [searchValue]="mcParams.name!"
                      (search)="onMasterCustomerSearch($event)"
                      [selected]="this.company.parentCompany?.name"
                      [canClear]="false">
        </app-dropdown>
      </div>
      <button *ngIf="company.type === 'Master Customer'" (click)="onDeleteClicked()" class="tooltip right">
        <span class="tooltiptext"> {{ deleteMastCustTooltip }}</span>
        {{ 'Delete ' + company.type }}
      </button>
      <button *ngIf="company.type === 'End Customer'" (click)="onDeleteClicked()" class="tooltip">
        <span class="tooltiptext"> {{ deleteEndCustTooltip }}</span>
        {{ 'Delete ' + company.type }}
      </button>
    </div>

    <div class="header">
      <p>Email Notifications</p>
      <ng-container *ngIf="editEnabled">
        <span class="material-symbols-outlined" *ngIf="!editingAutomatedEmails" (click)="editingAutomatedEmails = true">
          border_color
        </span>
        <span class="material-symbols-outlined" *ngIf="editingAutomatedEmails" (click)="editingAutomatedEmails = false">
          save
        </span>
      </ng-container>
    </div>

    <div *ngIf="company" class="content">
      <app-automated-email
        [editingAutomatedEmails]="editingAutomatedEmails"
        [automatedEmailsEnabled]="automatedEmailsEnabled">
      </app-automated-email>
    </div>

    <div class="content">
      <app-attachments [type]="'Company'" [id]="company.id" [companyEditEnabled] = "editEnabled"></app-attachments>
      <mat-divider></mat-divider>
    </div>
      <div *ngIf="taskGroup">
        <div class="header">
          <p>Account Onboarding Tasks: {{ taskGroup.name }}</p>
        </div>
        <app-customer-tasks [customerId]="company.id" [taskGroup]="taskGroup" [editEnabled]="editEnabled"></app-customer-tasks>
      </div>
  </div>


</form>
