.milestones {
  position: relative;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 24px 0;

  .form {
    display: flex;
    width: 100%;

    .column {
      width: 40%;
       + .column {
         margin-left: 50px;
       }
      .section-head {
        font-size: 14px;
        font-weight: bold;
        margin: 16px 0 0;
      }
      &.completed {
        width: 21px;
        color: #3871C1;
        font-weight: 500;
        font-size: 14px;
        .show-progress {
          transition: height 0.2s linear;
          border-top: 1px solid #3871C1;
          border-left: 1px solid #3871C1;
          border-bottom: 1px solid #3871C1;
        }
      }

      .milestone {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 35px;
        transition: height 0.2s linear;

        &.collapsed {
          height: 0;
        }

        &:hover {
          .material-symbols-outlined {
            opacity: 1;
          }
        }

        input {
          margin: .25em 0;
          font-family: inherit;
          font-size: inherit;
          float: right;

          &:disabled {
            border: 1px solid transparent;
            background-color: transparent;
            color: #3E3E3E;
            opacity: 1;
            font-size: 14px;
            font-weight: 500;
          }
        }

        p {
          margin: 0;
          padding: 0 1em 0 0;
          color: #3E3E3E;
          font-size: 14px;
          height: 20px;
          > span {
            vertical-align: text-bottom;
            &[description]:hover::after {
              content: attr(description);
              position: absolute;
              font-weight: normal;
              margin-left: 1em;
              padding: .5em;
              background-color: #5DCADE;
              color: #FFFFFF;
              border-radius: 5px;
            }
          }
          &::before {
            content: '';
            position: relative;
            display: block;
            width: 21px;
            height: 1px;
            background-color: #E7E7E7;
            float: left;
            margin-right: 10px;
          }

        }

        .input-wrapper {
          display: flex;
          align-items: center;
          input {
            position: absolute;
            z-index: -1;
            opacity: 0;
          }
          .date {
            color: #3E3E3E;
            font-size: 14px;
            font-weight: 500;
            margin-right: 22px;
            cursor: pointer;
            + span :not(.material-symbols-outlined) {
              font-size: 14px;
            }
            &:hover + span {
              opacity: 1;
            }
            &.noEdit {
              cursor: default;
              + span {
                display: none;
              }
            }
          }
        }

        .material-symbols-outlined {
          font-size: 18px;
          opacity: 0;
          color: #5DCADE;
          cursor: pointer;
        }

        .show-icon {
          opacity: 1;
          margin-left: 5px;
        }
      }
    }
    .collapse {
      display: flex;
      flex-direction: row-reverse;
      flex: 0.87;
      color: #5DCADE;
      cursor: pointer;
    }
  }

  .note-dialog {
    border: 1px solid #333333;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;

    p {
      margin: 0;
      padding: .25em 0 !important;
    }

    textarea {
      width: 96%;
      font-family: inherit;
    }

    .buttons {
      gap: .7em;
      padding: .6em 0 0 0;
      button {
        font-family: inherit;
        background-color: #F8F8F8;
        border: 1px solid #EEEEEE;
        border-radius: 4px;
        padding: .5em 1em;
        cursor: pointer;

        &:hover {
          background-color: #5DCADE;
          color: #FFFFFF;
        }
      }
    }
  }

  .collapse-button {
    cursor: pointer;
    color: #5DCADE;
  }

  .collapse-icon {
    display: flex;
    justify-content: center;
    padding: .5em 0;
  }

  input[type=text] {
    width: 112px;
  }

  app-datepicker {
    opacity: 0;
    width: 0;
  }
}
mat-divider {
  margin: 20px 0;
}

.tooltip {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #3871c1;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  right: 120%;
    opacity: 0;
    transition: opacity .5s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #3871c1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}