<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
  <p>{{ message }}</p>
  <div class="options" *ngFor="let option of options">
    <mat-card class="option-card" appearance="outlined" (click)="selectOption(option)">
      <mat-card-header>
        <mat-card-title>{{option.header}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="formatted-content">
        <ng-container>{{option.content}}</ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
</mat-dialog-actions>