:host {
  width: 100%;
}

.dashboards-page {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;

  button {
    background-color: #F8F8F8;
    border: 1px solid #EEEEEE;
    border-radius: 4px;

    font-size: 12px;
    padding: 6px 12px;
    box-sizing: border-box;
    &:hover {
      border-color: #5DCADE;
      color: #5DCADE;
      background: rgba(93, 202, 222, 0.1);
    }
    &.icon {
      padding: 6px 8px;
      line-height: 10px;
      .material-symbols-outlined {
        font-size: 15px;
      }
    }

    /* Button icon size */
  }
}

.dashboard-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  p { margin: 0; }
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex: 0 0 calc(100% - 10vw);
  margin-left: 5vw;
  margin-right: 2vw;
  border-bottom: 1px solid #EEEEEE;
  justify-self: center;
  .nav-item {
    display: flex;
    flex-direction: column;
    padding: 12px 39px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    &:first-child {
      padding-left: 0;
      padding-right: 0;
    }
    &:hover, &.selected {
      color: #5DCADE;
    }
  }
}

.filters-container {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  padding: 1em 2em 0;
  margin-top: 25px;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 1em 2em 0;
  margin-top: 25px;
}

h3 {
  text-align: center;
}

.report-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  .controls-container {
    display: flex;
    justify-content: right;
  }
}


.export-button {
  width: 10em;
  margin: 5px 0 2px 2px;
}

.report {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .canvas-container {
    display: flex;
    max-width: 444px;
    max-height: 413px;
    background: #F8F8F8;
    padding: 21px;
    box-sizing: border-box;
    flex: 1 0 100%;
    min-width: 0;
    flex-direction: column;
    margin-top: 15px;
    &.expanded {
      flex-basis: 100%;
      max-width: 100%;
      max-height: fit-content;
      canvas {
        max-height: 75%;
      }
      .legend {
        flex-wrap: wrap;
      }
    }
    canvas {
      max-height: 55%;
    }
    .header {
      display: flex;
      flex-direction: row;
      flex: 0 0 100%;
      justify-content: space-between;
      .title {
        color: #2C4F63;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .actions {
        span.material-symbols-outlined {
          cursor: pointer;
          &:first-child {
            margin-right: 15px;
          }
          font-size: 18px;
          &:hover {
            color: #005EB8;
          }
        }
        color: #5DCADE;
      }
    }
    .legend {
      display: flex;
      flex-direction: row;
      flex: 0 0 100%;
      justify-content: space-around;
      margin-top: 59px;
      .legend-item {
        position: relative;
        padding-left: 12px;
        max-width: calc(33% - 30px);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #66757E;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 15px;
        .le-dot {
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          left: 0;
          margin-top: 3.5px;
        }
      }
      .showAll {
        color: #66757E;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
    .chart-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 24px;
      .chart-toggle {
        display: flex;
        flex-direction: row;
        justify-content: end;
        .chart-icon {
          width: 18px;
          height: 18px;
          cursor: pointer;
          background: url(../../../assets/icons/bar-chart.svg) center no-repeat;
          margin-left: 14px;
          &:hover, &.active {
            background: url(../../../assets/icons/bar-chart-active.svg) center no-repeat;
          }
          &:nth-child(2) {
            background: url(../../../assets/icons/line-chart.svg) center no-repeat;
            &:hover, &.active {
              background: url(../../../assets/icons/line-chart-active.svg) center no-repeat;
            }
          }
          &:nth-child(3) {
            background: url(../../../assets/icons/donut-chart.svg) center no-repeat;
            &:hover, &.active {
              background: url(../../../assets/icons/donut-chart-active.svg) center no-repeat;
            }
          }
        }
      }
    }
  }
  .bar-chart {
    height: 25em;
    width: 90%;
  }
}

.collapse-expand {
  background-color: #F8F8F8;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  display: flex;
  margin-left: auto;
}

.report-container {
  margin-bottom: 40px;
  min-width: 70em;
}
.section-header {
  color: #2C4F63;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  display: flex;
  line-height: 32px;
  flex-direction: row;
  justify-content: space-between;
  .section-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .export-section {
      display: flex;
      width: auto;
      padding: 6px 12px;
      align-items: center;
      gap: 4px;
      flex-shrink: 0;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      margin-left: 15px;
      margin-right: 15px;
      .material-symbols-outlined {
        font-size: 11px;
      }
    }
    .icon {
      line-height: 5px;
    }
  }
}

.boxes {
  display: flex;
  flex-direction: row;
  height: 250px;
  flex: 0 0 100%;
  max-width: 100%;
  .bar-chart {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}