<app-application-wrapper></app-application-wrapper>
<div class="dashboards-page" oncontextmenu="return false;">
  <div class="worklist-header">
    <span [class.tab-header]="currentDashboard !== 'WIP'" (click)="setCurrentDashboard('WIP')" [class.active]="currentDashboard == 'WIP'">Work in Progress</span>
    <span [class.tab-header]="currentDashboard !== 'KPI'" (click)="setCurrentDashboard('KPI')" [class.active]="currentDashboard == 'KPI'" *ngIf="showAllDashboards && telecomClient">Ordering KPI's</span>
    <span [class.tab-header]="currentDashboard !== 'Providers'" (click)="setCurrentDashboard('Providers')" [class.active]="currentDashboard == 'Providers'" *ngIf="showAllDashboards && telecomClient">Providers</span>
    <span [class.tab-header]="currentDashboard !== 'Financials'" (click)="setCurrentDashboard('Financials')" [class.active]="currentDashboard == 'Financials'" *ngIf="showAllDashboards && telecomClient">Financials</span>
    <span [class.tab-header]="currentDashboard !== 'Activations'" (click)="setCurrentDashboard('Activations')" [class.active]="currentDashboard == 'Activations'" *ngIf="showAllDashboards && telecomClient">Activations</span>
    <span [class.tab-header]="currentDashboard !== 'Inventory'" (click)="setCurrentDashboard('Inventory')" [class.active]="currentDashboard == 'Inventory'" *ngIf="showAllDashboards">Inventory</span>
  </div>
  <div class="filters-container" *ngIf="(filters$ | async) as filters">
    <div class="dashboard-dropdown" *ngIf="tenantOptions && tenantOptions.length > 1">
      <app-dropdown [placeholder]="'Select Tenant'"
                    [options]="tenantOptions"
                    (onSelectedChanged)="onTenantSelected($event)"
                    [multiSelect]="true"
                    [selected]="filters.selectedTenants || ''">
      </app-dropdown>
    </div>

    <div class="dashboard-dropdown">
      <app-dropdown [placeholder]="'Select Master Customer'"
                    [options]="(masterCustomerOptions$ | async) || []"
                    (onSelectedChanged)="onMasterCustomerSelected($event)"
                    [multiSelect]="true"
                    [lazyload]="true"
                    [params]="masterCustomerParams$ | async"
                    [canSearch]="true"
                    [searchValue]="(masterCustomerParams$ | async)?.name || ''"
                    (search)="onDropdownSearch($event, 'masterCustomerSearchCriteria', 'name', 'masterCustomers')"
                    (loadNewPage)="onDropdownSearch($event, 'masterCustomerSearchCriteria', 'offset', 'masterCustomers')"
                    [selected]="filters.selectedMasterCompanies">
      </app-dropdown>
    </div>

    <div class="dashboard-dropdown">
      <app-dropdown [placeholder]="'Select Customer'"
                    [options]="(customerOptions$ | async) || []"
                    (onSelectedChanged)="onFilterChanged($event, 'selectedEndCompanies')"
                    [multiSelect]="true"
                    [lazyload]="true"
                    [params]="endCustomerParams$ | async"
                    [canSearch]="true"
                    [searchValue]="(endCustomerParams$ | async)?.name || ''"
                    (search)="onDropdownSearch($event, 'endCustomerSearchCriteria', 'name', 'endCustomers')"
                    (loadNewPage)="onDropdownSearch($event, 'endCustomerSearchCriteria', 'offset', 'endCustomers')"
                    [selected]="filters.selectedEndCompanies">
      </app-dropdown>
    </div>

    <div class="dashboard-dropdown">
      <app-dropdown [placeholder]="'Select Service Type'"
                    [options]="serviceTypeOptions$ | async"
                    (onSelectedChanged)="onFilterChanged($event, 'selectedServiceTypes')"
                    [multiSelect]="true"
                    [icon]="'phone_in_talk'"
                    [selected]="filters.selectedServiceTypes">
      </app-dropdown>
    </div>

    <div class="dashboard-dropdown" *ngIf="(searchCriteria$ | async) as searchCriteria">
      <app-dropdown
        [placeholder]="'Select Provider'"
        [multiSelect]="true"
        [selected]="searchCriteria.selectedProviders"
        [options]="(providerOptions$ | async ) || []"
        [params]="providersParams$ | async"
        [icon]="'123'"
        [lazyload]="true"
        [canSearch]="true"
        [searchValue]="(providersParams$ | async)?.value || ''"
        (onSelectedChanged)="onFilterChanged($event, 'selectedProviders')"
        (search)="onUpdateParams($event, 'providersSearchCriteria', 'value', 'providers')"
        (loadNewPage)="onUpdateParams($event, 'providersSearchCriteria', 'offset', 'providers')">
      </app-dropdown>
    </div>

    <div class="dashboard-dropdown">
      <app-dropdown [placeholder]="'Select Service Billed To'"
                    [options]="(serviceBilledToOptions$ | async ) || []"
                    (onSelectedChanged)="onFilterChanged($event, 'selectedServiceBilledTos')"
                    [multiSelect]="true"
                    [selected]="filters.selectedServiceBilledTos || ''">
      </app-dropdown>
    </div>
    <div class="applied-filters-menu-item">
      <!-- Filters Applied -->
      <ng-container *ngIf="(appliedFilters$ | async) as appliedFilters">
        <button class="applied-filters-button" *ngIf="appliedFilters.length > 0" [matMenuTriggerFor]="appliedFilterMenu">
          Filters Applied ({{appliedFilters.length}})
        </button>
        <mat-menu #appliedFilterMenu="matMenu">
          <div class="applied-filters-menu-item">
            <p class="v-link" (click)="clearFilters()">Clear Filters</p>
          </div>
          <div class="applied-filters-menu-item" *ngFor="let filter of appliedFilters">
            <p *ngIf="filter.value != undefined && !filter.value.dateRange" [title]="(getFilterDisplayName(filter.name)) + ': ' + filter.value">
              {{ (getFilterDisplayName(filter.name)) }}: {{filter.value}}
            </p>
            <p *ngIf="filter.value != undefined && filter.value.dateRange" [title]="(getFilterDisplayName(filter.name)) + ': ' + (filter.value.dateRange.startDate | date: 'MM/dd/yyyy') + ' - ' + (filter.value.dateRange.endDate | date: 'MM/dd/yyyy')">
              {{ (getFilterDisplayName(filter.name)) }}: {{filter.value.dateRange.startDate | date: 'MM/dd/yyyy'}} - {{filter.value.dateRange.endDate | date: 'MM/dd/yyyy'}}
            </p>
            <span class="material-symbols-outlined" (click)="onClearFilterClicked($event, filter)">
              close
            </span>
          </div>
        </mat-menu>
      </ng-container>
    </div>

  </div>

  <div class="content" *ngIf="(filters$ | async) as filters">
    <app-dashboard-wip *ngIf="currentDashboard=='WIP'"></app-dashboard-wip>
    <app-dashboard-providers *ngIf="currentDashboard=='Providers'"></app-dashboard-providers>
    <app-dashboard-financials *ngIf="currentDashboard=='Financials'"></app-dashboard-financials>
    <app-dashboard-kpi *ngIf="currentDashboard=='KPI'"></app-dashboard-kpi>
    <app-dashboard-activations *ngIf="currentDashboard=='Activations'"></app-dashboard-activations>
    <app-dashboard-inventory *ngIf="currentDashboard=='Inventory'"></app-dashboard-inventory>
  </div>
</div>
