<app-application-wrapper></app-application-wrapper>
<div class="worklist-page" oncontextmenu="return false;">

  <div class="worklist-header">
    <span class="tab-header" (click)="onWorklistSelectChanged('locations')">
      Locations
    </span>
    <span *ngIf="telecomClient || isInventory" class="active" (click)="onWorklistSelectChanged('services')">
      Services
      <span class="header-count">{{ tableTotal$ | async }}</span>
    </span>
    <span *ngIf="cyberClient && !isInventory"  class="tab-header" (click)="onWorklistSelectChanged('cyberServices')">
      Cyber Services
    </span>
    <span *ngIf="!isInventory" class="tab-header" (click)="onWorklistSelectChanged('disconnects')">
      Disconnects
    </span>
    <span *ngIf="!isInventory" class="tab-header" (click)="onWorklistSelectChanged('activations')">
      Activations
    </span>
    <span *ngIf="isInventory" class="tab-header" (click)="onWorklistSelectChanged('disputes')">
      Disputes
    </span>
  </div>

  <!-- Inventory Worklist Meta -->
  <div *ngIf="isInventory" class="meta-data">
    <ng-container *ngIf="metaData$ | async as meta">
      <div class="meta-item">
        Total MRC: {{ meta.mrc | currency }}
      </div>
      <div class="meta-item">
        Total MRR: {{ meta.mrr | currency }}
      </div>
      <div class="meta-item">
        Total NRR: {{ meta.nrr | currency }}
      </div>
      <div class="meta-item" *ngIf="telecomClient">
        Total Annual Recurring: {{ meta.annualRecurring | currency }}
      </div>
      <div class="meta-item">
        Open Dispute MRC: {{ meta.openDisputeMrc | currency }}
      </div>
      <div class="meta-item">
        Open Dispute NRC: {{ meta.openDisputeNrc | currency }}
      </div>
      <div class="meta-item">
        Open MACD Count: {{ meta.macdCount }}
      </div>
    </ng-container>
  </div>

  <div class="table-actions">
    <div *ngIf="(searchCriteria$ | async) as searchCriteria">
      <input type="text" placeholder="Search..." [ngModel]="searchCriteria.search" (input)="onSearch($event)">
      <!--      TODO UNFREEZE IT WHEN WE START WORKING ON IT-->
      <!-- <app-dropdown
        [placeholder]="'Workflow Views'"
        [selected]="searchCriteria.filterBuilder?.name"
        [options]="(serviceWorklistViews$ | async ) || []"
        [icon]="'bolt'"
        (onSelectedChanged)="presetChanged($event)">
      </app-dropdown> -->
      <app-dropdown *ngIf="!isInventory"
        [placeholder]="'Workflow Views'"
        [selected]="searchCriteria.workflowView"
        [options]="workflowViewOpts"
        [icon]="'view_list'"
        (onSelectedChanged)="onFilterChanged($event, 'workflowView')">
      </app-dropdown>
      <app-dropdown
        [placeholder]="'Provider'"
        [multiSelect]="true"
        [selected]="searchCriteria.provider"
        [options]="(providerOptions$ | async ) || []"
        [params]="providersParams$ | async"
        [icon]="'123'"
        [lazyload]="true"
        [canSearch]="true"
        [searchValue]="(providersParams$ | async)?.value || ''"
        (onSelectedChanged)="onFilterChanged($event, 'provider')"
        (search)="onUpdateParams($event, 'providersSearchCriteria', 'value', 'providers')"
        (loadNewPage)="onUpdateParams($event, 'providersSearchCriteria', 'offset', 'providers')">
      </app-dropdown>
      <app-dropdown *ngIf="!isInventory"
        [placeholder]="'Provisioner...'"
        [multiSelect]="true"
        [selected]="searchCriteria.provisioner"
        [options]="(provisionerOptions$ | async) || []"
        [params]="provisionersParams$ | async"
        [icon]="'sell'"
        [lazyload]="true"
        [canSearch]="true"
        [searchValue]="(provisionersParams$ | async)?.name || ''"
        (onSelectedChanged)="onFilterChanged($event, 'provisioner')"
        (search)="onUpdateParams($event, 'provisionersSearchCriteria', 'name', 'provisioners')"
        (loadNewPage)="onUpdateParams($event, 'provisionersSearchCriteria', 'offset', 'provisioners')">
      </app-dropdown>

      <app-dropdown [placeholder]="'All Customers'"
                    [options]="(customerOptions$ | async) || []"
                    (onSelectedChanged)="onFilterChanged($event, 'parentCompanyName')"
                    [multiSelect]="true"
                    [lazyload]="true"
                    [params]="masterCustomerParams$ | async"
                    [canSearch]="true"
                    [searchValue]="(masterCustomerParams$ | async)?.name || ''"
                    (search)="onUpdateParams($event, 'masterCustomerSearchCriteria', 'name', 'masterCustomers')"
                    (loadNewPage)="onUpdateParams($event, 'masterCustomerSearchCriteria', 'offset', 'masterCustomers')"
                    [selected]="searchCriteria.parentCompanyName">
      </app-dropdown>
      <app-dropdown
        [placeholder]="'All Service Types'"
        [multiSelect]="true"
        [selected]="searchCriteria.serviceType"
        [options]="serviceTypeOptions$ | async"
        [icon]="'phone_in_talk'"
        (onSelectedChanged)="onFilterChanged($event, 'serviceType')">
      </app-dropdown>
      <app-dropdown *ngIf="isInventory"
        [placeholder]="'All Open Order Types'"
        [multiSelect]="true"
        [selected]="searchCriteria.orderType"
        [options]="(orderTypeOptions$ | async)"
        (onSelectedChanged)="onFilterChanged($event, 'orderType')">
      </app-dropdown>
      <app-dropdown *ngIf="isInventory"
        [placeholder]="'All Open Sub Order Types'"
        [multiSelect]="true"
        [selected]="searchCriteria.subOrderType"
        [options]="(subOrderTypeOptions$ | async)"
        (onSelectedChanged)="onFilterChanged($event, 'subOrderType')">
      </app-dropdown>
      <!-- <div class="dropdown-trigger" *ngIf="!isInventory">
        <button class="quick-filters RSR">
          Relocate Service Record
        </button>
      </div> -->
      <div class="settings-dropdown-wrapper">
        <div>
          <div class="dropdown-trigger">
            <button class="quick-filters">
              Quick filters
            </button>
          </div>
          <div class="dropdown-content">
            <ul>
              <!-- Ordering Quickfilters -->
              <ng-container *ngIf="!isInventory">
                <li>
                  <div class="checkbox-wrapper" (click)="onFilterChanged(!searchCriteria.hideTerminalStatuses, 'hideTerminalStatuses')">
                    <mat-checkbox [ngModel]="searchCriteria.hideTerminalStatuses" (click)="$event.preventDefault()"></mat-checkbox>Hide Terminal Statuses
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper" (click)="onFilterChanged(!searchCriteria.macOnly, 'macOnly')">
                    <mat-checkbox [ngModel]="searchCriteria.macOnly" (click)="$event.preventDefault()"></mat-checkbox>Move, Add, & Change Orders Only
                  </div>
                </li>
              </ng-container>
              <!-- Inventory Quickfilters -->
              <ng-container *ngIf="isInventory">
                <li>
                  <div class="checkbox-wrapper" (click)="onFilterChanged(!searchCriteria.macdOpen, 'macdOpen')">
                    <mat-checkbox [ngModel]="searchCriteria.macdOpen" (click)="$event.preventDefault()"></mat-checkbox>MACD Open
                  </div>
                </li>
                <li>
                  <div class="checkbox-wrapper" (click)="onFilterChanged(!searchCriteria.disputeOpen, 'disputeOpen')">
                    <mat-checkbox [ngModel]="searchCriteria.disputeOpen" (click)="$event.preventDefault()"></mat-checkbox>Dispute Open
                  </div>
                </li>
                <li>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
      <div class="header" *ngIf="(searchCriteria$ | async) as searchCriteria">
        <div #filter class="header-button-wrapper">
          <ng-content select=".header-buttons"></ng-content>
          <span *ngIf="showFilter" class="filter-trigger v-link" (click)="onFiltersClicked()">
            Advanced
          </span>

          <!-- Filters Applied -->
          <ng-container *ngIf="(appliedFilters$ | async) as appliedFilters">
            <button class="applied-filters-button" *ngIf="appliedFilters.length > 0" [matMenuTriggerFor]="appliedFilterMenu">
              Filters Applied ({{appliedFilters.length}})
            </button>
            <mat-menu #appliedFilterMenu="matMenu">
              <div class="applied-filters-menu-item">
                <p class="v-link" (click)="clearFilters()">Clear Filters</p>
              </div>
              <div class="applied-filters-menu-item" *ngFor="let filter of appliedFilters">
                <p *ngIf="filter.value != undefined && !filter.value.dateRange" [title]="(getFilterDisplayName(filter.name) | async) + ': ' + filter.value">
                  {{ (getFilterDisplayName(filter.name) | async) }}: {{filter.value}}
                </p>
                <p *ngIf="filter.value != undefined && filter.value.dateRange" [title]="(getFilterDisplayName(filter.name) | async) + ': ' + (filter.value.dateRange.startDate | date: 'MM/dd/yyyy') + ' - ' + (filter.value.dateRange.endDate | date: 'MM/dd/yyyy')">
                  {{ (getFilterDisplayName(filter.name) | async) }}: {{filter.value.dateRange.startDate | date: 'MM/dd/yyyy'}} - {{filter.value.dateRange.endDate | date: 'MM/dd/yyyy'}}
                </p>
                <span class="material-symbols-outlined" (click)="onClearFilterClicked($event, filter)">
                  close
                </span>
              </div>
            </mat-menu>
          </ng-container>

          <div *ngIf="showFilter" class="filter-content">
            <div class="filter-container" id="container">

              <p>Filter by:</p>
              <ng-container *ngFor="let col of (columns$ | async)">
                <ng-container *ngIf="col.filterable">
                  <ng-container [ngSwitch]="col.type">
                    <div class="filter-content-row date" *ngSwitchCase="'date'" id="{{ col.propertyName }}" (click)="$event.stopPropagation()">
                      <p>{{col.name}}</p>

                      <div (click)="onColDateRangeClicked(col, 'dr' + col.propertyName); $event.stopPropagation()" *ngIf="!col.active">
                        <span class="fake-input"
                              [class.data-filled]="!!searchCriteria[col.propertyName].dateRange || searchCriteria[col.propertyName].isEmpty">
                          {{searchCriteria[col.propertyName].dateRange ?
                          searchCriteria[col.propertyName].dateRange.startDate +  '-' +  searchCriteria[col.propertyName].dateRange.endDate :
                          searchCriteria[col.propertyName].isEmpty ? 'Empty dates set' : 'Select a Date Range' }}
                        </span>
                      </div>
                      <div class="dr-block">
                        <input type="text"
                               id="dr{{col.propertyName}}"
                               *ngIf="col.active"
                               ngxDaterangepickerMd
                               [locale]="{ format: 'YYYY-MM-DD' }"
                               [ngModel]="searchCriteria[col.propertyName].dateRange ? searchCriteria[col.propertyName].dateRange : nullifyier"
                               (rangeClicked)="checkIsEmpty($event)"
                               (blur)="onColDateRangeClicked(col)"
                               (ngModelChange)="onDateRangeFilter($event, searchCriteria, col)"
                               [showCustomRangeLabel]="true"
                               [alwaysShowCalendars]="true"
                               [ranges]="ranges"
                               [linkedCalendars]="true"
                               [showClearButton]="true"
                               placeholder=" {{ searchCriteria[col.propertyName].isEmpty ? 'Empty dates set' : 'Select a Date Range' }}"/>
                      </div>
                    </div>
                    <div class="filter-content-row date" *ngSwitchCase="'dateutc'" id="{{ col.propertyName }}" (click)="$event.stopPropagation()">
                      <p>{{col.name}}</p>

                      <div (click)="onColDateRangeClicked(col, 'dr' + col.propertyName); $event.stopPropagation()" *ngIf="!col.active">
                        <span class="fake-input"
                              [class.data-filled]="!!searchCriteria[col.propertyName].dateRange || searchCriteria[col.propertyName].isEmpty">
                          {{searchCriteria[col.propertyName].dateRange ?
                          searchCriteria[col.propertyName].dateRange.startDate +  '-' +  searchCriteria[col.propertyName].dateRange.endDate :
                          searchCriteria[col.propertyName].isEmpty ? 'Empty dates set' : 'Select a Date Range' }}
                        </span>
                      </div>
                      <div class="dr-block">
                        <input type="text"
                               id="dr{{col.propertyName}}"
                               *ngIf="col.active"
                               ngxDaterangepickerMd
                               [locale]="{ format: 'YYYY-MM-DD' }"
                               [ngModel]="searchCriteria[col.propertyName].dateRange ? searchCriteria[col.propertyName].dateRange : nullifyier"
                               (rangeClicked)="checkIsEmpty($event)"
                               (blur)="onColDateRangeClicked(col)"
                               (ngModelChange)="onDateRangeFilter($event, searchCriteria, col)"
                               [showCustomRangeLabel]="true"
                               [alwaysShowCalendars]="true"
                               [ranges]="ranges"
                               [linkedCalendars]="true"
                               [showClearButton]="true"
                               placeholder=" {{ searchCriteria[col.propertyName].isEmpty ? 'Empty dates set' : 'Select a Date Range' }}"/>
                      </div>
                    </div>


                    <ng-container *ngSwitchCase="['text', 'list'].includes(col.type) ? col.type : !col.type">
                      <ng-template #normal>
                        <div class="filter-content-row testing" [class.isNullable]="col.hasEmpty">
                          <p>{{col.name}}</p>
                          <input
                            [ngModel]="getCriteriaModelValue(col, searchCriteria)"
                            class="text-input"
                            [class.transparent]="searchCriteria[col.propertyName] === '<NULL>'"
                            (input)="onFilter($event, col)" type="{{ col.type }}"
                          >
                          <div class="emptyToggle"
                               [matTooltip]="(searchCriteria[col.propertyName] === '<NULL>') ? 'Toggle back to custom search' : 'Toggle to search by empty values'"
                               [class.selected]="searchCriteria[col.propertyName] === '<NULL>'"
                               *ngIf="col.hasEmpty"
                               (click)="onFilter({target: { value: (searchCriteria[col.propertyName] === '<NULL>') ? '' : '<NULL>' }}, col)">
                            Empty
                          </div>
                        </div>
                      </ng-template>
                      <ng-container *ngIf="col.filterType === 'select'; else normal">
                        <ng-container [ngSwitch]="col.propertyName">
                          <div *ngSwitchCase="'companyName'" class="filter-content-row">
                            <p>{{col.name}}</p>
                            <app-dropdown [placeholder]="''"
                                          [options]="(endCustomerOptions$ | async) || []"
                                          (onSelectedChanged)="onFilterChanged($event, 'companyName')"
                                          [multiSelect]="true"
                                          [lazyload]="true"
                                          [params]="endCustomerParams$ | async"
                                          [canSearch]="true"
                                          [searchValue]="(endCustomerParams$ | async)?.name || ''"
                                          (search)="onUpdateParams($event, 'endCustomerSearchCriteria', 'name', 'customers')"
                                          (loadNewPage)="onUpdateParams($event, 'endCustomerSearchCriteria', 'offset', 'customers')"
                                          [selected]="searchCriteria.companyName">
                            </app-dropdown>
                          </div>
                          <div *ngSwitchCase="'provisioner'" class="filter-content-row">
                            <p>{{col.name}}</p>
                            <app-dropdown
                              [placeholder]="''"
                              [multiSelect]="true"
                              [selected]="searchCriteria.provisioner"
                              [options]="(provisionerOptions$ | async) || []"
                              [params]="provisionersParams$ | async"
                              [lazyload]="true"
                              [canSearch]="true"
                              [searchValue]="(provisionersParams$ | async)?.name || ''"
                              (onSelectedChanged)="onFilterChanged($event, 'provisioner')"
                              (search)="onUpdateParams($event, 'provisionersSearchCriteria', 'name', 'provisioners')"
                              (loadNewPage)="onUpdateParams($event, 'provisionersSearchCriteria', 'offset', 'provisioners')">
                            </app-dropdown>
                          </div>
                          <div *ngSwitchCase="'qaManager'" class="filter-content-row">
                            <p>{{col.name}}</p>
                            <app-dropdown
                              [placeholder]="''"
                              [multiSelect]="true"
                              [selected]="searchCriteria.qaManager"
                              [options]="(qaManagerOptions$ | async) || []"
                              [params]="qaManagerParams$ | async"
                              [lazyload]="true"
                              [canSearch]="true"
                              [searchValue]="(qaManagerParams$ | async)?.name || ''"
                              (onSelectedChanged)="onFilterChanged($event, 'qaManager')"
                              (search)="onUpdateParams($event, 'qaManagerSearchCriteria', 'name', 'qaManagers')"
                              (loadNewPage)="onUpdateParams($event, 'qaManagerSearchCriteria', 'offset', 'qaManagers')">
                            </app-dropdown>
                          </div>
                          <div *ngSwitchCase="'parentCompanyName'" class="filter-content-row">
                            <p>{{col.name}}</p>
                            <app-dropdown [placeholder]="''"
                                          [options]="(customerOptions$ | async) || []"
                                          (onSelectedChanged)="onFilterChanged($event, 'parentCompanyName')"
                                          [multiSelect]="true"
                                          [lazyload]="true"
                                          [params]="masterCustomerParams$ | async"
                                          [canSearch]="true"
                                          [searchValue]="(masterCustomerParams$ | async)?.name || ''"
                                          (search)="onUpdateParams($event, 'masterCustomerSearchCriteria', 'name', 'masterCustomers')"
                                          (loadNewPage)="onUpdateParams($event, 'masterCustomerSearchCriteria', 'offset', 'masterCustomers')"
                                          [selected]="searchCriteria.parentCompanyName">
                            </app-dropdown>
                          </div>
                          <div *ngSwitchCase="'type'" class="filter-content-row">
                            <p>{{col.name}}</p>
                            <app-dropdown
                              [placeholder]="''"
                              [multiSelect]="true"
                              [selected]="searchCriteria.serviceType"
                              [options]="serviceTypeOptions$ | async"
                              (onSelectedChanged)="onFilterChanged($event, 'serviceType')">
                            </app-dropdown>
                          </div>
                          <div *ngSwitchCase="'status'" class="filter-content-row">
                            <p>{{col.name}}</p>
                            <app-dropdown
                              [placeholder]="''"
                              [multiSelect]="true"
                              [selected]="searchCriteria.status"
                              [options]="statusOptions"
                              (onSelectedChanged)="onFilterChanged($event, 'status')">
                            </app-dropdown>
                          </div>
                          <div *ngSwitchCase="'projectManager'" class="filter-content-row">
                            <p>{{col.name}}</p>
                            <app-dropdown
                              [placeholder]="''"
                              [multiSelect]="true"
                              [selected]="searchCriteria.projectManager"
                              [options]="(clientManagers$ | async) || []"
                              (onSelectedChanged)="onFilterChanged($event, 'projectManager')">
                            </app-dropdown>
                          </div>
                          <div *ngSwitchCase="'provider'" class="filter-content-row">
                            <p>{{col.name}}</p>
                            <app-dropdown
                              [placeholder]="''"
                              [multiSelect]="true"
                              [selected]="searchCriteria.provider"
                              [options]="(providerOptions$ | async ) || []"
                              [params]="providersParams$ | async"
                              [lazyload]="true"
                              [canSearch]="true"
                              [searchValue]="(providersParams$ | async)?.value || ''"
                              (onSelectedChanged)="onFilterChanged($event, 'provider')"
                              (search)="onUpdateParams($event, 'providersSearchCriteria', 'value', 'providers')"
                              (loadNewPage)="onUpdateParams($event, 'providersSearchCriteria', 'offset', 'providers')">
                            </app-dropdown>
                          </div>

                          <div *ngSwitchCase="'serviceBilledTo'" class="filter-content-row">
                            <p>{{col.name}}</p>
                            <app-dropdown
                              [placeholder]="''"
                              [multiSelect]="true"
                              [selected]="searchCriteria.serviceBilledTo"
                              [options]="(serviceBilledToOptions$ | async ) || []"
                              [lazyload]="true"
                              [canSearch]="true"
                              (onSelectedChanged)="onFilterChanged($event, 'serviceBilledTo')">
                            </app-dropdown>
                          </div>



                          <div *ngSwitchCase="'vertekProjectManager'" class="filter-content-row">
                            <p>{{col.name}}</p>
                            <app-dropdown
                              [placeholder]="''"
                              [multiSelect]="true"
                              [selected]="searchCriteria.vertekProjectManager"
                              [options]="provisionersWithEmpty"
                              [params]="provisionersParams$ | async"
                              [lazyload]="true"
                              [canSearch]="true"
                              [searchValue]="(provisionersParams$ | async)?.name || ''"
                              (onSelectedChanged)="onFilterChanged($event, 'vertekProjectManager')"
                              (search)="onUpdateParams($event, 'provisionersSearchCriteria', 'name', 'provisioners')"
                              (loadNewPage)="onUpdateParams($event, 'provisionersSearchCriteria', 'offset', 'provisioners')">
                            </app-dropdown>
                          </div>
                          <div *ngSwitchCase="'levelOfEffort'" class="filter-content-row">
                            <p>{{col.name}}</p>
                            <app-dropdown
                              [placeholder]="''"
                              [multiSelect]="true"
                              [selected]="searchCriteria.levelOfEffort"
                              [options]="(levelOfEffort$ | async) || []"
                              (onSelectedChanged)="onFilterChanged($event, 'levelOfEffort')">
                            </app-dropdown>
                          </div>
                          <div *ngSwitchCase="'activeInactive'" class="filter-content-row">
                            <p>{{col.name}}</p>
                            <app-dropdown
                              [placeholder]="''"
                              [canClear]="false"
                              [selected]="searchCriteria.activeInactive"
                              [options]="['Active', 'Inactive', 'All' ]"
                              (onSelectedChanged)="onFilterChanged($event, 'activeInactive')">
                            </app-dropdown>
                          </div>
                          <div *ngSwitchCase="'contractTerm'" class="filter-content-row">
                            <p>{{col.name}}</p>
                            <app-dropdown
                              [placeholder]="''"
                              [canClear]="false"
                              [selected]="searchCriteria.contractTerm"
                              [options]="(contractTermOptions$ | async ) || []"
                              (onSelectedChanged)="onFilterChanged($event, 'contractTerm')">
                            </app-dropdown>
                          </div>
                          <div *ngSwitchCase="'disputeTypes'" class="filter-content-row">
                            <p>{{col.name}}</p>
                            <app-dropdown
                              [placeholder]="''"
                              [selected]="searchCriteria.disputeTypes"
                              [options]="(disputeTypeOptions$ | async ) || []"
                              (onSelectedChanged)="onFilterChanged($event, 'disputeTypes')">
                            </app-dropdown>
                          </div>
                          <div *ngSwitchCase="'projectName'" class="filter-content-row">
                            <p>{{col.name}}</p>
                            <app-dropdown
                              [placeholder]="''"
                              [selected]="searchCriteria.projectName"
                              [options]="(projectNameOptions$ | async ) || []"
                              (onSelectedChanged)="onFilterChanged($event, 'projectName')">
                            </app-dropdown>
                          </div>
                          <div *ngSwitchCase="'openJeopResponsibilities'" class="filter-content-row">
                            <p>{{col.name}}</p>
                            <app-dropdown
                              [placeholder]="''"
                              [multiSelect]="true"
                              [selected]="searchCriteria.openJeopResponsibilities"
                              [options]="(jeopResponsibilityOptions$ | async ) || []"
                              (onSelectedChanged)="onFilterChanged($event, 'openJeopResponsibilities')">
                            </app-dropdown>
                          </div>
                        </ng-container>
                      </ng-container>
                    </ng-container>

                    <div *ngSwitchCase="['currency', 'number'].includes(col.type) ? col.type : !col.type" class="filter-content-row" [class.isNullable]="col.hasEmpty">
                      <p>{{col.name}}</p>
                      <input
                        [ngModel]="getCriteriaModelValue(col, searchCriteria)"
                        class="text-input"
                        [class.transparent]="searchCriteria[col.propertyName] === '<NULLNUMBER>'"
                        (input)="onFilter($event, col)" type="number">
                      <div class="emptyToggle"
                           [matTooltip]="(searchCriteria[col.propertyName] === '<NULLNUMBER>') ? 'Toggle back to custom search' : 'Toggle to search by empty values'"
                           [class.selected]="searchCriteria[col.propertyName] === '<NULLNUMBER>'"
                           *ngIf="col.hasEmpty"
                           (click)="onFilter({target: { value: (searchCriteria[col.propertyName] === '<NULLNUMBER>') ? '' : '<NULLNUMBER>' }}, col)">
                        Empty
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="(selectedItemsIds$ | async) as selectedIds">
        <ng-container *ngIf="selectedIds.length  && editEnabled$">
          <span class="filter-trigger v-link" (click)="openMultiEditDialog(selectedIds)" *ngIf="(editEnabled$ | async)">
            Multi Edit
          </span>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="isInventory && (selectedItemsIds$ | async) as selectedIds">
        <ng-container *ngIf="selectedIds.length  && editEnabled$">
          <span class="filter-trigger v-link" (click)="openMacdDialog(selectedIds)" *ngIf="(editEnabled$ | async)">
            Multi MACD
          </span>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="isInventory && (selectedItemsIds$ | async) as selectedIds">
        <ng-container *ngIf="selectedIds.length  && editEnabled$">
          <span class="filter-trigger v-link" (click)="openDisputeDialog(selectedIds)" *ngIf="(editEnabled$ | async)">
            Multi Dispute
          </span>
        </ng-container>
      </ng-container>
    </div>
    <div>
      <button type="button" (click)="exportTable('services.xlsx')">Export</button>

      <!-- beginning of custom worklist dropdown -->
      <div class="settings-dropdown-wrapper">
        <div>
          <div class="custom-worklist-button">
            <button type="button"> Custom Worklists</button>
          </div>
          <div class="dropdown-content columns-dropdown-content">
            <ul id="customWorklists" *ngIf="!hideList">
              <li class="add-new" (click)="manageCustomWorklist($event, null)">Add New</li>

              <!-- Favorites Section -->
              <li *ngIf="favoriteCustomWorklists().length > 0" class="section-header">
                Favorites
              </li>
              <li *ngFor="let item of (favoriteCustomWorklists())" class="worklist-item">
                  <span
                    matTooltip="Click to toggle Favorite" matTooltipPosition="above" [matTooltipShowDelay]=750
                    class="favorite-star"
                    [class.red]="item.favorite"
                    (click)="toggleFavorite($event, item)">★
                  </span>
                <span class="worklist-name" matTooltip="Click to change the worklist view" matTooltipPosition="above" [matTooltipShowDelay]=750
                      (click)="onCustomWorklistClicked(item)">
                    {{ item.name }}
                  </span>
                <span class="meta-info" matTooltip="Author and Last Modified Date" matTooltipPosition="above" [matTooltipShowDelay]=750>
                    {{ item.authorName + '  ' + (item.lastModifiedDate | date: 'MM/dd/yyyy') }}
                  </span>
                <button matTooltip="Only the Author can Edit a Custom Worklist" matTooltipPosition="above" [matTooltipShowDelay]=750
                        (click)="manageCustomWorklist($event, item)">Edit
                </button>
              </li>

              <!-- Available Section -->
              <li *ngIf="availableCustomWorklists().length > 0" class="section-header">
                Available
              </li>
              <li *ngFor="let item of (availableCustomWorklists())" class="worklist-item">
                  <span
                    matTooltip="Click to toggle Favorite" matTooltipPosition="above" [matTooltipShowDelay]=750
                    class="favorite-star"
                    [class.red]="item.favorite"
                    (click)="toggleFavorite($event, item)">★
                  </span>
                <span class="worklist-name" matTooltip="Click to change the worklist view" matTooltipPosition="above" [matTooltipShowDelay]=750
                      (click)="onCustomWorklistClicked(item)">
                    {{ item.name }}
                  </span>
                <span class="meta-info" matTooltip="Author and Last Modified Date" matTooltipPosition="above" [matTooltipShowDelay]=750>
                    {{ item.authorName + '  ' + (item.lastModifiedDate | date: 'MM/dd/yyyy') }}
                  </span>
                <button matTooltip="Only the Author can Edit a Custom Worklist" matTooltipPosition="above" [matTooltipShowDelay]=750
                        (click)="manageCustomWorklist($event, item)">Edit
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end of custom worklist dropdown -->

      <div class="settings-dropdown-wrapper">
        <div>
          <div class="dropdown-trigger">
            <button class="icon">
              <span class="material-symbols-outlined">
                menu
              </span>
            </button>
          </div>
          <div class="dropdown-content columns-dropdown-content">
            <ul>
              <li *ngFor="let col of (columns$ | async)" (click)="onColSelectClicked(col)">
                <mat-checkbox [ngModel]="!col.hidden"></mat-checkbox>
                {{ col.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <button *ngIf="!isInventory" class="icon" (click)="toggleSelectedView()">
        <span class="material-symbols-outlined">
          {{ (cardViewOn$ | async) ? 'view_list' : 'grid_view' }}
        </span>
      </button>
    </div>
  </div>
  <div class="content-wrapper">
    <!-- By adding the #table reference here, we are able to call functions belonging to the table elsewhere in this template. ex. table.toggleSelectedView() -->

    <div class="table-wrapper">

      <div class="loader" *ngIf="(isLoading$ | async)">
        <mat-spinner></mat-spinner>
      </div>
    <app-service-view-table
       [style.width]="selectedService ? 'calc(100% - 329px - 2em)' : '100%'"
       [columns]="(columns$ | async) || []"
       [updatedItem]="(updatedItem$ | async)"
       [tableData]="(tableData$ | async) || []"
       [tableTotal]="(tableTotal$ | async)"
       [showMultiEdit]="editEnabled"
       [draggable]="true"
       [cardViewSelected]="!!(cardViewOn$ | async)"
       [searchCriteria]="(searchCriteria$ | async)"
       [selectedIds]="!editEnabled ? [] : (selectedItemsIds$ | async)"
       (reorderColumns)="reorderColumns($event)"
       (setActive)="onSelectAllClick([$event])"
       (setActiveAll)="onSelectAllClick($event)"
       (rowClick)="onServiceClicked($event)"
       (rowDblClick)="onServiceDblClicked($event)"
       (changeSortClicked)="onChangeSortClicked($event)"
       (pageClicked)="onFilterChanged($event, 'offset')"
       (rowRightClick)="onServiceRightClicked($event)"
       (limitChanged)="onLimitChanged($event);">

      <!-- Card Header -->
      <ng-template #cardHeader let-card>
        <div>
          <p>{{card.data.clientLocationId}}</p>
          <p>{{card.data.type}}</p>
        </div>
        <div>
          <p>{{card.data.status}}</p>
          <!-- Card Icons -->
          <div class="card-header-icons">
            <span *ngIf="card.data.showNoteIcon" class="material-symbols-outlined">
              event_busy
            </span>
            <span *ngIf="card.data.showJeopIcon" class="material-symbols-outlined">
              offline_bolt
            </span>
            <span *ngIf="card.data.showOpenDisconnectIcon" class="material-symbols-outlined">
              power_off
            </span>
            <span *ngIf="card.data.showOpenMacIcon" class="material-symbols-outlined">
              repeat
            </span>
            <span *ngIf="card.data.showOpenDisputeIcon " class="material-symbols-outlined">
              feedback
            </span>
            <span *ngIf="card.data.linked" class="material-symbols-outlined">
              link
            </span>
            <span *ngIf="card.data.bundled" class="material-symbols-outlined">
              shop_two
            </span>
          </div>
        </div>
      </ng-template>

      <!-- Card Body -->
      <ng-template #cardBody let-card>
        <div *ngIf="card.meta.page === 0">
          <div class="card-data" *ngIf="card.data.parentCompanyName">
            <p class="card-header">Master Customer:</p>
            <p class="card-text" [matTooltip]="card.data.parentCompanyName">{{card.data.parentCompanyName}}</p>
          </div>
          <div class="card-data">
            <p class="card-header">End Customer:</p>
            <p class="card-text" [matTooltip]="card.data.companyName">{{card.data.companyName}}</p>
          </div>
          <div class="card-data">
            <p class="card-header">Address:</p>
            <p class="card-text" [matTooltip]="card.data.address">{{card.data.address}}</p>
          </div>
          <div class="card-data">
            <p class="card-header">Provider:</p>
            <p class="card-text" [matTooltip]="card.data.provider">{{card.data.provider}}</p>
          </div>
          <div class="card-data">
            <p class="card-header">Speed:</p>
            <p class="card-text" [matTooltip]="card.data.speed">{{card.data.speed}}</p>
          </div>
          <div class="card-data">
            <p class="card-header">Location Info:</p>
            <p class="card-text" [matTooltip]="card.data.clientLocationInfo">{{card.data.clientLocationInfo}}</p>
          </div>
          <div class="card-data">
            <p class="card-header">Location Type:</p>
            <p class="card-text" [matTooltip]="card.data.clientLocationType">{{card.data.clientLocationType}}</p>
          </div>
          <div class="card-data" *ngIf="card.data.greatestMilestoneName">
            <p class="card-header">{{card.data.greatestMilestoneName}}:</p>
            <p class="card-text" [matTooltip]="(card.data.greatestMilestoneDate | date:'M/d/yy':'UTC') || ''">{{card.data.greatestMilestoneDate | date:'M/d/yy':'UTC'}}</p>
          </div>
        </div>

        <div *ngIf="card.meta.page === 1">
          <div class="card-data">
            <p class="card-header">Provisioner:</p>
            <p class="card-text" [matTooltip]="card.data.provisioner">{{card.data.provisioner}}</p>
          </div>
          <div class="card-data">
            <p class="card-header">Client Project Manager:</p>
            <p class="card-text" [matTooltip]="card.data.projectManager">{{card.data.projectManager}}</p>
          </div>
          <div class="card-data">
            <p class="card-header">i90 Project Manager:</p>
            <p class="card-text" [matTooltip]="card.data.vertekProjectManager">{{card.data.projectManager}}</p>
          </div>
          <div class="card-data">
            <p class="card-header">Customer Requested Install Date:</p>
            <p class="card-text" [matTooltip]="(card.data.customerRequestedInstall | date:'M/d/yy':'UTC') || ''">{{card.data.customerRequestedInstall | date:'M/d/yy':'UTC'}}</p>
          </div>
          <div class="card-data">
            <p class="card-header">Last Open Jeopardy:</p>
            <p class="card-text" [matTooltip]="card.data.openJeop">{{card.data.openJeop}}</p>
          </div>
          <div class="card-data">
            <p class="card-header">Latest Note:</p>
            <p class="card-text" [matTooltip]="card.data.latestNote">{{card.data.latestNote}}</p>
          </div>
        </div>
      </ng-template>

      <ng-template #cardFooter let-card>
        <div class="card-progress-bar">
          <div [style.width]="getProgressBarWidth(card.data)" [style.backgroundColor]="getProgressBarColor(card.data)"></div>
        </div>
      </ng-template>
    </app-service-view-table>

    <!-- Preview Pane -->
    <div id="previewPane" *ngIf="selectedService">
      <div class="preview-pane-header">
        <div>
          <span class="material-symbols-outlined" (click)="onClosePreviewPaneClicked()">
            chevron_left
          </span>
          <p>Service: {{selectedService.id}}</p>
        </div>
        <div class="v-link" (click)="onServiceDblClicked(selectedService)">
          Full Details
        </div>
      </div>
      <div class="container">
        <div *ngIf="!isInventory" class="preview-pane-body">
          <div class="labelBox">

            <div class="bodyText" *ngIf="selectedService.parentCompanyName">
              <p class="labels">Master Customer:</p>
              <p class="detailText">{{selectedService.parentCompanyName}}</p>
            </div>

            <div class="bodyText">
              <p class="labels">End Customer:</p>
              <p class="detailText">{{selectedService.companyName}}</p>
            </div>

            <div class="bodyText">
              <p class="labels">Provisioner:</p>
              <app-dropdown class="proDropDown"
                            [placeholder]="selectedService.provisioner"
                            [options]="(provisionerOptions$ | async) || []"
                            *ngIf="editEnabled && !terminalServiceStatuses.includes(selectedService.status)"
                            (onSelectedChanged)="this.selectedService.provisioner = $event"
              ></app-dropdown>
              <p class="detailText" *ngIf="!editEnabled || terminalServiceStatuses.includes(selectedService.status)">{{selectedService.provisioner}}</p>
            </div>

            <div class="bodyText">
              <p class="labels">Client Location ID:</p>
              <p class="detailText">{{selectedService.clientLocationId}}</p>
            </div>

            <div class="bodyText">
              <p class="labels">Address:</p>
              <p class="detailText long">{{selectedService.address}}</p>
            </div>

            <div class="bodyText">
              <p class="labels">Service Status:</p>
              <p class="detailText">{{selectedService.status}}</p>
            </div>
            <div class="bodyText">
              <p class="labels">Service:</p>
              <p class="detailText">{{selectedService.orderType}}</p>
            </div>
            <div class="bodyText">
              <p class="labels">Provider:</p>
              <p class="detailText">{{selectedService.provider}}</p>
            </div>
            <div class="bodyText">
              <p class="labels">Speed:</p>
              <p class="detailText">{{selectedService.speed}}</p>
            </div>
          </div>
          <div class="bodyText">
            <p class="labels">Follow Up Date:</p>
            <p class="detailText" *ngIf="!editEnabled || terminalServiceStatuses.includes(selectedService.status)">{{selectedService.followUpDate | date:'M/d/yy':'UTC'}}</p>
            <app-datepicker class="proDropDown" [(date)]="selectedService.followUpDate" name="followUpDate" *ngIf="editEnabled && !terminalServiceStatuses.includes(selectedService.status)"
                            (dateChange)="this.selectedService.followUpDate = $event"></app-datepicker>
          </div>
          <app-note #note
                    type="service"
                    [parentId]="selectedService.id.toString()"
                    [serviceName]="selectedService.type"
                    [maxNotes]="2">
          </app-note>

          <mat-divider></mat-divider>
          <app-jeops type="service"
                     [parentId]="selectedService.id"
                     [orderId]="selectedService.orderId"
                     [companyId]="selectedService.companyId"
                     [maxJeops]="5">
          </app-jeops>
        </div>

          <!-- Inventory Preview Pane Body -->
          <div *ngIf="isInventory" class="preview-pane-body">
            <div class="label-box">
              <div class="bodyText">
                <p class="labels">Master Customer:</p>
                <p class="detailText">{{selectedService.parentCompanyName}}</p>
              </div>
              <div class="bodyText">
                <p class="labels">End Customer:</p>
                <p class="detailText">{{selectedService.companyName}}</p>
              </div>
              <div class="bodyText">
                <p class="labels">Client Location ID:</p>
                <p class="detailText">{{selectedService.clientLocationId}}</p>
              </div>
              <div class="bodyText">
                <p class="labels">Address:</p>
                <p class="detailText">{{selectedService.address}}</p>
              </div>
              <div class="bodyText">
                <p class="labels">Service Type:</p>
                <p class="detailText">{{selectedService.type}}</p>
              </div>
              <div class="bodyText">
                <p class="labels">Open Order Type:</p>
                <p class="detailText">{{selectedService.orderType}}</p>
              </div>
              <div class="bodyText">
                <p class="labels">Open Sub Order Type:</p>
                <p class="detailText">{{selectedService.subOrderType}}</p>
              </div>
              <div class="bodyText">
                <p class="labels">Provider:</p>
                <p class="detailText">{{selectedService.provider}}</p>
              </div>
              <div class="bodyText">
                <p class="labels">Speed:</p>
                <p class="detailText">{{selectedService.speed}}</p>
              </div>
              <div class="bodyText">
                <p class="labels">Summary Bill:</p>
                <p class="detailText">{{selectedService.summaryBill}}</p>
              </div>
              <div class="bodyText">
                <p class="labels">Provider Circuit ID:</p>
                <p class="detailText">{{selectedService.providerCircuitId}}</p>
              </div>
              <div class="bodyText">
                <p class="labels">Service MRC:</p>
                <p class="detailText">{{selectedService.mrc}}</p>
              </div>
              <div class="bodyText clickable" (click)="onDisputeOpenClicked()">
                <p class="labels">Dispute Open:</p>
                <p class="detailText">{{selectedService.disputeTypes?.replaceAll(',', ', ') || ''}}</p>
              </div>
            </div>
            <app-note #note
                      type="service"
                      [parentId]="selectedService.id.toString()"
                      [maxNotes]="0">
            </app-note>
          </div>

        <div class="actions">
          <!--          TODO unfreeze it when needed-->
          <div class="additionalActions">

          </div>
          <button class="v-button updateButton" (click)="clickUpdate()" *ngIf="editEnabled && !isInventory">Update</button>
        </div>

      </div>
    </div>
  </div>

  <div class="context-menu" #contextMenu [ngStyle]="contextMenuStyle">
    <ul>
      <li (click)="onServiceDblClicked(contextMenuService)">Open</li>
      <li (click)="onOpenInNewTabClicked()">Open in new tab</li>
    </ul>
  </div>
</div>
