<app-application-wrapper></app-application-wrapper>
<div class="configuration">
  <!-- Header -->
  <div class="header">
    <p>Configuration</p>
  </div>
  <!-- Navigation Breadcrumbs -->
  <div class="breadcrumbs">
    <p (click)="onTenantCrumbClicked()">{{(selectedTenant$ | async)?.name}}</p>
  </div>

  <!-- Tabs -->
  <div class="tabs">
    <p
      *ngFor="let tab of (tabs$ | async)"
      [ngClass]="{'selected-tab': (selectedTab$ | async) == tab}"
      (click)="onTabClicked(tab)">
      {{tab}}
    </p>
  </div>

  <router-outlet></router-outlet>

</div>