.application-wrapper {
  display: flex;
  flex-direction: row;
  background: linear-gradient(125.81deg, #272727 2.3%, #3E3E3E 100%);
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  height: 77px;
  // width: 100vw;
  // max-width: 100%;
  // position: absolute;
  justify-content: space-between;

  .selected-button {
    background: #5DCADE;
  }

  .material-symbols-outlined {
    font-size: 18px;
  }

  .vertek-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
  }

  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    background: none;
    border-radius: 6px;
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
  }

  button:hover {
    background: #3871C1;
  }


  .left-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 18px;
    position: absolute;
    height: 34px;
    left: 202px;
    top: 21px;
  }

  .right-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    margin-right: 50px;
    .activeMode {
      background-color: #64BB3A;
    }
  }

  .icon-button {
    padding: 6px;
    border-radius: 10px;

    .mat-badge-content {
      background: #FD0304;
    }
  }

  .settings-dropdown-wrapper {
    cursor: pointer;
    color: white;
    font-weight: 500;
    .dropdown-trigger > span {
      vertical-align: bottom;
    }
    .dropdown-content {
      width: 160px;
      z-index: 3;
    }
  }

  li {
    position: relative; /* Needed for positioning the sublist */
  }

  .sublist {
    display: none; /* Hide the sublist by default */
    position: absolute;
    top: 0;
    right: 100%; /* Position the sublist to the left of the main list item */
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
  }

  li:hover .sublist {
    display: block;
  }

}

.about-dialog-container {
  display: flex;
  flex-direction:column;
  gap: .1em;
  .version {
    margin: auto;
  }
  .release-notes-link {
    margin: auto;
    color: #5DCADE;
    cursor: pointer
  }
}
