<form #locationForm="ngForm" class="form" *ngIf="selectedLocationOrService$ | async as location">
  <div class="col">
    <div class="header">
      <p>Commissions</p>
    </div>
    <div class="content">
      <div class="field">
        <p>Commissionable MRC</p>
        <input [ngModel]="location.commissionableMrc | vtkCurrency:true"
          name="commissionableMrc"
          pattern="(?:\+|\-|\$)?\d{1,}(?:\,?\d{3})*(\.[0-9][0-9]?)?"
          [disabled]="true">
      </div>
      <div class="field">
        <p>Commissionable NRC</p>
        <input [ngModel]="location.commissionableNrc | vtkCurrency:true"
          name="commissionableNrc"
          pattern="(?:\+|\-|\$)?\d{1,}(?:\,?\d{3})*(\.[0-9][0-9]?)?"
          [disabled]="true">
      </div>
      <div class="field">
        <p>Commissionable ARC</p>
        <input [ngModel]="location.commissionableArc | vtkCurrency:true"
          name="commissionableArc"
          pattern="(?:\+|\-|\$)?\d{1,}(?:\,?\d{3})*(\.[0-9][0-9]?)?"
          [disabled]="true">
      </div>
      <div class="field">
        <p>Gross Profit MRC Override</p>
        <input [ngModel]="location.grossProfitMrcOverride | vtkCurrency:true"
          name="grossProfitMrcOverride"
          pattern="(?:\+|\-|\$)?\d{1,}(?:\,?\d{3})*(\.[0-9][0-9]?)?"
          [disabled]="true">
      </div>
      <div class="field">
        <p>Gross Profit MRC Override</p>
        <input [ngModel]="location.grossProfitOverride | vtkCurrency:true"
          name="grossProfitOverride"
          pattern="(?:\+|\-|\$)?\d{1,}(?:\,?\d{3})*(\.[0-9][0-9]?)?"
          [disabled]="true">
      </div>
      <div class="field">
        <p>Rep Gross Profit Prodution</p>
        <input [ngModel]="location.repGrossProfitProduction | vtkCurrency:true"
          name="repGrossProfitProduction"
          pattern="(?:\+|\-|\$)?\d{1,}(?:\,?\d{3})*(\.[0-9][0-9]?)?"
          [disabled]="true">
      </div>
      <div class="field">
        <p>Total Contract Value</p>
        <input [ngModel]="location.totalContractValue | vtkCurrency:true"
          name="totalContractValue"
          pattern="(?:\+|\-|\$)?\d{1,}(?:\,?\d{3})*(\.[0-9][0-9]?)?"
          [disabled]="true">
      </div>
      <div class="field">
        <p>Uplift MRC</p>
        <input [ngModel]="location.upliftMrc | vtkCurrency:true"
          name="upliftMrc"
          pattern="(?:\+|\-|\$)?\d{1,}(?:\,?\d{3})*(\.[0-9][0-9]?)?"
          [disabled]="true">
      </div>
      <div class="field">
        <p>Subaccount MRC</p>
        <input [ngModel]="location.subaccountMrc | vtkCurrency:true"
          name="subaccountMrc"
          pattern="(?:\+|\-|\$)?\d{1,}(?:\,?\d{3})*(\.[0-9][0-9]?)?"
          [disabled]="true">
      </div>
    </div>
  </div>
</form>